.modal table {
    margin-bottom: 5px;
}

.panel-sites {
    ul {
        margin: 0;
    }
}

.indent {
    margin-left: 20px;
}

.catalog-display-options-wrap ul {
    display: flex;
    align-items: stretch;
    /* Default */
    justify-content: space-between;
    width: 100%;
    /* background: #cacaca; */
    margin: 0;
    padding: 0;
    list-style: none;
}