{% load socialaccount %}
{% load accounts_tags %}

{% get_providers as socialaccount_providers %}
{% get_current_provider_ids as current_providers %}

{% for provider in socialaccount_providers %}

{% if provider.id not in current_providers %}

    {% if provider.id == "openid" %}

        {% include 'socialaccount/snippets/provider_button_openid.html' %}

    {% elif provider.id == 'openid_connect' %}

        {% include 'socialaccount/snippets/provider_button_openid_connect.html' %}

    {% elif provider.id == 'orcid' %}

        {% include 'socialaccount/snippets/provider_button_orcid.html' %}

    {% else %}

        {% include 'socialaccount/snippets/provider_button_generic.html' %}

    {% endif %}

{% endif %}

{% endfor %}
