.flip {
    transform: rotate(180deg) scaleX(-1);
}

.w-100 {
    width: 100%;
}
.mt-0 {
    margin-top: 0;
}
.mt-5 {
    margin-top: 5px;
}
.mt-10 {
    margin-top: 10px;
}
.mt-20 {
    margin-top: 20px;
}
.mr-0 {
    margin-right: 0;
}
.mr-5 {
    margin-right: 5px;
}
.mr-10 {
    margin-right: 10px;
}
.mr-20 {
    margin-right: 20px;
}
.mb-0 {
    margin-bottom: 0;
}
.mb-5 {
    margin-bottom: 5px;
}
.mb-10 {
    margin-bottom: 10px;
}
.mb-20 {
    margin-bottom: 20px;
}
.ml-0 {
    margin-left: 0;
}
.ml-5 {
    margin-left: 5px;
}
.ml-10 {
    margin-left: 10px;
}
.ml-20 {
    margin-left: 20px;
}

.pt-0 {
    padding-top: 0;
}
.pt-10 {
    padding-top: 10px;
}
.pt-20 {
    padding-top: 20px;
}
.pr-0 {
    padding-right: 0;
}
.pr-10 {
    padding-right: 10px;
}
.pr-20 {
    padding-right: 20px;
}
.pb-0 {
    padding-bottom: 0;
}
.pb-10 {
    padding-bottom: 10px;
}
.pb-20 {
    padding-bottom: 20px;
}
.pl-0 {
    padding-left: 0;
}
.pl-10 {
    padding-left: 10px;
}
.pl-20 {
    padding-left: 20px;
}
