{% extends 'core/export.html' %}
{% load i18n %}

{% block body %}

    <h1>{% trans 'Conditions' %}</h1>

    {% for condition in conditions %}

    <h2>{% trans 'Condition' %}</h2>

    <p>
        <strong>{% trans 'Key' %}:</strong> {{ condition.key }}
    </p>

    {% if condition.comment %}

    <p>
        <strong>{% trans 'Comment' %}:</strong> {{ condition.comment }}
    </p>

    {% endif %}

    <p>
        <strong>{% trans 'Source' %}:</strong> {{ condition.source_path }}
    </p>

    <p>
        <strong>{% trans 'Relation' %}:</strong> {{ condition.relation_label }}
    </p>

    {% if condition.target_label %}
    <p>
        <strong>{% trans 'Target' %}:</strong> {{ condition.target_label }}
    </p>
    {% endif %}

    {% endfor %}

{% endblock %}
