[run]
source = .

[report]
omit =
    DMPwerkzeug/wsgi.py
    DMPwerkzeug/settings/*
    apps/core/management/commands/coverage.py
    env/*
exclude_lines =
    raise Exception
    except ImportError:
    