__pycache__
*.pyc
*~
*.swp
.DS_Store

testing/config/settings/local.py
testing/log/
.pytest*/

static_root
media_root
components_root

env
env2
env3

Makefile

.coverage
.coverage.*
htmlcov

node_modules

build
dist
*.egg-info

.imdone/

.pytest_cache
.ruff_cache
.on-save.json

rdmo/management/static

rdmo/core/static/core/js/base.js
rdmo/core/static/core/css/base.css
rdmo/core/static/core/fonts

rdmo/projects/static/projects/css/interview.css
rdmo/projects/static/projects/css/projects.css
rdmo/projects/static/projects/fonts/
rdmo/projects/static/projects/js/interview.js
rdmo/projects/static/projects/js/projects.js

screenshots
