testing/config/settings/local.py
testing/log/
.pytest*/

static_root
media_root
components_root

docs/_build*

__pycache__
*.pyc
*~
*.swp
.DS_Store

env
env2
env3

.coverage
htmlcov

node_modules

build
dist
*.egg-info

.imdone/

.pytest_cache
.on-save.json
