testing/config/settings/local.py
testing/log/
.pytest*/

static_root
media_root
components_root

docs/_build*

__pycache__
*.pyc
*~
*.swp
.DS_Store
.ruff_cache

env
env2
env3

.coverage
.coverage.*
htmlcov

node_modules

build
dist
*.egg-info

.imdone/

.pytest_cache
.on-save.json

rdmo/management/static

rdmo/core/static/core/js/base*.js
rdmo/core/static/core/fonts
rdmo/core/static/core/css/base.css

rdmo/projects/static/projects/js/*.js
rdmo/projects/static/projects/fonts
rdmo/projects/static/projects/css/*.css

screenshots
