coverage==5.5
defusedcsv~=2.0.0
defusedxml~=0.7.1
Django~=3.2.14
django-allauth~=0.51.0
django-cleanup~=6.0.0
django-compressor==4.0
django-extensions~=3.2.0
django-filter~=21.1
django-libsass==0.9
django-mathfilters~=1.0.0
django-mptt~=0.13.4
django-rest-swagger~=2.2.0
django-settings-export~=1.2.1
django-widget-tweaks~=1.4.8
djangorestframework~=3.12.4
drf-extensions~=0.7.0
iso8601~=1.0.2
jsonfield~=3.1.0
Markdown~=3.3.7
pypandoc==1.8.1
pytest~=6.2.4
pytest-cov~=2.12.1
pytest-django~=4.4.0
pytest-dotenv~=0.5.2
pytest-mock~=3.6.1
pytest-pythonpath~=0.7.3
rules==3.3
