coverage~=4.5
defusedxml~=0.6
Django~=2.2
django-allauth~=0.39
django-compressor~=2.3
django-extensions~=2.1
django-filter~=2.2
django-libsass~=0.7
django-mathfilters==1.0.0
django-mptt~=0.10
django-rest-swagger~=2.2
django-settings-export~=1.2
django-widget-tweaks~=1.4
djangorestframework~=3.10
drf-extensions~=0.5
iso8601~=0.1
jsonfield~=2.0
Markdown~=3.1
pypandoc~=1.4
pytest~=5.3
pytest-cov~=2.8
pytest-django~=3.7
pytest-dotenv~=0.4
pytest-mock~=1.13
pytest-pythonpath~=0.7
rules~=2.0
