{% load i18n core_tags %}{% trans "Dear" %} {% full_name user %},

{% blocktrans trimmed %}
You are receiving this email because you requested that your password be reset
on the {{ domain }}. If you do not wish to reset your password, please ignore
this message.
{% endblocktrans %}

{% blocktrans trimmed %}
To reset your password, please click the following link, or copy and paste it
into your web browser:
{% endblocktrans %}

    {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uid token %}

{% trans "Your username, in case you've forgotten:" %} {{ user.username }}

{% trans "Sincerely" %},
    DMPwerkzeug Admins
