{% extends 'core/base.html' %}
{% load i18n %}

{% block content %}

<h2>{% trans "Password reset" %}</h2>
<p>
    {% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}
</p>

<form method="post" action="">
    {% csrf_token %}

    {% include 'core/_form_fields.html' %}

    <input type="submit" value="{% trans 'Reset my password' %}" class="btn btn-primary" />
    <input type="hidden" name="next" value="{{ next }}" />
</form>

{% endblock %}
