{% extends 'core/page.html' %}
{% load i18n core_tags %}

{% block sidebar %}

    <h3>{% trans 'Options' %}</h3>

    <ul class="list-unstyled">
        <li>{% internal_link _('Create new catalog') 'catalog_create' %}</li>
    </ul>

{% endblock %}

{% block page %}

<h2>{% trans 'Catalogs overview' %}</h2>

<table class="table">
    <thead>
        <tr>
            <th>Catalog</th>
            <th>Created</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
{% for catalog in catalogs %}
        <tr>
            <td>
                <a href={% url 'catalog' catalog.pk %}>{{ catalog.title }}</a>
            </td>
            <td>{{ catalog.created }}</td>
            <td class="text-right">
                <a href="{% url 'catalog_update' catalog.pk %}?next={% url 'catalogs' %}" class="small glyphicon glyphicon-pencil"></a>
                <a href="{% url 'catalog_delete' catalog.pk %}?next={% url 'catalogs' %}" class="small glyphicon glyphicon-trash"></a>
            </td>
        </tr>
{% endfor %}
    </tbody>
</table>

{% endblock %}
