{% extends 'core/page.html' %}
{% load i18n %}
{% load core_tags %}

{% block page %}

    <h2>{% trans 'Delete catalog' %}</h2>

    <p>
        {% blocktrans %}You are about to permanently delete the catalog <strong>{{ object }}</strong>.{% endblocktrans %}
    </p>

{% if object.sections.all %}

    <p>
        {% trans 'This will also delete the following items:' %}
    </p>

    <ul>

{% for section in object.sections.all %}

        <li>
            <strong>Section</strong> {{ section.title }}
            <ul>

{% for subsection in section.subsections.all %}

                <li>
                    <strong>Subsection</strong> {{ subsection.title }}
                    <ul>

{% for entity in subsection.entities.all %}
{% if entity.is_set %}

                        <li>
                            <strong>QuestionSet</strong> {{ entity.questionset.title }}
                            <ul>

{% for question in entity.questionset.questions.all %}

                                <li><strong>Question</strong> {{ question.text }}</li>

{% endfor %}

                            </ul>
                        </li>

{% elif not entity.has_set %}

                        <li><strong>Question</strong> {{ entity.question.text }}</li>

{% endif %}
{% endfor %}

                    </ul>
                </li>

{% endfor %}

            </ul>
        </li>

{% endfor %}

    </ul>

{% endif %}

    <p class="text-danger">
        {% trans 'This action cannot be undone!' %}
    </p>

{% bootstrap_delete_form with submit=_('Delete catalog') %}

{% endblock %}
