{% extends 'core/page.html' %}
{% load i18n %}

{% block page %}

    <h2>{% trans 'Delete question set ' %}</h2>

    <p>
        {% blocktrans %}You are about to permanently delete the question set <strong>{{ object }}</strong>.{% endblocktrans %}
    </p>


{% if object.questions.all %}

    <p>
        {% trans 'This will also delete the following items:' %}
    </p>

    <ul>

{% for question in object.questions.all %}

        <li><strong>Question</strong> {{ question.text }}</li>

{% endfor %}

    </ul>

{% endif %}

<p class="text-danger" style="margin-bottom: 20px;">
    {% trans 'This action cannot be undone!' %}
</p>

{% include 'core/_delete_form.html' with submit_value=_('Delete question') %}

{% endblock %}
