{% extends 'core/page.html' %}
{% load i18n staticfiles core_tags %}

{% block head %}
<script src="{% static 'viz.js/viz.js' %}"></script>
<script>
$(document).ready(function() {
    $.get('{% url 'questions_sequence_gv' %}', function(data) {
        // render dot string
        var svg = Viz(data, {format: "svg", engine: "dot"});
        $('#canvas').append(svg);
    });
});
</script>
<style>
    #canvas {
        width: 100%;
        max-height: 600px;
        text-align: center;
        overflow: auto;
        border: 2px solid #ddd;
    }
</style>
{% endblock %}

{% block page %}

<h2>{% trans 'Sequence' %}</h2>

<div id="canvas"></div>

{% endblock %}
