{% extends 'core/page.html' %}
{% load i18n core_tags %}

{% block page %}

<h2>{% trans "Login" %}</h2>

<form method="post" action="">
    {% csrf_token %}

    {% include 'core/_form_fields.html' %}

    {% with _('Login') as submit_value %}
    {% include 'core/_form_submit.html' %}
    {% endwith %}

    <input type="hidden" name="next" value="{{ next }}" />
</form>

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        {% if form.errors %}
            <p class="text-danger">{% trans "Your login was not successful. Maybe you missed a field or your username and password didn't match. Please try again." %}</p>
        {% endif %}
        <p>
            {% internal_link 'registration_register' _('Register for a new account') %}
        </p>

        <p>
            {% internal_link 'password_reset' _('Help, i forgot my password') %}
        </p>
    </div>
</div>

{% endblock %}
