{% extends 'core/page.html' %}
{% load i18n %}

{% block page %}

<h2>{% trans "Update profile" %}</h2>
<p>
    {% trans "Please enter your updated account information." %}
</p>

<form method="post" action="">
    {% csrf_token %}

    {% with user_form as form %}
    {% include 'core/_form_fields.html' %}
    {% endwith %}

    {% with profile_form as form %}
    {% include 'core/_form_fields.html' %}
    {% endwith %}

    {% with _('Update profile') as submit_value %}
    {% include 'core/_form_submit.html' %}
    {% endwith %}

    <input type="hidden" name="next" value="{{ next }}" />
</form>

{% endblock %}
