{% load static %}
{% load compress %}
{% load i18n %}
{% load core_tags %}

{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">

    <title>My Catalog Tabl</title>
  </head>
  <body>
    <div class="container">
      <div class="px-5 my-5 text-center">
        <h1>My Movie Collection</h1>
        <p>A sample project that shows how to support modal forms with Django+HTMX with minimal JavaScript code.</p>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>Title</th>
            <th>Year</th>
            <th>Rating</th>
            <th></th>
          </tr>
        </thead>
        <tbody hx-trigger="load, movieListChanged from:body" hx-get="{% url 'movie_list' %}" hx-target="this">
          <tr>
            <td class="spinner-border" role="status">
              <span class="visually-hidden">Loading...</span>
            </td>
          </tr>
        </tbody>
      </table>
      <button hx-get="{% url 'add_movie' %}" hx-target="#dialog" class="btn btn-primary">
        Add a movie
      </button>
    </div>

    <!-- Placeholder for the modal -->
    <div id="modal" class="modal fade">
      <div id="dialog" class="modal-dialog" hx-target="this"></div>
    </div>

    <!-- Empty toast to show the message -->
    <div class="p-3" style="position: fixed; top: 0; right:0;">
      <div id="toast" class="toast align-items-center text-white bg-success border-0">
        <div class="d-flex">
          <div id="toast-body" class="toast-body"></div>
          <button type="button" class="close m-2" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
    </div>

    <!-- Scripts: Bootstraps, HTMX, and custom JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/htmx.org@1.6.1/dist/htmx.min.js"></script>
    <script src="{% static "dialog.js" %}"></script>
    <script src="{% static "toast.js" %}"></script>
  </body>
</html>
