$icon-font-path: "bootstrap-sass/assets/fonts/bootstrap/";
@import '~bootstrap-sass';
@import '~font-awesome/css/font-awesome.css';

.mt-0 {
    margin-top: 0;
}
.mt-10 {
    margin-top: 10px;
}
.mt-20 {
    margin-top: 20px;
}
.mr-0 {
    margin-right: 0;
}
.mr-10 {
    margin-right: 10px;
}
.mr-20 {
    margin-right: 20px;
}
.mb-0 {
    margin-bottom: 0;
}
.mb-10 {
    margin-bottom: 10px;
}
.mb-20 {
    margin-bottom: 20px;
}
.ml-0 {
    margin-left: 0;
}
.ml-10 {
    margin-left: 10px;
}
.ml-20 {
    margin-left: 20px;
}

.pt-0 {
    padding-top: 0;
}
.pt-10 {
    padding-top: 10px;
}
.pt-20 {
    padding-top: 20px;
}
.pr-0 {
    padding-right: 0;
}
.pr-10 {
    padding-right: 10px;
}
.pr-20 {
    padding-right: 20px;
}
.pb-0 {
    padding-bottom: 0;
}
.pb-10 {
    padding-bottom: 10px;
}
.pb-20 {
    padding-bottom: 20px;
}
.pl-0 {
    padding-left: 0;
}
.pl-10 {
    padding-left: 10px;
}
.pl-20 {
    padding-left: 20px;
}

.form-group {
    .react-select__control {
        min-height: 34px;
    }
    .react-select__value-container {
        padding: 0 14px;
    }
    .react-select__input-container {
        margin: 0;
        padding: 0;
    }
    .react-select__indicator {
        padding: 6px;
    }
    .react-select__option {
        padding: 0 14px;
    }
}

.management {
    .panel {
        p {
            margin-bottom: 5px;
        }
        p:last-child {
            margin-bottom: 0;
        }
    }
}

.codemirror.form-control {
    height: auto;
    padding: 0;

    .cm-editor {
        border-radius: 4px;
    }
    .cm-gutter {
        background-color: white;
    }
    .cm-focused {
        // copy the .form-control:focus from bootstrap
        border-color: #66afe9;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    }
}
