.management {
    .card-body {
        padding: var(--bs-card-cap-padding-y) var(--bs-card-cap-padding-x);

        .text-warning,
        .text-danger {
            font-size: 0.85em;
        }
    }

    .modal-body {
        > p:last-child {
            margin-bottom: 0;
        }
    }

    .import-card .card-body {
        padding: 0.3rem 0.75rem;
    }

    .drag {
        color: var(--rdmo-color-link);

        &:hover {
            color: var(--rdmo-color-link-hover);
        }

        cursor: grab;
    }

    .drop {
        position: absolute;
        height: 0.5rem; // same as mb-2
        left: 0;
        right: 0;

        display: flex;
        flex-direction: column;
        justify-content: center;

        &::after {
            content: ' ';
            height: 2px;
            width: 100%;

            display: block;
            background-color: transparent;
        }

        &.over {
            &::after {
                background-color: var(--rdmo-color-link);
            }
        }
    }
    .drop-in {
        &.over .card {
            border: 2px solid var(--rdmo-color-link);

            .card-header {
                // adjust for the thicker border
                padding: calc(var(--bs-card-cap-padding-y) - 1px) calc(var(--bs-card-cap-padding-x) - 1px);
            }
        }
    }
}

.react-select .form-control {
    padding: 0;

    &.is-invalid {
        padding-right: 1.6em;

        &:hover, &:focus {
            border-color: var(--bs-danger);
        }
    }

    &.react-select__control--menu-is-open,
    &.react-select__control--is-focused {
        &.is-invalid {
            border-color: var(--bs-primary);
        }
    }
}

.codemirror.form-control {
    height: auto;
    padding: 0;

    border-radius: var(--bs-border-radius);

    .cm-editor,
    .cm-scroller,
    .cm-gutters {
        border-radius: var(--bs-border-radius);
    }
    .cm-gutter {
        background-color: var(--bs-light);
    }
    .cm-focused {
        // copy the .form-control:focus from bootstrap
        border-color: rgb(134, 182.5, 254);
        outline: 0;
        box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
    }

    &.disabled {
        .cm-scroller {
            background-color: var(--bs-secondary-bg);
        }
    }
}

.field-diff {
    table[class*="react-diff-"][class*="diff-container"] {
        margin: 0;
        border-collapse: separate;  // needed for border radius since this is a table
        border-spacing: 0;

        tr {
            td[class*="marker"] {
                border-left: var(--bs-card-border-width) solid var(--bs-card-border-color);
            }
            td[class*="content"] {
                border-right: var(--bs-card-border-width) solid var(--bs-card-border-color);
            }
            &:first-child {
                td[class*="marker"] {
                    border-top: var(--bs-card-border-width) solid var(--bs-card-border-color);
                    border-left: var(--bs-card-border-width) solid var(--bs-card-border-color);
                    border-top-left-radius: var(--bs-border-radius);
                }
                td[class*="content"] {
                    border-top: var(--bs-card-border-width) solid var(--bs-card-border-color);
                    border-right: var(--bs-card-border-width) solid var(--bs-card-border-color);
                    border-top-right-radius: var(--bs-border-radius);
                }
            }
            &:last-child {
                td[class*="marker"] {
                    border-bottom: var(--bs-card-border-width) solid var(--bs-card-border-color);
                    border-left: var(--bs-card-border-width) solid var(--bs-card-border-color);
                    border-bottom-left-radius: var(--bs-border-radius);
                }
                td[class*="content"] {
                    border-bottom: var(--bs-card-border-width) solid var(--bs-card-border-color);
                    border-right: var(--bs-card-border-width) solid var(--bs-card-border-color);
                    border-bottom-right-radius: var(--bs-border-radius);
                }
            }
        }

        // Target elements with classes containing "react-diff-", and "marker"
        // Target elements with classes containing "react-diff-", and "content"
        [class*="marker"],
        [class*="content"] {
            padding: 0.375rem 0.75rem;  // same as form-control
            vertical-align: top;
            pre {
                padding: 5px 10px;
                border-radius: var(--bs-border-radius);
                font-size: 13px;
                line-height: 18px;
                background-color: #fff;
            }
        }

        [class*="marker"] {
            padding-right: 0;
        }
    }
}
