$icon-font-path: "bootstrap-sass/assets/fonts/bootstrap/";
@import '~bootstrap-sass';
@import '~font-awesome/css/font-awesome.css';
@import 'rdmo/core/assets/scss/variables';

.form-group {
    .react-select__control {
        min-height: 34px;
    }
    .react-select__value-container {
        padding: 0 14px;
    }
    .react-select__input-container {
        margin: 0;
        padding: 0;
    }
    .react-select__indicator {
        padding: 6px;
    }
    .react-select__option {
        padding: 0 14px;
    }
}

.management {
    .panel {
        p {
            margin-bottom: 5px;
        }
        p:last-child {
            margin-bottom: 0;
        }


        .panel-body {
            > :last-child {
                margin-bottom: 0;
            }
        }

        .panel-border {
            border-bottom: 1px solid #ddd;
        }

        &.panel-nested {
            margin-bottom: 10px;
        }

        &.panel-edit {
            .panel-heading,
            .panel-footer {
                min-height: 41px;
            }
        }

        &.panel-import {
            .checkbox {
                position: static;
                margin: 0;

                label {
                    font-weight: normal;
                }
            }
            .horizontal-container {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 10px 15px 0px;

                .shown-info {
                    margin-left: auto;
                }
            }
        }

        &.panel-import-warnings,
        &.panel-import-errors {
            cursor: pointer;
        }
    }
    .pull-right {
        .element-link,
        .element-btn-link,
        .element-button {
            margin-left: 4px;

            &.disabled,
            &:disabled {
                color: #ccc !important;
                cursor: not-allowed !important;
            }
        }
        .element-btn-link {
            padding: 0;
            border: 0;
            text-decoration: none;
        }
        .element-button {
            &:first-child {
                margin-left: 8px;
            }
        }
    }
    .checkboxes {
        .checkbox {
            display: inline-block;
            margin-right: 20px;
            margin-bottom: 0;
        }
        code {
            user-select: none;
        }
    }
    .nav-tabs {
        border-bottom: none;
    }
    .tab-content {
        margin-bottom: 15px;
    }
    .tab-pane {
        padding: 15px 15px 0 15px;
        border: 1px solid #ddd;
        border-radius: 4px;

        &:first-child {
            border-top-left-radius: 0;
        }

    }

    .drag {
        color: $link-color;
        cursor: grab;
    }

    .drop {
        display: none;
        margin-top: -10px;
        padding: 4px 0;

        &::after {
            content: ' ';
            height: 2px;
            display: block;
            background-color: transparent;
        }

        &.over {
            &::after {
                background-color: $link-color;
            }
        }
    }
    .drop-in {
        &.over .panel {
            border: 2px solid $link-color;

            .panel-heading {
                padding: 9px 14px;
            }
        }
    }
}

.list-group-item {
    .indent {
        padding-left: 20px;
    }
}

.codemirror.form-control {
    height: auto;
    padding: 0;

    .cm-editor {
        border-radius: 4px;
    }
    .cm-gutter {
        background-color: white;
    }
    .cm-focused {
        // copy the .form-control:focus from bootstrap
        border-color: #66afe9;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    }
}

.select-item-options,
.multi-select-item-options,
.ordered-multi-select-item-options {
    float: right;
    display: flex;
    gap: 4px;
    padding: 10px 0;

    .disabled {
        color: #ccc !important;
        cursor: not-allowed !important;
    }
}

.ordered-multi-select-item {
    margin-bottom: 10px;

    .ordered-multi-select-item-select {
        height: 34px;
    }
}

.import-buttons {
    display: flex;
    gap: 5px;

    .btn:first-child {
        flex: 1;
    }
}

.field-diff {
    table[class*="react-diff-"][class*="diff-container"] {
        margin: 0;
        border-collapse: separate;  // needed for border radius since this is a table

        tr {
            td[class*="marker"] {
                border-left: 1px solid #ccc;
            }
            td[class*="content"] {
                border-right: 1px solid #ccc;
            }
            &:first-child {
                td[class*="marker"] {
                    border-top: 1px solid #ccc;
                    border-left: 1px solid #ccc;
                    border-top-left-radius: 4px;
                }
                td[class*="content"] {
                    border-top: 1px solid #ccc;
                    border-right: 1px solid #ccc;
                    border-top-right-radius: 4px;
                }
            }
            &:last-child {
                td[class*="marker"] {
                    border-bottom: 1px solid #ccc;
                    border-left: 1px solid #ccc;
                    border-bottom-left-radius: 4px;
                }
                td[class*="content"] {
                    border-bottom: 1px solid #ccc;
                    border-right: 1px solid #ccc;
                    border-bottom-right-radius: 4px;
                }
            }
        }

        // Target elements with classes containing "react-diff-", and "marker"
        // Target elements with classes containing "react-diff-", and "content"
        [class*="marker"],
        [class*="content"] {
            padding: 8px 12px;
            vertical-align: top;
            pre {
                padding: 5px 10px;
                border-radius: 4px;
                font-size: 13px;
                line-height: 18px;
                background-color: #fff;
            }
        }

        [class*="marker"] {
            padding-right: 0;
        }
    }
}
