{% load i18n core_tags %}
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'home' %}">{{ request.site.name }}</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav">
                {% if user.is_authenticated %}
                <li>
                    {% admin_link %}
                </li>
                {% endif %}
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans 'Language' %}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        {% i18n_switcher %}
                    </ul>
                </li>
                {% if user.is_authenticated %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% full_name user %}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                            {% internal_link 'profile_update' _('Update Profile') %}
                        </li>
                        <li>
                            {% internal_link 'password_change' _('Change password') %}
                        </li>
                        <li role="separator" class="divider"></li>
                        <li>
                            <a href="{% url 'logout' %}">Logout</a>
                        </li>
                    </ul>
                </li>
                {% else %}
                <li>
                    {% internal_link 'login' _('Login') %}
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
