<footer>
    <div class="container">
        <div class="row">
            <div class="footer-col col-md-4">
                <h3>Kontakt</h3>
                <p>
                    <a href="mailto:DMPW@LISTSERV.DFN.DE">DMPW@LISTSERV.DFN.DE</a>
                </p>
            </div>
            <div class="footer-col col-md-4">
                <h3>Open Source</h3>
                <div>
                    DMPwerkzeug ist auf <a href="https://github.com/DMPwerkzeug">github.com</a> veröffentlicht.
                </div>
            </div>
            <div class="footer-col col-md-4">

                <h3>Impressum</h3>
                <p>
                    Diese Webseite wird vom <a href="http://www.aip.de">Leibniz-Institut für Astrophysik Potsdam (AIP)</a> betrieben. Es gilt das <a href="http://www.aip.de/de/impressum">Impressum des AIP</a>.
                </p>
            </div>
        </div>
    </div>
</footer>
