{% extends 'core/base.html' %}
{% load i18n staticfiles core_tags %}

{% block content %}

<h1>DMPwerkzeug</h1>

<p>{% trans "DMPwerkzeug is a tool to support the planning, implementation, and organization of the research data management."%}

<ul>
    <li>{% internal_link '/login' %}</li>
    <li>{% internal_link '/logout' %}</li>
    <li>{% internal_link '/password/change' %}</li>
    <li>{% internal_link '/password/reset' %}</li>
    <li>{% internal_link '/register' %}</li>
    <li>{% internal_link '/register/complete' %}</li>
    <li>{% internal_link '/activate' %}</li>
    <li>{% internal_link '/activate/complete' %}</li>
</ul>

{% endblock %}
