{% extends 'core/base.html' %}
{% load i18n staticfiles core_tags %}

{% block content %}

<h1>DMPwerkzeug</h1>

<p>{% trans "DMPwerkzeug is a tool to support the planning, implementation, and organization of the research data management."%}

<ul>
    <li>{% internal_link 'login' %}</li>
    <li>{% internal_link 'logout' %}</li>
    <li>{% internal_link 'password_change' %}</li>
    <li>{% internal_link 'password_reset' %}</li>
    <li>{% internal_link 'registration_register' %}</li>
    <li>{% internal_link 'registration_complete' %}</li>
    <li>{% internal_link 'registration_disallowed' %}</li>
    <li>{% internal_link 'registration_activation_complete' %}</li>
</ul>

{% endblock %}
