{% extends 'core/page.html' %}
{% load staticfiles %}
{% load compress %}
{% load i18n %}

{% block head %}
    {% compress css %}
    <link rel="stylesheet" type="text/x-scss" href="{% static 'tasks/css/tasks.scss' %}" />
    {% endcompress %}

    <script type="text/javascript" src="{% static 'angular/angular.min.js' %}" ></script>
    <script type="text/javascript" src="{% static 'angular-resource/angular-resource.min.js' %}" ></script>
    <script type="text/javascript" src="{% static 'core/js/select-by-number.js' %}" ></script>
    <script type="text/javascript" src="{% static 'core/js/formgroup.js' %}" ></script>
    <script type="text/javascript" src="{% static 'core/js/services.js' %}" ></script>
    <script type="text/javascript" src="{% static 'tasks/js/tasks.js' %}" ></script>
{% endblock %}

{% block bodyattr %} ng-app="tasks" ng-controller="TasksController" {% endblock %}

{% block sidebar %}

    <h3>{% trans 'Filter' %}</h3>

    <div class="input-group">
        <input type="text" class="form-control" ng-model="service.filter"></input>
        <span class="input-group-btn" ng-click="service.filter = ''">
            <button class="btn btn-default">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
        </span>
    </div>

    <h3>{% trans 'Options' %}</h3>

    <ul class="list-unstyled">
        <li>
            <a href="" ng-click="service.openFormModal('tasks', null, true)">
                {% trans 'Create new Task' %}
            </a>
        </li>
    </ul>

{% endblock %}

{% block page %}

    <h2>{% trans 'Task overview' %}</h2>

    <div ng-repeat="task in service.tasks | orderBy: 'title' | filter: service.filter">

        <div class="panel panel-default">

            <div class="panel-heading">
                <div class="pull-right">
                    <a href="" class="small glyphicon glyphicon-pencil"
                        title="{% trans 'Update Task' %}"
                        ng-click="service.openFormModal('tasks', task)">
                    </a>
                    <a href="" class="small glyphicon glyphicon-trash"
                        title="{% trans 'Delete Task' %}"
                        ng-click="service.openDeleteModal('tasks', task)">
                    </a>

                    <div class="dropdown options-dropdown">
                        <a class="dropdown-toggle" type="button" id="users-options"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"
                            title="{% trans 'Show options' %}">
                            <span class="glyphicon glyphicon-cog"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="users-options">
                            <li ng-hide="task.has_conditions">
                                <a href="" ng-click="service.openFormModal('conditions', task, true)">
                                    {% trans 'Add conditions' %}
                                </a>
                            </li>
                            <li ng-show="task.has_conditions">
                                <a href="" ng-click="service.openFormModal('conditions', task, false)">
                                    {% trans 'Update conditions' %}
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>
                <strong>{% trans 'Task' %}</strong> {$ task.title $}
            </div>

            <ul class="list-group">
                <li class="list-group-item">
                    <span>{$ task.text $}</span>
                </li>
            </ul>
        </div>

    </div>

    {% include 'tasks/tasks_modal_form_tasks.html' %}
    {% include 'tasks/tasks_modal_form_conditions.html' %}

    {% include 'tasks/tasks_modal_delete_tasks.html' %}

{% endblock %}
