{% load i18n %}

    <div class="modal" id="optionsets-form-modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" tabindex="-1">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h2 class="modal-title">
                        <span ng-hide="service.values.id">{% trans 'Create option set' %}</span>
                        <span ng-show="service.values.copy">{% trans 'Copy option set' %}</span>
                        <span ng-show="service.values.id && !service.values.copy">{% trans 'Update option set' %}</span>
                    </h2>
                </div>

                <div class="modal-body">
                    <div class="copy-block" ng-show="service.values.copy">
                        <p>
                            {% trans 'Please enter the values for the copy of the option set below and change at least the <code>key</code>.' %}
                        </p>
                        <p>
                            {% trans 'Other properties can be changed once the new option set is created.' %}
                        </p>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group" ng-class="{'has-error': service.errors.uri_prefix }">
                                <label class="control-label" for="uri_prefix">
                                    {{ meta.OptionSet.uri_prefix.verbose_name }}
                                </label>

                                <div class="input-group">
                                    <input class="form-control"
                                           id="optionset_uri_prefix"
                                           type="text"
                                           ng-model="service.values.uri_prefix" />

                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default"
                                            title="{% trans 'Insert default URI Prefix' %}"
                                            ng-click="service.values.uri_prefix = service.settings.default_uri_prefix">

                                            <span class="fa fa-magic"></span>
                                        </button>
                                    </span>
                                </div>

                                <p class="help-block">
                                    {{ meta.OptionSet.uri_prefix.help_text }}
                                </p>

                                <ul class="help-block list-unstyled" ng-show="service.errors.uri_prefix">
                                    <li ng-repeat="error in service.errors.uri_prefix">
                                        {$ error $}
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <formgroup
                                data-id="optionset_key"
                                data-type="text"
                                data-label="{{ meta.OptionSet.key.verbose_name }}"
                                data-help="{{ meta.OptionSet.key.help_text }}"
                                data-model="service.values.key"
                                data-errors="service.errors.key">
                            </formgroup>
                        </div>
                    </div>

                    <div ng-hide="service.values.copy">
                        <formgroup
                            data-id="optionset_comment"
                            data-type="textarea"
                            data-label="{{ meta.OptionSet.comment.verbose_name }}"
                            data-help="{{ meta.OptionSet.comment.help_text }}"
                            data-model="service.values.comment"
                            data-errors="service.errors.comment">
                        </formgroup>
                        <formgroup
                            data-id="optionset_order"
                            data-type="number"
                            data-label="{{ meta.OptionSet.order.verbose_name }}"
                            data-help="{{ meta.OptionSet.order.help_text }}"
                            data-model="service.values.order"
                            data-errors="service.errors.order">
                        </formgroup>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        {% trans 'Close' %}
                    </button>
                    <button type="button" class="btn btn-primary"
                            ng-click="service.submitFormModal('optionsets')">
                        {% trans 'Save' %}
                    </button>
                </div>
            </div>
        </div>
    </div>
