{% load i18n %}

    <div class="modal" id="optionsets-form-modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" tabindex="-1">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h2 class="modal-title">
                        {% trans 'Option set' %}
                    </h2>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <formgroup
                            class="col-sm-6"
                            data-id="uri_prefix"
                            data-type="text"
                            data-label="{{ meta.OptionSet.uri_prefix.verbose_name }}"
                            data-help="{{ meta.OptionSet.uri_prefix.help_text }}"
                            data-model="service.values.uri_prefix"
                            data-errors="service.errors.uri_prefix">
                        </formgroup>
                        <formgroup
                            class="col-sm-6"
                            data-id="key"
                            data-type="text"
                            data-label="{{ meta.OptionSet.key.verbose_name }}"
                            data-help="{{ meta.OptionSet.key.help_text }}"
                            data-model="service.values.key"
                            data-errors="service.errors.key">
                        </formgroup>
                    </div>
                    <formgroup
                        data-id="comment"
                        data-type="textarea"
                        data-label="{{ meta.OptionSet.comment.verbose_name }}"
                        data-help="{{ meta.OptionSet.comment.help_text }}"
                        data-model="service.values.comment"
                        data-errors="service.errors.comment">
                    </formgroup>
                    <formgroup
                        data-id="order"
                        data-type="number"
                        data-label="{{ meta.OptionSet.order.verbose_name }}"
                        data-help="{{ meta.OptionSet.order.help_text }}"
                        data-model="service.values.order"
                        data-errors="service.errors.order">
                    </formgroup>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        {% trans 'Close' %}
                    </button>
                    <button type="button" class="btn btn-primary"
                            ng-click="service.submitFormModal('optionsets')">
                        {% trans 'Save' %}
                    </button>
                </div>
            </div>
        </div>
    </div>
