{% load i18n %}
{% get_available_languages as languages %}

    <div class="modal" id="options-form-modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" tabindex="-1">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h2 class="modal-title">
                        <span ng-hide="service.values.id">{% trans 'Create option' %}</span>
                        <span ng-show="service.values.copy">{% trans 'Copy option' %}</span>
                        <span ng-show="service.values.id && !service.values.copy">{% trans 'Update option' %}</span>
                    </h2>
                </div>

                <div class="modal-body">
                    <div class="copy-block" ng-show="service.values.copy">
                        <p>
                            {% trans 'Please enter the values for the copy of the option below and change at least the <code>key</code>.' %}
                        </p>
                        <p>
                            {% trans 'Other properties can be changed once the new option is created.' %}
                        </p>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group" ng-class="{'has-error': service.errors.uri_prefix }">
                                <label class="control-label" for="uri_prefix">
                                    {{ meta.Option.uri_prefix.verbose_name }}
                                </label>

                                <div class="input-group">
                                    <input class="form-control"
                                           id="option_uri_prefix"
                                           type="text"
                                           ng-model="service.values.uri_prefix" />

                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default"
                                            title="{% trans 'Insert default URI Prefix' %}"
                                            ng-click="service.values.uri_prefix = service.settings.default_uri_prefix">

                                            <span class="fa fa-magic"></span>
                                        </button>
                                    </span>
                                </div>

                                <p class="help-block">
                                    {{ meta.Option.uri_prefix.help_text }}
                                </p>

                                <ul class="help-block list-unstyled" ng-show="service.errors.uri_prefix">
                                    <li ng-repeat="error in service.errors.uri_prefix">
                                        {$ error $}
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <formgroup
                                data-id="option_key"
                                data-type="text"
                                data-label="{{ meta.Option.key.verbose_name }}"
                                data-help="{{ meta.Option.key.help_text }}"
                                data-model="service.values.key"
                                data-errors="service.errors.key">
                            </formgroup>
                        </div>
                    </div>

                    <div ng-hide="service.values.copy">
                        <formgroup
                            data-id="option_comment"
                            data-type="textarea"
                            data-label="{{ meta.Option.comment.verbose_name }}"
                            data-help="{{ meta.Option.comment.help_text }}"
                            data-model="service.values.comment"
                            data-errors="service.errors.comment">
                        </formgroup>
                        <div class="row">
                            <div class="col-sm-9">
                                <formgroup
                                    data-id="option_optionset"
                                    data-type="selectnumber"
                                    data-label="{{ meta.Option.optionset.verbose_name }}"
                                    data-help="{{ meta.Option.optionset.help_text }}"
                                    data-model="service.values.optionset"
                                    data-errors="service.errors.optionset"
                                    data-options="service.optionsets"
                                    data-options-label="key"
                                    data-options-null="1"
                                    data-quicksearch="true">
                                </formgroup>
                            </div>
                            <div class="col-sm-3">
                                <formgroup
                                    data-id="option_order"
                                    data-type="number"
                                    data-label="{{ meta.Option.order.verbose_name }}"
                                    data-help="{{ meta.Option.order.help_text }}"
                                    data-model="service.values.order"
                                    data-errors="service.errors.order">
                                </formgroup>
                            </div>
                        </div>
                        <formgroup
                            data-id="option_additional_input"
                            data-type="checkbox"
                            data-label="{{ meta.Option.additional_input.verbose_name }}"
                            data-help="{{ meta.Option.additional_input.help_text }}"
                            data-model="service.values.additional_input"
                            data-errors="service.errors.additional_input">
                        </formgroup>
                        <div>
                            <ul class="nav nav-tabs" role="tablist">
                                {% for lang_code, lang in languages %}
                                <li role="presentation" class="{{ forloop.first|yesno:'active,' }}" ng-class="{
                                    'has-error':
                                        service.errors.text_{{ lang_code }},
                                    'has-warning':
                                        service.values.id && !service.values.text_{{ lang_code }}
                                }">
                                    <a role="tab" class="control-label" data-toggle="tab"
                                        href="#options-{{ lang_code }}" aria-controls="options-{{ lang_code }}">

                                        {{ lang }}
                                        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                            <div class="tab-content">
                                {% for lang_code, lang in languages %}
                                <div role="tabpanel" id="options-{{ lang_code }}"
                                    class="tab-pane {{ forloop.first|yesno:'active,' }}">

                                    <formgroup
                                        data-id="option_text_{{ lang_code }}"
                                        data-type="text"
                                        data-label="{% trans 'Text' %} ({{ lang }})"
                                        data-help="{% trans 'The title for this option.' %}"
                                        data-model="service.values.text_{{ lang_code }}"
                                        data-errors="service.errors.text_{{ lang_code }}"
                                        data-warning="service.values.id && !service.values.text_{{ lang_code }}">
                                    </formgroup>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        {% trans 'Close' %}
                    </button>
                    <button type="button" class="btn btn-primary"
                            ng-click="service.submitFormModal('options')">
                        {% trans 'Save' %}
                    </button>
                </div>
            </div>
        </div>
    </div>
