{% extends 'core/page.html' %}
{% load staticfiles %}
{% load compress %}
{% load i18n %}
{% load core_tags %}

{% block head %}
    <meta name='csrftoken' content="{% csrf_token %}" />

    {% vendor 'angular' %}

    {% compress css %}
    <link rel="stylesheet" type="text/x-scss" href="{% static 'options/css/options.scss' %}" />
    {% endcompress %}

    {% compress js %}
    <script type="text/javascript" src="{% static 'core/js/core.js' %}" ></script>
    <script type="text/javascript" src="{% static 'options/js/options.js' %}" ></script>
    {% endcompress %}
{% endblock %}

{% block bodyattr %} ng-app="options" ng-controller="OptionsController" {% endblock %}

{% block sidebar %}

    <h2>{% trans 'Filter' %}</h2>

    <div class="input-group">
        <input type="text" class="form-control" ng-model="service.filter"></input>
        <span class="input-group-btn" ng-click="service.filter = ''">
            <button class="btn btn-default">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
        </span>
    </div>

    <h2>{% trans 'Options' %}</h2>

    <ul class="list-unstyled">
        <li>
            <a href="" ng-click="service.openFormModal('optionsets', null, true)">
                {% trans 'Create new option set' %}
            </a>
        </li>
        <li>
            <a href="" ng-click="service.openFormModal('options', null, true)">
                {% trans 'Create new option' %}
            </a>
        </li>
    </ul>

    <h2>{% trans 'Export' %}</h2>

    <ul class="list-unstyled">
        {% for format, text in export_formats %}
        <li >
            <a href="{% url 'options_export' format %}" target="_blank">
                {{ text }}
            </a>
        </li>
        {% endfor %}
    </ul>

    <ul class="list-unstyled">
        <li >
            <a href="{% url 'options_export' 'xml' %}" target="_blank">
                {% trans 'XML' %}
            </a>
        </li>
    </ul>

{% endblock %}

{% block page %}

    <h1>{% trans 'Options' %}</h1>

    <div ng-repeat="optionset in service.optionsets | filter: service.filter" ng-cloak>

        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="pull-right">
                    <a href="" class="fa fa-plus"
                        title="{% trans 'Add option' %}"
                        ng-click="service.openFormModal('options', optionset, true)">
                    </a>
                    <a href="" class="fa fa-pencil"
                        title="{% trans 'Update option set' %}"
                        ng-click="service.openFormModal('optionsets', optionset)">
                    </a>
                    <a href="" class="fa fa-question-circle"
                        title="{% trans 'Update conditions' %}"
                        ng-click="service.openFormModal('conditions', optionset)">
                    </a>
                    <a href="" class="fa fa-trash"
                        title="{% trans 'Delete option set' %}"
                        ng-click="service.openDeleteModal('optionsets', optionset)">
                    </a>
                </div>
                <strong>{% trans 'Option set' %}</strong>
                <code>{$ optionset.key $}</code>
            </div>

            <ul class="list-group">
                <li class="list-group-item" ng-repeat="option in optionset.options">
                    <div class="pull-right">
                        <a href="" class="fa fa-pencil"
                            title="{% trans 'Update option' %}"
                            ng-click="service.openFormModal('options', option)">
                        </a>
                        <a href="" class="fa fa-trash"
                            title="{% trans 'Delete option' %}"
                            ng-click="service.openDeleteModal('options', option)">
                        </a>
                    </div>
                    <strong>{% trans 'Option' %}</strong>
                    <code>{$ option.path $}</code>
                    <span>{$ option.text $}</span>
                </li>
            </ul>
        </div>

    </div>

    {% include 'options/options_modal_form_optionsets.html' %}
    {% include 'options/options_modal_form_options.html' %}
    {% include 'options/options_modal_form_conditions.html' %}

    {% include 'options/options_modal_delete_optionsets.html' %}
    {% include 'options/options_modal_delete_options.html' %}

{% endblock %}
