{% load i18n %}

    <div class="modal" id="options-form-modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" tabindex="-1">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h2 class="modal-title">
                        {% trans 'Option' %}
                    </h2>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <formgroup
                            class="col-sm-6"
                            data-id="uri_prefix"
                            data-type="text"
                            data-label="{{ meta.Option.uri_prefix.verbose_name }}"
                            data-help="{{ meta.Option.uri_prefix.help_text }}"
                            data-model="service.values.uri_prefix"
                            data-errors="service.errors.uri_prefix">
                        </formgroup>
                        <formgroup
                            class="col-sm-6"
                            data-id="key"
                            data-type="text"
                            data-label="{{ meta.Option.key.verbose_name }}"
                            data-help="{{ meta.Option.key.help_text }}"
                            data-model="service.values.key"
                            data-errors="service.errors.key">
                        </formgroup>
                    </div>
                    <formgroup
                        data-id="comment"
                        data-type="textarea"
                        data-label="{{ meta.Option.comment.verbose_name }}"
                        data-help="{{ meta.Option.comment.help_text }}"
                        data-model="service.values.comment"
                        data-errors="service.errors.comment">
                    </formgroup>
                    <div class="row">
                        <formgroup
                            class="col-sm-9"
                            data-id="optionset"
                            data-type="selectnumber"
                            data-label="{{ meta.Option.optionset.verbose_name }}"
                            data-help="{{ meta.Option.optionset.help_text }}"
                            data-model="service.values.optionset"
                            data-errors="service.errors.optionset"
                            data-options="service.optionsets"
                            data-options-label="key"
                            data-options-null="1">
                        </formgroup>
                        <formgroup
                            class="col-sm-3"
                            data-id="order"
                            data-type="number"
                            data-label="{{ meta.Option.order.verbose_name }}"
                            data-help="{{ meta.Option.order.help_text }}"
                            data-model="service.values.order"
                            data-errors="service.errors.order">
                        </formgroup>
                    </div>
                    <div class="row">
                        <formgroup
                            class="col-sm-6"
                            data-id="text_en"
                            data-type="text"
                            data-label="{{ meta.Option.text_en.verbose_name }}"
                            data-help="{{ meta.Option.text_en.help_text }}"
                            data-model="service.values.text_en"
                            data-errors="service.errors.text_en">
                        </formgroup>
                        <formgroup
                            class="col-sm-6"
                            data-id="text_de"
                            data-type="text"
                            data-label="{{ meta.Option.text_de.verbose_name }}"
                            data-help="{{ meta.Option.text_de.help_text }}"
                            data-model="service.values.text_de"
                            data-errors="service.errors.text_de">
                        </formgroup>
                    </div>
                    <formgroup
                        data-id="additional_input"
                        data-type="checkbox"
                        data-label="{{ meta.Option.additional_input.verbose_name }}"
                        data-help="{{ meta.Option.additional_input.help_text }}"
                        data-model="service.values.additional_input"
                        data-errors="service.errors.additional_input">
                    </formgroup>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        {% trans 'Close' %}
                    </button>
                    <button type="button" class="btn btn-primary"
                            ng-click="service.submitFormModal('options')">
                        {% trans 'Save' %}
                    </button>
                </div>
            </div>
        </div>
    </div>
