{% load i18n %}

    <div class="modal" id="options-show-modal" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" tabindex="-1">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h2 class="modal-title">{% trans 'Condition references' %}</h2>
                </div>

                <div class="modal-body">
                    <p>
                        {% trans 'This option is used in the following elements:' %}
                    </p>

                    <h6>{% trans 'Conditions' %}</h6>
                    <ul>
                        <li ng-repeat="condition in service.values.conditions">
                            <code>{$ condition.key $}</code>
                        </li>
                        <li ng-hide="service.values.conditions.length">
                            {% trans 'none' %}
                        </li>
                    </ul>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        {% trans 'Close' %}
                    </button>
                </div>
            </div>
        </div>
    </div>
