code {
    padding: 0.25rem 0.5rem;
    border-radius: var(--bs-border-radius);

    font-size: 0.85rem;

    word-wrap: break-word;

    &.code-questions {
        color: rgb(16, 31, 112);
        background-color: rgba(16, 31, 112, 0.1);
    }
    &.code-domain {
        color: rgb(199, 37, 78);
        background-color: rgb(249, 242, 244);
    }
    &.code-options {
        color: rgb(255, 100, 0);
        background-color: rgba(255, 100, 0, 0.1);
    }
    &.code-options-provider {
        color: white;
        background-color: rgba(255, 100, 0, 0.8);
    }
    &.code-conditions {
        color: rgb(128, 0, 128);
        background-color: rgba(128, 0, 128, 0.1);
    }
    &.code-tasks {
        color: rgb(128, 0, 0);
        background-color: rgba(128, 0, 0, 0.1);
    }
    &.code-views {
        color: rgb(0, 128, 0);
        background-color: rgba(0, 128, 0, 0.1);
    }
    &.code-order {
        color: rgb(96, 96, 96);
        background-color: rgba(96, 96, 96, 0.1);
    }
    &.code-default {
        color: rgb(96, 96, 96);
        background-color: rgba(96, 96, 96, 0.1);
    }
    &.code-optional {
        color: white;
        background-color: rgb(119.085, 119.085, 119.085);
    }
    &.code-import {
        color: black;
        background-color: rgba(96, 96, 96, 0.1);
    }
}

a:hover {
    code {
        text-decoration: underline;
    }
}
