@font-face {
    font-family: "DroidSans";
    src: url(static('fonts/DroidSans.ttf'));
}
@font-face {
    font-family: "DroidSans";
    src: url(static('fonts/DroidSans-Bold.ttf'));
    font-weight: bold;
}
@font-face {
    font-family: "DroidSans-Mono";
    src: url(static('fonts/DroidSansMono.ttf'));
}
@font-face {
    font-family: "DroidSerif";
    src: url(static('fonts/DroidSerif.ttf'));
}
@font-face {
    font-family: "DroidSerif";
    src: url(static('fonts/DroidSerif-Bold.ttf'));
    font-weight: bold;
}
@font-face {
    font-family: "DroidSerif";
    src: url(static('fonts/DroidSerif-Italic.ttf'));
    font-style: italic;
}
@font-face {
    font-family: "DroidSerif";
    src: url(static('fonts/DroidSerif-BoldItalic.ttf'));
    font-style: italic;
    font-weight: bold;
}

body {
    font-family: DroidSans, sans;
}
h1, h2, h3, h4, h5, h6 {
    font-family: DroidSerif, serif;
}