@import 'css/variables';

html, body {
    height: 100%;
    background-color: $background-color;
}

h1, h2, h3, h4, h5, h6 {
    color: $headline-color;
}

/* navbar */

.navbar.navbar-inverse {
    background-color: $navigation-color;
}
.navbar-inverse {
    border-bottom: none;
}

/* content */

.content {
    padding-top: 50px;
}

.page {
    height: 100%;
    padding-top: 20px;
    padding-bottom: 60px;
}

header {
    height: 300px;
    padding-top: 40px;
    background-image: url(static('img/library.jpg'));
    background-position: center;
    background-size: cover;
}

header h1 {
    font-size: 60px;
    color: white;
}

header p {
    font-size: 30px;
    color: white;
}

/* footer */

.content {
    min-height: 100%;
    margin-bottom: -200px; /* matches height of footer */
    padding-bottom: 200px;
}

footer {
    height: 200px;
    padding-top: 40px;
    padding-bottom: 20px;

    color: $footer-link-color;
    background-color: $footer-background-color;
}
footer .footer-col{
    padding-bottom: 20px;
}
footer a,
footer a:visited,
footer a:hover {
    color: $footer-link-color;
}
footer h3 {
    color: $footer-link-color;
}
footer p {
    text-align: left;
}
footer img {
    display: block;
}

/* forms */

@media (min-width: 992px) {
    form {
        label {
            display: block;
            height: 32px;
            line-height: 32px;
            margin: 0;
            text-align: right;
        }
        .form-control {

        }
    }
}
