@import "variables";

h1, h2, h3, h4, h5, h6 {
    color: $darkblue;
}

.content {
    margin-top: 100px;
    margin-bottom: 60px;
}

/* navbar */

.navbar.navbar-inverse {
    background-color: $darkblue;
}
.navbar-inverse {
    border-bottom: none;
}
