@import 'css/variables';

html, body {
    height: 100%;
    background-color: $background-color;
}

h1, h2, h3, h4, h5, h6 {
    color: $headline-color;
    line-height: 40px;
}
form {
    margin-bottom: 20px;
}

/* navbar */

.navbar.navbar-inverse {
    background-color: $navigation-color;
}
.navbar-inverse {
    border-bottom: none;
}

/* content */

.content {
    padding-top: 50px;
}

.page {
    height: 100%;
    padding-top: 20px;
    padding-bottom: 60px;
}

@media (min-width: $screen-xs-max) {
    form {
        label {
            display: block;
            height: 32px;
            line-height: 32px;
            margin: 0;
            text-align: right;
        }
        .form-control {

        }
    }
}

/* forms */

@media (min-width: $screen-xs-max) {
    form {
        label {
            display: block;
            height: 32px;
            line-height: 32px;
            margin: 0;
            text-align: right;
        }
        .form-control {

        }
    }
}
