@import 'core/css/variables';

.project-questions-form-title {
    margin-bottom: 15px;
    line-height: 34px;
}
.project-questions-form {
    min-height: 900px;

    .questionset-head {
        margin-bottom: 20px;

        .help-block {
            margin-top: 10px;
        }
        .set-buttons {
            margin-top: 10px;
        }
    }
    h2 {
        margin-top: 0;
    }
    .well {
        margin-top: 10px;
    }
    a.remove-link {
        text-decoration: none;
    }
    .help-text {
        margin-bottom: 10px;
    }

    .add-field-button .help-block {
        margin: 0;
    }

    a {
        &.add-valueset,
        &.add-valueset:hover {
            color: $success-color;
        }

        &.add-valueset:hover {
            color: white;
            background-color: $success-color;
        }
    }

    .collection {
        position: relative;
        margin-bottom: 10px;

        .close {
            position: absolute;
            top: 7px;
            right: 7px;
            z-index: 1020;

            color: $danger-color;
            opacity: 0.8;
        }
        .close:hover {
            opacity: 1;
        }
        select {
            -webkit-appearance: none;
            -moz-appearance: none;
            -o-appearance: none;
            appearance: none;
        }
    }

    .form-label,
    label {
        margin-bottom: 10px;
    }

    .radio,
    .checkbox {
        margin: 0;

        label {
            margin-right: 10px;
            margin-bottom: 5px;
            padding-left: 25px;
            line-height: 30px;
        }
        &:last-child label {
            margin-bottom: 0;
        }
        input[type='checkbox'] {
            margin-top: 8px;
            margin-left: -25px;
        }
        input[type='text'] {
            display: inline-block;
            width: 200px;
        }
    }
    .radio {
        &.yesno {
            label {
                margin-bottom: 0;
                line-height: normal;
            }
            input[type='radio'] {
                margin-top: 1px;
            }
        }
        a.remove-link {
            top: 2px;
        }
    }

    .radio-control,
    .checkbox-control {
        border: 1px solid #ccc;
        border-radius: 4px;

        padding: 6px 12px;
        margin: 0;
    }

    .range-display {
        display: inline-block;
        min-width: 80px;
    }
}

.project-questions-overview {
    line-height: 24px;

    h4 {
        line-height: 20px;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    a {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    ul {
        margin-left: 0;
    }
    li ul li {
        margin-left: 20px;
    }
    li.active {
        margin-left: 0;
    }
    li.active a:before {
        float: left;
        width: 20px;
        text-align: right;
        content: '\2192\0000a0'; /* right-arrow followed by a space */
    }
}
