.project-questions-form-title {
    margin-bottom: 20px;
    min-height: 40px;
}
.project-questions-form-buttons {
    margin: 3px 0 3px 0;
}

.project-questions-form form {
    margin: 0;
}

.project-questions-form .questionset-head {
    height: 34px;
    margin-bottom: 20px;
}

.project-questions-form .questionset-head .pagination {
    display: block;
    margin: 0 20px 0 0;
}
