@import 'core/css/variables';

.project-questions-form-title {
    margin-bottom: 15px;
    line-height: 34px;
}
.project-questions-form {
    min-height: 900px;
}

.project-questions-form .questionset-head {
    margin-bottom: 20px;
}
.project-questions-form .questionset-head .help-block {
    margin-top: 10px;
}
.project-questions-form .questionset-head .set-buttons {
    margin-top: 10px;
}

.project-questions-form .well {
    margin-top: 10px;
}
.project-questions-form a.remove-link {
    text-decoration: none;
}

.project-questions-form .help-text {
    margin-bottom: 10px;
}

.project-questions-form .add-field-button .help-block {
    margin: 0;
}

.project-questions-form .collection {
    position: relative;
    margin-bottom: 10px;
}
.project-questions-form .collection .close {
    position: absolute;
    top: 7px;
    right: 7px;
    z-index: 1020;

    color: $danger-color;
    opacity: 0.8;
}
.project-questions-form .collection .close:hover {
    opacity: 1;
}
.project-questions-form .collection select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
}

.project-questions-form .radio,
.project-questions-form .checkbox {
    margin: 0;
}

.project-questions-form .radio label,
.project-questions-form .checkbox label {
    margin-right: 10px;
    margin-bottom: 5px;
    padding-left: 25px;
    line-height: 30px;
}
.project-questions-form .radio:last-child label,
.project-questions-form .checkbox:last-child label {
    margin-bottom: 0;
}
.project-questions-form .radio.yesno label {
    margin-bottom: 0;
    line-height: normal;
}

.project-questions-form .radio input[type='radio'],
.project-questions-form .checkbox input[type='checkbox'] {
    margin-top: 8px;
    margin-left: -25px;
}
.project-questions-form .radio.yesno input[type='radio'] {
    margin-top: 1px;
}

.project-questions-form .radio input[type='text'],
.project-questions-form .checkbox input[type='text'] {
    display: inline-block;
    width: 200px;
}

.project-questions-form .radio a.remove-link {
    top: 2px;
}

.project-questions-form .radio-control,
.project-questions-form .checkbox-control {
    border: 1px solid #ccc;
    border-radius: 4px;

    padding: 6px 12px;
    margin: 0;
}

.project-questions-form .range-display {
    display: inline-block;
    min-width: 80px;
}

.project-questions-overview {
    line-height: 24px;
}

.project-questions-overview h4 {
    line-height: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}


.project-questions-overview ul {
    margin-left: 0;
}

.project-questions-overview li ul li {
    margin-left: 20px;
}

// .project-questions-overview li ul li.active{
//     border-left: 3px solid $danger-color;
// }