.project-questions-form-title {
    margin-top: 15px !important;
    margin-bottom: 15px;
    min-height: 40px;
}

// .project-questions-form-buttons {
//     margin: 3px 0 3px 0;
// }
// .project-questions-form form {
//     margin: 0;
// }
.project-questions-form .questionset-head {
    height: 34px;
    margin-bottom: 20px;
}
.project-questions-form .questionset-head .pagination {
    display: block;
    margin: 0 20px 0 0;
}



.project-questions-form .help-text {
    margin-bottom: 15px;
}


.project-questions-form .textarea-collection {
    margin-bottom: 15px;
}
.project-questions-form .textarea-collection textarea {
    margin-bottom: 5px;
}

.project-questions-form .radio-collection {
    height: 34px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.project-questions-form .radio-collection .radio {
    margin: 0;
    padding-top: 7px;
    padding-bottom: 7px;
    position: static;
}
.project-questions-form .radio-collection .radio label {
    margin-right: 10px;
}
