{% extends 'core/page.html' %}
{% load i18n %}

{% block page %}

    <h1>{% trans "API token" %}</h1>

    <p>{% trans 'Your API token is:' %} <code>{{ token }}</code></p>

    <form method="post" action="{% url 'account_token' %}" novalidate>
        {% csrf_token %}
        <input type="submit" name="regenerate" value="{% trans 'Regenerate token' %}" class="btn btn-default" />
    </form>

    <p>
        {% trans 'You can use this token in HTTP requests by using the <code>Authorization</code> Header:' %}
    </p>

    <pre>Authorization: Token {{ token }}</pre>

{% endblock %}
