{% extends 'core/bs53/page.html' %}
{% load i18n %}

{% block page %}

<h1>{% trans "E-mail Addresses" %}</h1>

{% if user.emailaddress_set.all %}

<p>{% trans 'The following e-mail addresses are associated with your account:' %}</p>

<form action="{% url 'account_email' %}" method="post" class="mb-5">
    {% csrf_token %}

    {% for emailaddress in user.emailaddress_set.all %}

    {% if forloop.first %}
    <hr />
    {% endif%}

    <div class="d-flex align-items-center gap-2 mb-3">
        <div class="form-check flex-grow-1">
            <input type="radio" name="email" id="email_radio_{{ forloop.counter }}"
                   class="form-check-input" value="{{ emailaddress.email }}"
                   {% if emailaddress.primary or user.emailaddress_set.count == 1 %}checked="checked"{%endif %}
                   aria-describedby="{{ form.consent.id_for_label }}-help">

            <label class="form-check-label" for="email_radio_{{ forloop.counter }}">
                {{ emailaddress.email }}
            </label>
        </div>

        {% if emailaddress.primary %}
        <div class="badge text-bg-primary">{% trans "Primary" %}</div>
        {% endif %}

        {% if emailaddress.verified %}
        <div class="badge text-bg-success">{% trans "Verified" %}</div>
        {% else %}
        <div class="badge text-bg-secondary">{% trans "Unverified" %}</div>
        {% endif %}
    </div>

    <hr />

    {% endfor %}

    <div class="d-flex gap-2 mb-3">
        <button type="submit" class="btn btn-sm btn-outline-primary" name="action_primary">
            {% trans 'Make Primary' %}
        </button>
        <button type="submit" class="btn btn-sm btn-outline-secondary" name="action_send">
            {% trans 'Re-send Verification' %}
        </button>
        <button type="button" class="btn btn-sm btn-outline-danger" data-bs-toggle="modal" data-bs-target="#remove-modal">
            {% trans 'Remove' %}
        </button>
    </div>

    <div class="modal" id="remove-modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                <div class="modal-body">
                    {% trans 'Do you really want to remove the selected e-mail address?' %}
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" type="submit" name="action_remove">
                    {% trans 'Remove' %}
                    </button>

                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</form>

{% else %}

<p>
    <strong>{% trans 'Warning:'%}</strong>
    {% blocktrans trimmed %}
    You currently do not have any e-mail address set up. You should really add an
    e-mail address so you can receive notifications, reset your password, etc.
    {% endblocktrans %}
</p>

{% endif %}

<h2>{% trans "Add E-mail Address" %}</h2>

<form method="post" action="{% url 'account_email' %}" class="d-flex align-items-start gap-2 mb-4">
    {% csrf_token %}

    <div class="flex-grow-1">
        <label for="{{ form.email.id_for_label }}" class="visually-hidden">{{ form.email.label }}</label>

        {% if field.help_text %}
        <p id="{{ form.email.id_for_label }}-help" class="form-text text-muted mt-0 mb-1">
            {{ field.help_text }}
        </p>
        {% endif %}

        <input type="email" name="{{ form.email.name }}"
               class="form-control {% if form.email.errors %}is-invalid{% endif %}" id="{{ form.email.id_for_label }}"
               aria-describedby="{{ form.email.id_for_label }}-help" placeholder="{{ form.email.label }}">

        {% for error in form.email.errors %}
        <div class="invalid-feedback">{{ error }}</div>
        {% endfor %}
    </div>

    <button class="d-block btn btn-outline-primary" name="action_add" type="submit">
        {% trans "Add E-mail" %}
    </button>
</form>

{% endblock %}
