{% extends 'core/bs53/page.html' %}
{% load i18n %}

{% block page %}

    <h1>{% trans "Set new password" %}</h1>

    <p>
        {% trans "Please enter your new password twice so we can verify you typed it in correctly." %}
    </p>

    <form method="post" action="{% url 'account_set_password' %}">
        {% csrf_token %}

        {% for field in form.visible_fields %}
            {% bootstrap_form_field field %}
        {% endfor %}

        <button type="submit" class="btn btn-primary mb-2">
            {% trans 'Set password' %}
        </button>
    </form>

{% endblock %}
