{% extends 'core/page.html' %}
{% load i18n %}

{% block page %}

    <h2>{% trans "Create a new account" %}</h2>

    <p>
        {% blocktrans trimmed %}
        Already have an account? Then please <a href="{{ login_url }}">sign in</a>.
        {% endblocktrans %}
    </p>

    <form method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}

        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}

        {% include 'core/bootstrap_form_fields.html' %}

        <input type="submit" class="btn btn-primary" value="{% trans 'Create account' %}" />
    </form>

    <ul class="list-unstyled text-danger">
    {% for error in form.non_field_errors %}
        <li>{{ error }}</li>
    {% endfor %}
    </ul>

{% endblock %}
