{% load i18n %}

    <div class="modal" id="subsections-form-modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h2 class="modal-title">
                        {% trans 'Subsection' %}
                    </h2>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <formgroup
                            class="col-sm-6"
                            data-id="uri_prefix"
                            data-type="text"
                            data-label="{{ meta.Subsection.uri_prefix.verbose_name }}"
                            data-help="{{ meta.Subsection.uri_prefix.help_text }}"
                            data-model="service.values.uri_prefix"
                            data-errors="service.errors.uri_prefix">
                        </formgroup>
                        <formgroup
                            class="col-sm-6"
                            data-id="key"
                            data-type="text"
                            data-label="{{ meta.Subsection.key.verbose_name }}"
                            data-help="{{ meta.Subsection.key.help_text }}"
                            data-model="service.values.key"
                            data-errors="service.errors.key">
                        </formgroup>
                    </div>
                    <formgroup
                        data-id="comment"
                        data-type="textarea"
                        data-label="{{ meta.Subsection.comment.verbose_name }}"
                        data-help="{{ meta.Subsection.comment.help_text }}"
                        data-model="service.values.comment"
                        data-errors="service.errors.comment">
                    </formgroup>
                    <div class="row">
                        <formgroup
                            class="col-sm-8"
                            data-id="section"
                            data-type="selectnumber"
                            data-label="{{ meta.Subsection.section.verbose_name }}"
                            data-help="{{ meta.Subsection.section.help_text }}"
                            data-model="service.values.section"
                            data-errors="service.errors.section"
                            data-options="service.sections"
                            data-options-label="path">
                        </formgroup>
                        <formgroup
                            class="col-sm-4"
                            data-id="order"
                            data-type="number"
                            data-label="{{ meta.Subsection.order.verbose_name }}"
                            data-help="{{ meta.Subsection.order.help_text }}"
                            data-model="service.values.order"
                            data-errors="service.errors.order">
                        </formgroup>
                    </div>
                    <div class="row">
                        <formgroup
                            class="col-sm-6"
                            data-id="title_en"
                            data-type="text"
                            data-label="{{ meta.Subsection.title_en.verbose_name }}"
                            data-help="{{ meta.Subsection.title_en.help_text }}"
                            data-model="service.values.title_en"
                            data-errors="service.errors.title_en">
                        </formgroup>
                        <formgroup
                            class="col-sm-6"
                            data-id="title_de"
                            data-type="text"
                            data-label="{{ meta.Subsection.title_de.verbose_name }}"
                            data-help="{{ meta.Subsection.title_de.help_text }}"
                            data-model="service.values.title_de"
                            data-errors="service.errors.title_de">
                        </formgroup>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        {% trans 'Close' %}
                    </button>
                    <button type="button" class="btn btn-primary"
                            ng-click="service.submitFormModal('subsections')">
                        {% trans 'Save' %}
                    </button>
                </div>
            </div>
        </div>
    </div>
