{% load i18n %}

    <a href="" class="fa fa-plus"
        title="{% trans 'Add question set' %}"
        ng-click="service.openFormModal('questionsets', subsection, true)">
    </a>

    <a href="" class="fa fa-pencil"
        title="{% trans 'Update subsection' %}"
        ng-click="service.openFormModal('subsections', subsection)">
    </a>

    <a href="" class="fa fa-trash"
        title="{% trans 'Delete subsection' %}"
        ng-click="service.openDeleteModal('subsections', subsection)">
    </a>
