{% load i18n %}
{% get_available_languages as languages %}

    <div class="modal" id="questionsets-form-modal" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h2 class="modal-title">
                        <span ng-hide="service.values.id">{% trans 'Create questionset' %}</span>
                        <span ng-show="service.values.copy">{% trans 'Copy questionset' %}</span>
                        <span ng-show="service.values.id && !service.values.copy">{% trans 'Update questionset' %}</span>
                    </h2>
                </div>

                <div class="modal-body">
                    <div class="copy-block" ng-show="service.values.copy">
                        <p>
                            {% trans 'Please enter the values for the copy of the question set below and change at least the <strong>key</strong>.' %}
                        </p>
                        <p>
                            {% trans 'Other properties can be changed once the new question set is created.' %}
                        </p>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group" ng-class="{'has-error': service.errors.uri_prefix }">
                                <label class="control-label" for="uri_prefix">
                                    {{ meta.Question.uri_prefix.verbose_name }}
                                </label>

                                <div class="input-group">
                                    <input class="form-control"
                                           id="questionset_uri_prefix"
                                           type="text"
                                           ng-model="service.values.uri_prefix" />

                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default"
                                            title="{% trans 'Insert default URI Prefix' %}"
                                            ng-click="service.values.uri_prefix = service.settings.default_uri_prefix">

                                            <span class="fa fa-magic"></span>
                                        </button>
                                    </span>
                                </div>

                                <p class="help-block">
                                    {{ meta.Question.uri_prefix.help_text }}
                                </p>

                                <ul class="help-block list-unstyled" ng-show="service.errors.uri_prefix">
                                    <li ng-repeat="error in service.errors.uri_prefix">
                                        {$ error $}
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <formgroup
                                data-id="questionset_key"
                                data-type="text"
                                data-label="{{ meta.Question.key.verbose_name }}"
                                data-help="{% trans 'The internal identifier of this questionset.' %}"
                                data-model="service.values.key"
                                data-errors="service.errors.key">
                            </formgroup>
                        </div>
                    </div>
                    <div ng-show="service.values.copy">
                        <formgroup
                            data-id="questionset_section"
                            data-type="selectnumber"
                            data-label="{{ meta.QuestionSet.section.verbose_name }}"
                            data-help="{{ meta.QuestionSet.section.help_text }}"
                            data-model="service.values.section"
                            data-errors="service.errors.section"
                            data-options="service.sections"
                            data-options-label="uri"
                            data-options-null="1"
                            data-quicksearch="true">
                        </formgroup>
                    </div>
                    <div ng-hide="service.values.copy">
                        <formgroup
                            data-id="questionset_comment"
                            data-type="textarea"
                            data-label="{{ meta.QuestionSet.comment.verbose_name }}"
                            data-help="{% trans 'Additional internal information about this questionset.' %}"
                            data-model="service.values.comment"
                            data-errors="service.errors.comment">
                        </formgroup>
                        <formgroup
                            data-id="questionset_locked"
                            data-type="checkbox"
                            data-label="{{ meta.QuestionSet.locked.verbose_name }}"
                            data-help="{{ meta.QuestionSet.locked.help_text }}"
                            data-model="service.values.locked"
                            data-errors="service.errors.locked">
                        </formgroup>
                        <div>
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active" ng-class="{
                                    'has-error':
                                        service.errors.section ||
                                        service.errors.order ||
                                        service.errors.attribute ||
                                        service.errors.is_collection
                                }">
                                    <a class="control-label" href="#questionsets-general"
                                        role="tab" data-toggle="tab" aria-controls="questionsets-general">

                                        {% trans 'General' %}
                                        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                                    </a>
                                </li>
                                {% for lang_code, lang in languages %}
                                <li role="presentation" ng-class="{
                                        'has-error':
                                            service.errors.title_{{ lang_code }} ||
                                            service.errors.help_{{ lang_code }} ||
                                            service.errors.verbose_name_{{ lang_code }} ||
                                            service.errors.verbose_name_plural_{{ lang_code }},
                                        'has-warning':
                                            service.values.id && !service.values.title_{{ lang_code }}
                                    }">

                                    <a class="control-label" href="#questionsets-{{ lang_code }}"
                                        role="tab" data-toggle="tab" aria-controls="questionsets-{{ lang_code }}">

                                        {{ lang }}
                                        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                                    </a>
                                </li>
                                {% endfor %}
                                <li role="presentation" ng-class="{
                                        'has-error':
                                            service.errors.conditions
                                    }">

                                    <a class="control-label" href="#questionsets-conditions"
                                        role="tab" data-toggle="tab" aria-controls="questionsets-conditions">

                                        {% trans 'Conditions' %}
                                        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>

                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="questionsets-general">
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <formgroup
                                                data-id="questionset_section"
                                                data-type="selectnumber"
                                                data-label="{{ meta.QuestionSet.section.verbose_name }}"
                                                data-help="{{ meta.QuestionSet.section.help_text }}"
                                                data-model="service.values.section"
                                                data-errors="service.errors.section"
                                                data-options="service.sections"
                                                data-options-label="uri"
                                                data-options-null="1"
                                                data-quicksearch="true">
                                            </formgroup>
                                            <formgroup
                                                data-id="questionset_questionset"
                                                data-type="selectnumber"
                                                data-label="{{ meta.QuestionSet.questionset.verbose_name }}"
                                                data-help="{{ meta.QuestionSet.questionset.help_text }}"
                                                data-model="service.values.questionset"
                                                data-errors="service.errors.questionset"
                                                data-options="service.questionsets"
                                                data-options-label="uri"
                                                data-options-null="1"
                                                data-quicksearch="true">
                                            </formgroup>
                                        </div>
                                        <div class="col-sm-4">
                                            <formgroup
                                                data-id="questionset_order"
                                                data-type="number"
                                                data-label="{{ meta.QuestionSet.order.verbose_name }}"
                                                data-help="{{ meta.QuestionSet.order.help_text }}"
                                                data-model="service.values.order"
                                                data-errors="service.errors.order">
                                            </formgroup>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <formgroup
                                                data-id="questionset_attribute"
                                                data-type="selectnumber"
                                                data-label="{{ meta.QuestionSet.attribute.verbose_name }}"
                                                data-help="{{ meta.QuestionSet.attribute.help_text }}"
                                                data-model="service.values.attribute"
                                                data-errors="service.errors.attribute"
                                                data-options="service.attributes"
                                                data-options-label="uri"
                                                data-options-null="1"
                                                data-quicksearch="true">
                                            </formgroup>
                                        </div>
                                        <div class="col-sm-6 checkbox-padding">
                                            <formgroup
                                                data-id="questionset_is_collection"
                                                data-type="checkbox"
                                                data-label="{{ meta.QuestionSet.is_collection.verbose_name }}"
                                                data-help="{{ meta.QuestionSet.is_collection.help_text }}"
                                                data-model="service.values.is_collection"
                                                data-errors="service.errors.is_collection">
                                            </formgroup>
                                        </div>
                                    </div>
                                </div>
                                {% for lang_code, lang in languages %}
                                <div role="tabpanel" class="tab-pane" id="questionsets-{{ lang_code }}">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <formgroup
                                                data-id="questionset_title_{{ lang_code }}"
                                                data-type="text"
                                                data-label="{% trans 'Title' %} ({{ lang }})"
                                                data-help="{% trans 'The title for this question set.' %}"
                                                data-model="service.values.title_{{ lang_code }}"
                                                data-errors="service.errors.title_{{ lang_code }}"
                                                data-warning="service.values.id && !service.values.title_{{ lang_code }}">
                                            </formgroup>
                                        </div>
                                        <div class="col-sm-12">
                                            <formgroup
                                                data-id="questionset_help_{{ lang_code }}"
                                                data-type="textarea"
                                                data-label="{% trans 'Help' %} ({{ lang }})"
                                                data-help="{% trans 'The help text for this question set.' %}"
                                                data-model="service.values.help_{{ lang_code }}"
                                                data-errors="service.errors.help_{{ lang_code }}">
                                            </formgroup>
                                        </div>
                                        <div class="col-sm-6">
                                            <formgroup
                                                data-id="questionset_verbose_name_{{ lang_code }}"
                                                data-type="text"
                                                data-label="{% trans 'Verbose name' %} ({{ lang }})"
                                                data-help="{% trans 'The verbose name for this question set.' %}"
                                                data-model="service.values.verbose_name_{{ lang_code }}"
                                                data-errors="service.errors.verbose_name_{{ lang_code }}">
                                            </formgroup>
                                        </div>
                                        <div class="col-sm-6">
                                            <formgroup
                                                data-id="questionset_verbose_name_plural_{{ lang_code }}"
                                                data-type="text"
                                                data-label="{% trans 'Verbose name plural' %} ({{ lang }})"
                                                data-help="{% trans 'The plural verbose name for this question set.' %}"
                                                data-model="service.values.verbose_name_plural_{{ lang_code }}"
                                                data-errors="service.errors.verbose_name_plural_{{ lang_code }}">
                                            </formgroup>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                                <div role="tabpanel" class="tab-pane" id="questionsets-conditions">
                                    <formgroup
                                        data-id="questionset_conditions"
                                        data-type="selectmultiple"
                                        data-label="{% trans 'Conditions' %}"
                                        data-model="service.values.conditions"
                                        data-errors="service.errors.conditions"
                                        data-options="service.conditions"
                                        data-options-label="uri"
                                        data-help="{% trans 'Hold down Control, or Command on a Mac, to select more than one.' %}">
                                    </formgroup>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        {% trans 'Close' %}
                    </button>
                    <button type="button" class="btn btn-primary"
                            ng-click="service.submitFormModal('questionsets')">
                        <span ng-show="service.copy">{% trans 'Copy' %}</span>
                        <span ng-hide="service.copy">{% trans 'Save' %}</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
