{% load i18n %}

    <h1>{% trans 'Catalog' %} {{ catalog.title }}</h1>

    {% if catalog.comment %}

    <p>
        <strong>{% trans 'Comment' %}</strong> {{ catalog.comment }}
    </p>

    {% endif %}

    {% for section in catalog.sections.all %}

    <h2>{% trans 'Section' %} {{ section.title }}</h2>

    {% if section.comment %}

    <p>
        <strong>{% trans 'Comment' %}</strong> {{ section.comment }}
    </p>

    {% endif %}

    {% for subsection in section.subsections.all %}

    <h2>{% trans 'Subsection' %} {{ subsection.title }}</h2>

    {% if subsection.comment %}

    <p>
        <strong>{% trans 'Comment' %}</strong> {{ subsection.comment }}
    </p>

    {% endif %}

    {% for entity in subsection.entities.all %}

    {% if entity.is_set %}

    <h3>{% trans 'Question set' %}</h3>

    {% if entity.help  %}

    <p>
        <strong>{% trans 'Help' %}</strong> {{ entity.help }}
    </p>

    {% endif %}

    {% if entity.comment %}

    <p>
        <strong>{% trans 'Comment' %}</strong> {{ entity.comment }}
    </p>

    {% endif %}

    <p>
        <strong>{% trans 'Questions' %}</strong>
    </p>

    <ul>
        {% for question in entity.questions.all %}
        <li>
            <p>
                <strong>{% trans 'Text' %}:</strong> {{ question.text }}
            </p>

            {% if question.help  %}

            <p>
                <strong>{% trans 'Help' %}:</strong> {{ question.help | default_if_none:'n/a' }}
            </p>

            {% endif %}

            {% if question.attribute_entity.attribute.optionsets.all %}

            <p>
                <strong>{% trans 'Options' %}:</strong>
            </p>

            <ul>
                {% for optionset in question.attribute_entity.attribute.optionsets.all %}
                {% for option in optionset.options.all %}
                <li>
                    {{ option.text }}{% if option.additional_input %}: __________{% endif %}
                </li>
                {% endfor %}
                {% endfor %}
            </ul>

            {% endif %}

            {% if question.attribute_entity.attribute.range %}

            <p>
                <strong>{% trans 'Range' %}:</strong>
            </p>

            <ul>
                <li>{% trans 'Minimum' %}: {{ question.attribute_entity.attribute.range.minimum }}</li>
                <li>{% trans 'Maximum' %}: {{ question.attribute_entity.attribute.range.maximum }}</li>
                <li>{% trans 'Step' %}: {{ question.attribute_entity.attribute.range.step }}</li>
            </ul>

            {% endif %}

            {% if question.comment %}

            <p>
                <strong>{% trans 'Comment' %}:</strong> {{ question.comment }}
            </p>

            {% endif %}

        </li>
        {% endfor %}
    </ul>

    {% elif entity.question.parent == None %}

    <h3>{% trans 'Question' %}</h3>

    <p>
        <strong>{% trans 'Text' %}</strong> {{ entity.question.text }}
    </p>

    {% if entity.help  %}

    <p>
        <strong>{% trans 'Help' %}</strong> {{ entity.help }}
    </p>

    {% endif %}

    {% if entity.attribute_entity.attribute.optionsets.all %}

    <p>
        <strong>{% trans 'Options' %}</strong>
    </p>

    <ul>
        {% for optionset in entity.attribute_entity.attribute.optionsets.all %}
        {% for option in optionset.options.all %}
        <li>{{ option.text }}{% if option.additional_input %}: __________{% endif %}</li>
        {% endfor %}
        {% endfor %}
    </ul>

    {% endif %}

    {% if entity.attribute_entity.attribute.range %}

    <p>
        <strong>{% trans 'Range' %}:</strong>
    </p>

    <ul>
        <li>{% trans 'Minimum' %}: {{ entity.attribute_entity.attribute.range.minimum }}</li>
        <li>{% trans 'Maximum' %}: {{ entity.attribute_entity.attribute.range.maximum }}</li>
        <li>{% trans 'Step' %}: {{ entity.attribute_entity.attribute.range.step }}</li>
    </ul>

    {% endif %}

    {% if entity.comment %}

    <p>
        <strong>{% trans 'Comment' %}</strong> {{ entity.comment }}
    </p>

    {% endif %}

    {% endif %}

    {% endfor %}

    {% endfor %}

{% endfor %}
