{% load i18n %}

    <div class="modal" id="subsections-delete-modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h2 class="modal-title">
                        {% trans 'Subsection' %}
                    </h2>
                </div>

                <div class="modal-body">
                    <p>
                        {% blocktrans trimmed with object='{$ service.values.path $}' %}
                        You are about to permanently delete the subsection <code class="text-primary">{{ object }}</code>.
                        {% endblocktrans %}
                    </p>

                    <p ng-show="service.values.entities.length">
                        {% blocktrans trimmed %}
                        <strong>Important!</strong> This will also delete the following items:
                        {% endblocktrans %}
                    </p>

                    <ul class="list-unstyled">
                        <li ng-repeat="entity in service.values.entities">
                            <strong ng-show="entity.is_set">
                                {% trans 'Question set' %}
                            </strong>
                            <strong ng-hide="entity.is_set">
                                {% trans 'Question' %}
                            </strong>
                            <code class="text-primary">{$ entity.path $}</code>
                            <ul class="list-unstyled">
                                <li ng-repeat="question in entity.questions">
                                    <strong>Question</strong>
                                    <code class="text-primary">{$ question.path $}</code>
                                </li>
                            </ul>
                        </li>
                    </ul>

                    <p class="text-danger">
                        {% trans 'This action cannot be undone!' %}
                    </p>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        {% trans 'Close' %}
                    </button>
                    <button type="button" class="btn btn-danger"
                            ng-click="service.submitDeleteModal('subsections')">
                        {% trans 'Delete' %}
                    </button>
                </div>
            </div>
        </div>
    </div>
