{% load i18n %}
{% load core_tags %}

<div class="catalog-display-options-wrap">
  <ul>
    <li>
    <div class="form-group">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="service.showURIs">
                        {% trans 'Show URIs' %}
                </label>
            </div>
        </div>
    </li>
  </ul>
</div>

<div class="catalog-display-options-wrap" ng-show="service.showURIs">
  <ul>
    <li>
    <div class="form-group">
    <div class="checkbox">
        <label>
            <input type="checkbox" ng-model="service.showURICatalogs">
            {% trans 'Catalog' %}
        </label>
    </div>
    </div>
    </li>

    <li>
    <div class="form-group">
    <div class="checkbox">
        <label>
            <input type="checkbox" ng-model="service.showURISections">
            {% trans 'Sections' %}
        </label>
    </div>
    </div>
    </li>

    <li>
    <div class="form-group">
    <div class="checkbox">
        <label>
            <input type="checkbox" ng-model="service.showURIQuestionSets">
            {% trans 'Question Sets' %}
        </label>
    </div>
    </div>
    </li>

    <li>
    <div class="form-group">
    <div class="checkbox">
        <label>
            <input type="checkbox" ng-model="service.showURIQuestions">
            {% trans 'Question' %}
        </label>
    </div>
    </div>
    </li>

    <li>
    <div class="form-group">
    <div class="checkbox">
        <label>
            <input type="checkbox" ng-model="service.showURIConditions">
            {% trans 'Conditions' %}
        </label>
    </div>
    </div>
    </li>

    <li>
    <div class="form-group">
    <div class="checkbox">
        <label>
            <input type="checkbox" ng-model="service.showURIOptions">
            {% trans 'Options' %}
        </label>
    </div>
    </div>
    </li>

    <li>
    <div class="form-group">
    <div class="checkbox">
        <label>
            <input type="checkbox" ng-model="service.showURIAttributes">
            {% trans 'Attributes' %}
        </label>
    </div>
    </div>
    </li>

  </ul>
</div>
