{% load i18n %}

    <div class="modal" id="sections-form-modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" tabindex="-1">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h2 class="modal-title">
                        {% trans 'Section' %}
                    </h2>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group" ng-class="{'has-error': service.errors.uri_prefix }">
                                <label class="control-label" for="uri_prefix">
                                    {{ meta.Section.uri_prefix.verbose_name }}
                                </label>

                                <div class="input-group">
                                    <input class="form-control"
                                           id="uri_prefix"
                                           type="text"
                                           ng-model="service.values.uri_prefix" />

                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default"
                                            title="{% trans 'Insert default URI Prefix' %}"
                                            ng-click="service.values.uri_prefix = service.settings.default_uri_prefix">

                                            <span class="fa fa-magic"></span>
                                        </button>
                                    </span>
                                </div>

                                <p class="help-block">
                                    {{ meta.Section.uri_prefix.help_text }}
                                </p>

                                <ul class="help-block list-unstyled" ng-show="service.errors.uri_prefix">
                                    <li ng-repeat="error in service.errors.uri_prefix">
                                        {$ error $}
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <formgroup
                                data-id="key"
                                data-type="text"
                                data-label="{{ meta.Section.key.verbose_name }}"
                                data-help="{{ meta.Section.key.help_text }}"
                                data-model="service.values.key"
                                data-errors="service.errors.key">
                            </formgroup>
                        </div>
                    </div>
                    <formgroup
                        data-id="comment"
                        data-type="textarea"
                        data-label="{{ meta.Section.comment.verbose_name }}"
                        data-help="{{ meta.Section.comment.help_text }}"
                        data-model="service.values.comment"
                        data-errors="service.errors.comment">
                    </formgroup>
                    <div class="row">
                        <div class="col-sm-8">
                            <formgroup
                                data-id="catalog"
                                data-type="selectnumber"
                                data-label="{{ meta.Section.catalog.verbose_name }}"
                                data-help="{{ meta.Section.catalog.help_text }}"
                                data-model="service.values.catalog"
                                data-errors="service.errors.catalog"
                                data-options="service.catalogs"
                                data-options-label="key">
                            </formgroup>
                        </div>
                        <div class="col-sm-4">
                            <formgroup
                                data-id="order"
                                data-type="number"
                                data-label="{{ meta.Section.order.verbose_name }}"
                                data-help="{{ meta.Section.order.help_text }}"
                                data-model="service.values.order"
                                data-errors="service.errors.order">
                            </formgroup>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <formgroup
                                data-id="title_en"
                                data-type="text"
                                data-label="{{ meta.Section.title_en.verbose_name }}"
                                data-help="{{ meta.Section.title_en.help_text }}"
                                data-model="service.values.title_en"
                                data-errors="service.errors.title_en">
                            </formgroup>
                        </div>
                        <div class="col-sm-6">
                            <formgroup
                                data-id="title_de"
                                data-type="text"
                                data-label="{{ meta.Section.title_de.verbose_name }}"
                                data-help="{{ meta.Section.title_de.help_text }}"
                                data-model="service.values.title_de"
                                data-errors="service.errors.title_de">
                            </formgroup>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        {% trans 'Close' %}
                    </button>
                    <button type="button" class="btn btn-primary"
                            ng-click="service.submitFormModal('sections')">
                        {% trans 'Save' %}
                    </button>
                </div>
            </div>
        </div>
    </div>
