{% load i18n %}

    <div ng-cloak>

		<h2>{% trans 'Catalog' %}</h2>

	    <select class="form-control" ng-model="service.current_catalog_id" ng-change="service.initView()" by-number ng-cloak>
	        <option ng-repeat="catalog in service.catalogs | orderBy : 'title'" value="{$ catalog.id $}">{$ catalog.title $}</option>
	    </select>

        <h2>{% trans 'Filter questions' %}</h2>

        <div class="form-group">
            <div class="input-group">
                <input type="text" class="form-control" ng-model="service.filter"
                       placeholder="{% trans 'Search' %}"></input>
                <span class="input-group-btn" ng-click="service.filter = ''">
                    <button class="btn btn-default">
                        <span class="fa fa-times"></span>
                    </button>
                </span>
            </div>
        </div>

        <div class="form-group">
            <select class="form-control" ng-model="service.uri_prefix">
                <option value="">{% trans 'All URI prefixes' %}</option>
                <option ng-repeat="uri_prefix in service.uri_prefixes" value="{$ uri_prefix $}">
                    {$ uri_prefix $}
                </option>
            </select>
        </div>

        <h2>{% trans 'Options' %}</h2>

        <ul class="list-unstyled">
            <li>
                <a href="" ng-click="service.openFormModal('catalogs', service.catalog)">
                    {% trans 'Update catalog details' %}
                </a>
            </li>
            <li>
                <a href="" ng-click="service.openFormModal('catalogs', service.catalog, false, true)">
                    {% trans 'Copy catalog' %}
                </a>
            </li>
            <li>
                <a href="" ng-click="service.openDeleteModal('catalogs', service.catalog)">
                    {% trans 'Delete catalog' %}
                </a>
            </li>
        </ul>

        <ul class="list-unstyled">
            <li>
                <a href="" ng-click="service.openFormModal('catalogs', null, true)">
                    {% trans 'Create new catalog' %}
                </a>
            </li>
            <li>
                <a href="" ng-click="service.openFormModal('sections', service.catalog, true)">
                    {% trans 'Create new section' %}
                </a>
            </li>
            <li>
                <a href="" ng-click="service.openFormModal('questionsets', null, true)">
                    {% trans 'Create new questionset' %}
                </a>
            </li>
            <li>
                <a href="" ng-click="service.openFormModal('questions', null, true)">
                    {% trans 'Create new question' %}
                </a>
            </li>
        </ul>

        <h2>{% trans 'Export' %}</h2>

        <ul class="list-unstyled">
            {% for format, text in export_formats %}
            <li >
                <a href="{$ service.catalog.export_urls.{{ format }} $}" target="_blank">
                    {{ text }}
                </a>
            </li>
            {% endfor %}
        </ul>
        <ul class="list-unstyled">
            <li >
                <a href="{$ service.catalog.xml_url $}" target="_blank">
                    {% trans 'XML' %}
                </a>
            </li>
        </ul>

        <h2>{% trans 'Import' %}</h2>

        <ul class="list-unstyled">
            <li>
                {% url 'upload' as upload_url %}
                {% include 'core/upload_form.html' with upload_url=upload_url %}
            </li>
        </ul>
    </div>
