@import 'core/css/variables';

form.upload-form {
    position: relative;
    height: 32px;

    .upload-form-field {
        cursor: pointer;
        border-radius: 4px;
        margin-bottom: 10px;
        margin-right: 5px;

        p,
        input {
            width: 141px;
            height: 34px;

            margin: 0px;
        }

        p {
            text-align: left;

            color: $link-color;
            border: 1px solid silver;
            border-radius: 4px;

            padding: 6px 6px;

            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        input {
            position: absolute;
            z-index: 1;
            padding: 0;
            opacity: 0;
        }

        &:hover {
            background-color: #e6e6e6;
        }
    }
}
