@import 'core/css/variables';

form.upload-form {
    position: relative;
    height: 32px;

    .upload-form-field {
        cursor: pointer;
        border-radius: 4px;

        p,
        input {
            width: 132px;
            height: 34px;

            margin: 0;
        }

        p {
            text-align: left;

            color: $link-color;
            border: 1px solid silver;
            border-radius: 4px;

            padding: 6px 12px;
        }

        input {
            position: absolute;
            z-index: 1;
            padding: 0;
            opacity: 0;
        }

        &:hover {
            background-color: #e6e6e6;
        }
    }

    button {
        margin-left: 5px;
    }
}
