{% extends 'core/page.html' %}
{% load staticfiles %}
{% load compress %}
{% load i18n %}

{% block head %}
    {% compress css %}
    <link rel="stylesheet" type="text/x-scss" href="{% static 'options/css/options.scss' %}" />
    {% endcompress %}

    <script type="text/javascript" src="{% static 'angular/angular.min.js' %}" ></script>
    <script type="text/javascript" src="{% static 'angular-resource/angular-resource.min.js' %}" ></script>
    <script type="text/javascript" src="{% static 'core/js/core.js' %}" ></script>
    <script type="text/javascript" src="{% static 'options/js/options.js' %}" ></script>
{% endblock %}

{% block bodyattr %} ng-app="options" ng-controller="OptionsController" {% endblock %}

{% block sidebar %}

    <h2>{% trans 'Filter' %}</h2>

    <div class="input-group">
        <input type="text" class="form-control" ng-model="service.filter"></input>
        <span class="input-group-btn" ng-click="service.filter = ''">
            <button class="btn btn-default">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
        </span>
    </div>

    <h2>{% trans 'Options' %}</h2>

    <ul class="list-unstyled">
        <li>
            <a href="" ng-click="service.openFormModal('optionsets', null, true)">
                {% trans 'Create new option set' %}
            </a>
        </li>
        <li>
            <a href="" ng-click="service.openFormModal('options', null, true)">
                {% trans 'Create new option' %}
            </a>
        </li>
    </ul>

    <h2>{% trans 'Export' %}</h2>

    <ul class="list-unstyled">
        {% for format, text in export_formats.items %}
        <li >
            <a href="{% url 'options_export' format %}" target="_blank">
                {{ text }}
            </a>
        </li>
        {% endfor %}
    </ul>

{% endblock %}

{% block page %}

    <h1>{% trans 'Options' %}</h1>

    <div ng-repeat="optionset in service.optionsets | filter: service.filter" ng-cloak>

        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="pull-right">
                    <a href="" class="fa fa-pencil"
                        title="{% trans 'Update optionset' %}"
                        ng-click="service.openFormModal('optionsets', optionset)">
                    </a>
                    <a href="" class="fa fa-trash"
                        title="{% trans 'Delete optionset' %}"
                        ng-click="service.openDeleteModal('optionsets', optionset)">
                    </a>
                </div>
                <strong>{% trans 'Optionset' %}</strong>
                <code>{$ optionset.label $}</code>
            </div>

            <ul class="list-group">

            </ul>
        </div>

    </div>

{% endblock %}
