{% load i18n %}

    <div class="modal" id="optionsets-form-modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" tabindex="-1">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h2 class="modal-title">
                        {% trans 'Option set' %}
                    </h2>
                </div>

                <div class="modal-body">
                    <formgroup
                        data-id="title"
                        data-type="text"
                        data-label="{% trans 'Title' %}"
                        data-model="service.values.title"
                        data-errors="service.errors.title">
                    </formgroup>
                    <formgroup
                        data-id="order"
                        data-type="number"
                        data-label="{% trans 'Order' %}"
                        data-model="service.values.order"
                        data-errors="service.errors.order">
                    </formgroup>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        {% trans 'Close' %}
                    </button>
                    <button type="button" class="btn btn-primary"
                            ng-click="service.submitFormModal('optionsets')">
                        {% trans 'Save' %}
                    </button>
                </div>
            </div>
        </div>
    </div>
