@import '../breakpoints';

nav.navbar {
    --bs-navbar-color: #9d9d9d;
    --bs-navbar-hover-color: white;
    --bs-navbar-active-color: white;

    --bs-nav-link-color: var(--bs-navbar-color);
    --bs-nav-link-hover-color: var(--bs-navbar-hover-color);

    --bs-navbar-brand-color: var(--bs-navbar-color);
    --bs-navbar-brand-hover-color: var(--bs-navbar-hover-color);

    background-color: var(--rdmo-color);

    .container-fluid {
        @media only screen and (min-width: $grid-breakpoint-md) {
            padding-left: 3rem;
            padding-right: 3rem;
        }
    }

    .dropdown-menu {
        --bs-nav-link-color: var(--rdmo-color-link);
        --bs-nav-link-hover-color: var(--rdmo-color-link-hover);
        --bs-nav-link-active-color: var(--rdmo-color-link);

        .nav-item:hover {
            background-color: var(--rdmo-color-bg);
        }
    }
}
