table.table {
    --rdmo-table-font-size: var(--rdmo-font-size-smaller);
    --rdmo-table-padding: 1rem 1.5rem;
    --rdmo-table-th-bg: var(--rdmo-sidebar-bg);

    font-size: var(--rdmo-table-font-size);
    box-shadow: var(--rdmo-box-shadow);

    th {
        text-transform: uppercase;
        background-color: var(--rdmo-table-th-bg);
        border-bottom: none;
    }
    th, td {
        padding: var(--rdmo-table-padding);
    }

    .bi {
        font-size: 1rem;
    }
}
