:root {
    --bs-font-sans-serif: var(--rdmo-font);
    --bs-body-font-size: 1rem;

    --bs-body-color: var(--rdmo-body-color);
    --bs-body-bg: var(--rdmo-body-bg);
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    font-family: var(--rdmo-font-headline);
}
h1, .h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}
h2, .h2 {
    font-size: 1.6rem;
    margin-bottom: 1rem;
}
h3, .h3 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.font-smaller {
    font-size: var(--rdmo-font-size-smaller) !important;
}
.font-small {
    font-size: var(--rdmo-font-size-small) !important;
}
.font-normal {
    font-size: 1em !important;
}
.font-large {
    font-size: var(--rdmo-font-size-large) !important;
}
.font-larger {
    font-size: var(--rdmo-font-size-larger) !important;
}

.home {
    h1 {
        font-size: 2.6rem;
    }
    h2 {
        font-size: 2rem;
    }
}

a,
span.link,
button.link {
    color: var(--rdmo-link-color);
    cursor: pointer;
    text-decoration: var(--rdmo-link-decoration);

    &:hover {
        color: var(--rdmo-link-hover-color);
    }
}

button.link,
button.unstyled {
    background: none;
    border: none;
    padding: 0;

    font-family: inherit;
    font-size: inherit;
    vertical-align: inherit;
    text-align: left;

    &.nav-link {
        padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    }
}

.truncate {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.cursor-pointer {
    cursor: pointer;
}

.btn-primary {
    --bs-btn-bg: var(--rdmo-color-link);
    --bs-btn-border-color: var(--rdmo-color-link);
    --bs-btn-hover-bg: var(--rdmo-color-link-hover);
    --bs-btn-hover-border-color: var(--rdmo-color-link-hover);
}
