:root {
    --rdmo-color: #101F70;
    --rdmo-color-bg: #ffffff;
    --rdmo-color-brand: #9d9d9d;
    --rdmo-color-primary: #101F70;
    --rdmo-color-link: #337ab7;
    --rdmo-color-light-gray: #f8f9fa;
    --rdmo-color-dark-gray: #999;
    --rdmo-color-footer: #999;
    --rdmo-color-footer-bg: #001;
}
