{% extends 'core/page.html' %}
{% load i18n %}

{% block page %}

    <h2>{% trans "Create a new account" %}</h2>

    <p>
        {% blocktrans trimmed with provider_name=account.get_provider.name site_name=site.name %}
        You are about to use your <strong>{{provider_name}}</strong> account to login to {{site_name}}. As a final step, please complete the following form:{% endblocktrans %}
    </p>

    <form method="post" action="{% url 'socialaccount_signup' %}">
        {% csrf_token %}

        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}

        {% include 'core/bootstrap_form_fields.html' %}

        <input type="submit" class="btn btn-primary" value="{% trans 'Create account' %}" />
    </form>

    <ul class="list-unstyled text-danger">
    {% for error in form.non_field_errors %}
        <li>{{ error }}</li>
    {% endfor %}
    </ul>

{% endblock %}
