{% load i18n %}

    <div class="modal" id="conditions-form-modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" tabindex="-1">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h2 class="modal-title">
                        {% trans 'Condition' %}
                    </h2>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <formgroup
                            class="col-xs-6"
                            data-id="uri_prefix"
                            data-type="text"
                            data-label="{{ meta.Condition.uri_prefix.verbose_name }}"
                            data-help="{{ meta.Condition.uri_prefix.help_text }}"
                            data-model="service.values.uri_prefix"
                            data-errors="service.errors.uri_prefix">
                        </formgroup>
                        <formgroup
                            class="col-xs-6"
                            data-id="key"
                            data-type="text"
                            data-label="{{ meta.Condition.key.verbose_name }}"
                            data-help="{{ meta.Condition.key.help_text }}"
                            data-model="service.values.key"
                            data-errors="service.errors.key">
                        </formgroup>
                    </div>
                    <formgroup
                        data-id="comment"
                        data-type="textarea"
                        data-label="{{ meta.Condition.comment.verbose_name }}"
                        data-help="{{ meta.Condition.comment.help_text }}"
                        data-model="service.values.comment"
                        data-errors="service.errors.comment">
                    </formgroup>
                    <formgroup
                        data-id="source"
                        data-type="selectnumber"
                        data-label="{{ meta.Condition.source.verbose_name }}"
                         data-help="{{ meta.Condition.source.help_text }}"
                        data-model="service.values.source"
                        data-errors="service.errors.source"
                        data-options="service.attributes"
                        data-options-label="path"
                        data-options-null="1">
                    </formgroup>
                    <formgroup
                        data-id="relation"
                        data-type="select"
                        data-label="{{ meta.Condition.relation.verbose_name }}"
                        data-help="{{ meta.Condition.relation.help_text }}"
                        data-model="service.values.relation"
                        data-errors="service.errors.relation"
                        data-options="service.relations"
                        data-options-label="text">
                    </formgroup>
                    <div class="row">
                        <formgroup
                            class="col-xs-6"
                            data-id="target_text"
                            data-type="text"
                            data-label="{{ meta.Condition.target_text.verbose_name }}"
                            data-help="{{ meta.Condition.target_text.help_text }}"
                            data-model="service.values.target_text"
                            data-errors="service.errors.target_text">
                        </formgroup>
                        <formgroup
                            class="col-xs-6"
                            data-id="target_option"
                            data-type="selectnumber"
                            data-label="{{ meta.Condition.target_option.verbose_name }}"
                            data-help="{{ meta.Condition.target_option.help_text }}"
                            data-model="service.values.target_option"
                            data-errors="service.errors.target_option"
                            data-options="service.getOptions()"
                            data-options-label="text"
                            data-options-null="1">
                        </formgroup>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        {% trans 'Close' %}
                    </button>
                    <button type="button" class="btn btn-primary"
                            ng-click="service.submitFormModal('conditions')">
                        {% trans 'Save' %}
                    </button>
                </div>
            </div>
        </div>
    </div>
