{% load static %}
{% load compress %}
{% load i18n %}

<div class="table-locked-list-{{ pk }}" hx-trigger="load, catalogChanged from:body" hx-get={{ update_locked_url }}  hx-target="this" hx-swap="innerHTML">
</div> 
<!-- 
<div class="table-row-sites-{{ pk }}" , hx-target="this" hx-swap="innerHTML">
<button hx-get={{ sites_form_url }} class="btn btn-primary"></button>
{% comment %} <ul> {% endcomment %}
{% comment %} {% for site in sites %} {% endcomment %}
 {% if locked is True %}
  <input type="hidden" name="locked" value="false"/>
  <button type="submit" class="btn btn-default btn-lg">
    {% comment %} <span class="btn btn-outline-primary" aria-hidden="true"></span> {% endcomment %}
  </button>
  {% else %}
  <input type="hidden" name="locked" value="true"/>
  <button type="submit" class="btn btn-default btn-lg" >
    {% comment %} <span class="btn btn-outline-warning" aria-hidden="true"></span> {% endcomment %}
  </button>
  {% endif %}
{% comment %} {% endfor %} {% endcomment %}
{% comment %} </ul> {% endcomment %}
{% comment %} catalog_update_sites_url = reverse('table_update_sites', args=str(record.pk)) {% endcomment %}

{% comment %} <li>{{ locked }}</li> {% endcomment %}
{% comment %} <button hx-get={{ update_locked_url }} class="btn btn-primary">+/-</button> {% endcomment %}
 
{% comment %} class="table-row-sites-{str(record.pk)}"  {% endcomment %}
-->