<form id="table-row-locked-form-{{ pk }}"
      hx-post="{{ request.path }}">
{% comment %} hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}' {% endcomment %}
{% if form.locked.value %}
  <input type="hidden" name="locked" value="false"/>
  <button type="submit" class="btn fa fa-lock text-muted" aria-hidden="true">
  {% comment %} style="color:darkred" {% endcomment %}
  </button>
{% else %}
    <input type="hidden" name="locked" value="true"/>
    <button type="submit" class="btn fa fa-unlock" aria-hidden="true" style="opacity:0.4">
      {% comment %} style="color:grey"> {% endcomment %}
    </button>
{% endif %}
</form>
