<form class="table-row-locked-form-{{ pk }}"
  hx-post="{{ request.path }}"
  hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}'>
  {% if form.locked.value is True %}
  <input type="hidden" name="locked" value="false"/>
  <button type="submit" class="btn btn-default btn-lg">
    <span class="fa fa-lock text-muted" aria-hidden="true" style="color:darkred"></span>
  </button>
  {% else %}
  <input type="hidden" name="locked" value="true"/>
  <button type="submit" class="btn btn-default btn-lg">
    <span class="fa fa-unlock" aria-hidden="true"  style="color:grey"></span>
  </button>
  {% endif %}
</form>