{% load i18n %}

<div ng-hide="entity.is_attribute">

    <a href="" class="fa fa-pencil"
        title="{% trans 'Update entity' %}"
        ng-click="service.openFormModal('entities', entity)">
    </a>
    <a href="" class="fa fa-trash"
        title="{% trans 'Delete entity' %}"
        ng-click="service.openDeleteModal('entities', entity)">
    </a>

    <div class="dropdown options-dropdown">
        <a class="dropdown-toggle" type="button" id="users-options"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"
            title="{% trans 'Show options' %}">
            <span class="fa fa-cog"></span>
        </a>
        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="users-options">
            <li>
                <a href="" ng-click="service.openFormModal('attributes', entity, true)">
                    {% trans 'Add attribute' %}
                </a>
            </li>
            <li>
                <a href="" ng-click="service.openFormModal('entities', entity, true)">
                    {% trans 'Add entity' %}
                </a>
            </li>
            <li role="separator" class="divider"></li>
            <li>
                <a href="" ng-click="service.openFormModal('conditions', entity)">
                    {% trans 'Update conditions' %}
                </a>
            </li>
            <li>
                <a href="" ng-click="service.openFormModal('verbosenames', entity)">
                    {% trans 'Update verbose name' %}
                </a>
            </li>
        </ul>
    </div>

</div>

<div ng-show="entity.is_attribute">

    <a href="" class="fa fa-pencil"
        title="{% trans 'Update attribute' %}"
        ng-click="service.openFormModal('attributes', entity)"></a>
    <a href="" class="fa fa-trash"
        title="{% trans 'Delete attribute' %}"
        ng-click="service.openDeleteModal('attributes', entity)">
    </a>

    <div class="dropdown options-dropdown">
        <a class="dropdown-toggle" type="button" id="users-options"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"
            title="{% trans 'Show options' %}">
            <span class="fa fa-cog"></span>
        </a>
        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="users-options">
            <li>
                <a href="" ng-click="service.openFormModal('options', entity)">
                    {% trans 'Update options' %}
                </a>
            </li>
            <li>
                <a href="" ng-click="service.openFormModal('ranges', entity)">
                    {% trans 'Update range' %}
                </a>
            </li>
            <li>
                <a href="" ng-click="service.openFormModal('conditions', entity)">
                    {% trans 'Update conditions' %}
                </a>
            </li>
            <li>
                <a href="" ng-click="service.openFormModal('verbosenames', entity)">
                    {% trans 'Update verbose name' %}
                </a>
            </li>
        </ul>
    </div>

</div>
