{% load i18n %}

    <div class="modal" id="attributeset-delete-modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="add-modal">
                        <span ng-show="service.values.is_set">
                            {% trans 'Delete attribute set' %}
                        </span>
                        <span ng-hide="service.values.is_set">
                            {% trans 'Delete attribute' %}
                        </span>
                    </h4>
                </div>

                <div class="modal-body">
                    <p>
                        {% blocktrans trimmed %}
                        You are about to permanently delete the attribute set <code>{$ service.values.tag $}</code>.
                        {% endblocktrans %}
                    </p>

                    <p>
                        {% trans 'This will also delete the following attributes:' %}
                    </p>

                    <ul>
                        <li ng-repeat="attribute in service.values.attributes">
                            <code>{$ attribute.tag $}</code>
                        </li>
                    </ul>

                    <p class="text-danger">
                        {% trans 'This action cannot be undone!' %}
                    </p>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        {% trans 'Close' %}
                    </button>
                    <button type="button" class="btn btn-danger"
                            ng-click="service.submitDeleteModal('attributeset')">
                        {% trans 'Delete' %}
                    </button>
                </div>
            </div>
        </div>
    </div>
