{% load i18n %}

    <div class="modal" id="optionsets-form-modal" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" tabindex="-1">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h2 class="modal-title">
                        {% trans 'Options' %}
                    </h2>
                </div>

                <div class="modal-body">
                    <formgroup
                        data-id="optionsets"
                        data-type="selectmultiple"
                        data-label="{% trans 'Option sets' %}"
                        data-model="service.values.optionsets"
                        data-errors="service.errors.optionsets"
                        data-options="service.optionsets"
                        data-options-label="key"
                        data-help="{% trans 'Hold down Control, or Command on a Mac, to select more than one.' %}">
                    </formgroup>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        {% trans 'Close' %}
                    </button>
                    <button type="button" class="btn btn-primary"
                            ng-click="service.submitFormModal('optionsets')">
                        {% trans 'Save' %}
                    </button>
                </div>
            </div>
        </div>
    </div>
