{% load i18n %}
{% load ng_tags %}

    <div class="modal" id="form-modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="add-modal">
                        <span ng-show="service.values.is_set">
                            {% trans 'Attribute set' %}
                        </span>
                        <span ng-hide="service.values.is_set">
                            {% trans 'Attribute' %}
                        </span>
                    </h4>
                </div>

                <div class="modal-body">
                    {% ng_form_field 'text' _('Tag') 'tag' %}
                    {% ng_form_field 'checkbox' _('is a Collection') 'is_collection' %}
                    <div ng-hide="service.values.is_set">
                    {% ng_form_field 'select' _('Attributeset') 'attributeset' 'service.sets' %}
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        {% trans 'Close' %}
                    </button>
                    <button type="button" class="btn btn-primary" ng-click="service.submitFormModal()">
                        {% trans 'Save' %}
                    </button>
                </div>
            </div>
        </div>
    </div>
