{% load i18n %}

    <div class="modal" id="entities-form-modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" tabindex="-1">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h2 class="modal-title">
                        {% trans 'Entity' %}
                    </h2>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <formgroup
                            class="col-sm-6"
                            data-id="uri_prefix"
                            data-type="text"
                            data-label="{{ meta.Attribute.uri_prefix.verbose_name }}"
                            data-help="{% trans 'The prefix for the URI of this entity.' %}"
                            data-model="service.values.uri_prefix"
                            data-errors="service.errors.uri_prefix">
                        </formgroup>
                        <formgroup
                            class="col-sm-6"
                            data-id="key"
                            data-type="text"
                            data-label="{{ meta.Attribute.key.verbose_name }}"
                            data-help="{% trans 'The internal identifier of this entity.' %}"
                            data-model="service.values.key"
                            data-errors="service.errors.key">
                        </formgroup>
                    </div>
                    <formgroup
                        data-id="comment"
                        data-type="textarea"
                        data-label="{{ meta.Attribute.comment.verbose_name }}"
                        data-help="{% trans 'Additional internal information about this entity.' %}"
                        data-model="service.values.comment"
                        data-errors="service.errors.comment">
                    </formgroup>
                    <formgroup
                        data-id="parent"
                        data-type="selectnumber"
                        data-label="{{ meta.Attribute.parent.verbose_name }}"
                        data-help="{{ meta.Attribute.parent.help_text }}"
                        data-model="service.values.parent"
                        data-errors="service.errors.parent"
                        data-options="service.entities"
                        data-options-label="path"
                        data-options-null="1">
                    </formgroup>
                    <formgroup
                        data-id="is_collection"
                        data-type="checkbox"
                        data-label="{{ meta.Attribute.is_collection.verbose_name }}"
                        data-help="{% trans 'Designates whether this entity can have several sets of values.' %}"
                        data-model="service.values.is_collection"
                        data-errors="service.errors.is_collection">
                    </formgroup>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        {% trans 'Close' %}
                    </button>
                    <button type="button" class="btn btn-primary"
                            ng-click="service.submitFormModal('entities')">
                        {% trans 'Save' %}
                    </button>
                </div>
            </div>
        </div>
    </div>
