{% extends 'core/bs53/main.html' %}
{% load i18n %}
{% load core_tags %}

{% block main %}

    <h1>{% trans "Delete profile" %}</h1>

    <p>{% trans "If you are willing to remove all your account information please proceed by entering the necessary data below. Once completed this can not be undone." %} </p>

    <form method="post" action="{% url 'profile_remove'  %}" novalidate>
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}" />

        {% for field in form.visible_fields %}
            {% bootstrap_form_field field %}
        {% endfor %}

        <button type="submit" class="btn btn-danger">
            {% trans 'Delete profile' %}
        </button>
    </form>

{% endblock %}
