{% extends 'core/bs53/main.html' %}
{% load i18n %}
{% load core_tags %}

{% block main %}

    <h1>{% trans "Update profile" %}</h1>

    {% if settings.ACCOUNT %}
    <p>
        {% url 'account_change_password' as password_url %}
        {% url 'account_email' as email_url %}
        {% blocktrans trimmed %}
        Please enter your updated account information. You can change your password using the <a href="{{ password_url }}">password form</a> and update your e-mail using the <a href="{{ email_url }}">e-mail form</a>.
        {% endblocktrans %}
    </p>
    {% endif %}

    <form method="post" action="{% url 'profile_update'  %}" class="mb-5">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}" />

        {% for field in form.visible_fields %}
            {% bootstrap_form_field field %}
        {% endfor %}

        <button type="submit" class="btn btn-primary">
            {% trans 'Update profile' %}
        </button>
    </form>

    {% if settings.PROFILE_DELETE  %}

    <h2>{% trans "Delete profile" %}</h2>

    <p>
        {% trans 'If you want to remove all your account information please proceed by clicking the button below.' %}
    </p>

    <a class="btn btn-danger" role="button" href="{% url 'profile_remove' %}">
        {% trans "Delete profile" %}
    </a>
    {% endif %}

{% endblock %}
