<div class="form-group" ng-class="{'has-error': errors, 'has-warning': warning }">
    <label class="control-label" for="id">{$ label $}</label>

    <select class="form-control" id="{$ id $}" ng-model="model" by-number>
        <option ng-show="optionsNull" value="">---</option>
        <option value="{$ option.id $}"
            ng-repeat="option in options | filter: optionsFilter">
            {$ option[optionsLabel] $}
        </option>
    </select>

    <p class="help-block" ng-show="help">{$ help $}</p>

    <ul class="help-block list-unstyled">
        <li ng-repeat="error in errors">{$ error $}</li>
    </ul>
</div>
