{% extends 'core/page.html' %}
{% load static %}
{% load compress %}
{% load i18n %}
{% load core_tags %}
{% load render_table from django_tables2 %}
{% block head %}
    <base href="{% url 'catalogs_table' %}" />

    {% vendor 'angular' %}
    {% vendor 'moment' %}
    {% vendor 'select2' %}
    {% vendor 'select2-bootstrap-theme' %}

    {% compress css %}
    <link rel="stylesheet" type="text/x-scss" href="{% static 'questions/css/catalogs.scss' %}" />
    {% endcompress %}
    

    {% compress js %}
    <script type="text/javascript" src="{% static 'core/js/core.js' %}" ></script>
    <script type="text/javascript" src="{% static 'questions/js/catalogs.js' %}" ></script>
    {% endcompress %}
    
{% endblock %}

{% comment %} {% block bodyattr %} ng-app="catalogs" ng-controller="CatalogsController" {% endblock %} {% endcomment %}

{% block sidebar %}

    {% include 'questions/catalogs_sidebar.html' %}

{% endblock sidebar %} 

{% block page %}

    {% get_available_languages as LANGUAGES %}

    <h1>{% trans 'Catalogs Table' %}</h1>

    {% block catalog_table %}
    {% render_table table %}
    {% endblock catalog_table %}
    
{% endblock page %}
