{% extends 'core/page.html' %}
{% load static %}
{% load compress %}
{% load i18n %}
{% load core_tags %}
{% load render_table from django_tables2 %}

{% block head %}
    <base href="{% url 'catalogs_table' %}" />
    <meta name="htmx-config" content='{"historyCacheSize": 0, "refreshOnHistoryMiss": false}'>
    {% vendor 'angular' %}
    {% vendor 'moment' %}
    {% vendor 'select2' %}
    {% vendor 'select2-bootstrap-theme' %}

    <script src="{% static 'catalogs_table/js/htmx.min.js' %}"></script>

    {% compress css %}
    {% endcompress %}

    
    {% compress js %}
    {% endcompress %}
       
{% endblock head %}

{% block sidebar %}
{% endblock sidebar %}

{% block page %}

    {% get_available_languages as LANGUAGES %}

    <h1>{% trans 'Catalogs Table' %}</h1>

    {% block catalog_table %}
    <!-- beginning of catalogs_table -->
      <div class="container-index" hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}'> 
        {% render_table table %}
      </div>
    <!-- end of catalogs_table -->
    {% endblock catalog_table %}
    
{% endblock page %}