{% extends 'core/bs53/page.html' %}
{% load i18n %}

{% block page %}

    <h1>{% trans "Account connections" %}</h1>

    <div class="mb-4">

        <h2>{% trans 'Current connections' %}</h2>

        {% if form.accounts %}

        <p>
            {% blocktrans trimmed %}
            You can sign in to your account using any of the following third party accounts:
            {% endblocktrans %}
        </p>

        <form method="post" action="{% url 'socialaccount_connections' %}">
            {% csrf_token %}

            {% for base_account in form.accounts %}
            {% with base_account.get_provider_account as account %}

            {% if forloop.first %}
            <hr />
            {% endif%}

            <div class="form-check mb-2">
                <input type="radio" name="account" value="{{ base_account.id }}" id="remove-{{ base_account.id }}"
                       class="form-check-input {% if field.errors %}is-invalid{% endif %}"
                       aria-describedby="{{ field.id_for_label }}-help">

                <label class="form-check-label" for="remove-{{ base_account.id }}">
                    {{account.get_brand.name}} ({{ account }})
                </label>

                {% for error in field.errors %}
                <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
            </div>

            <hr />

            {% endwith %}
            {% endfor %}

            <button type="submit" class="btn btn-sm btn-danger" name="action_primary">
                {% trans 'Remove selected' %}
            </button>
        </form>

        {% else %}

        <p>
            {% trans 'You currently have no social network accounts connected to this account.' %}
        </p>

        {% endif %}

    </div>

    <div class="mb-4">

        <h2>{% trans 'Add an additional account' %}</h2>

        <div class="d-flex flex-wrap align-items-start gap-2">
            {% include "socialaccount/snippets/provider_list.html" with process="connect" %}
        </div>

        {% include "socialaccount/snippets/login_extra.html" %}

    </div>

{% endblock %}
