{% extends 'core/bs53/page.html' %}
{% load i18n %}

{% block page %}

    <h1>{% trans "Create a new account" %}</h1>

    <p>
        {% blocktrans trimmed with provider_name=account.get_provider.name site_name=site.name %}
        You are about to use your <strong>{{provider_name}}</strong> account to login to {{site_name}}.
        As a final step, please complete the following form:{% endblocktrans %}
    </p>

    {% include 'account/signup_form.html' %}

    {% if settings.ACCOUNT_TERMS_OF_USE %}
    {% include 'account/terms_of_use_modal.html' %}
    {% endif %}

{% endblock %}
