@import 'core/css/variables';

html, body {
    height: 100%;
    background-color: $background-color;
}

h1, h2, h3, h4 {
    color: $headline-color;
    line-height: 40px;
}
h5, h6 {
    color: $headline-color;
    font-size: medium;
    line-height: 20px;
}
h1 {
    font-size: 28px;
}
h2 {
    font-size: 24px;
}
.sidebar h2,
.modal h2 {
    font-size: 20px;
}
h3 {
    font-size: 16px;
}
h4 {
    font-size: 14px;
}
form {
    margin-bottom: 20px;
}

/* navbar */

.navbar-default {
    background-color: $navigation-background-color;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:focus {
    color: $navigation-color;
    background-color: transparent;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
    color: $navigation-hover-color;
    background-color: $navigation-hover-background-color;
}

/* content */

.content {
    padding-top: 50px; /* same height as the navbar */
}
.page, .sidebar {
    height: 100%;
    margin-top: 10px;
    margin-bottom: 60px;
}
.page h2:nth-child(2) {
    margin-top: 0;
}
.sidebar h2:first-child {
    margin-top: 70px;
}

/* questions overview */

.section-panel {

}

.subsection-panel {
    margin-left: 40px;
}

.group-panel {
    margin-left: 80px;
}

.group-panel table th:first-child,
.group-panel table td:first-child {
    padding-left: 15px;
}

.group-panel table th:last-child,
.group-panel table td:last-child {
    padding-right: 15px;
}

/* angular forms */

.input-collection {
    margin-bottom: 15px;
}

/* forms */

.form-label {
    margin-bottom: 5px;
    font-weight: 700;
}

form .yesno label {
    margin-right: 10px;
}

.input-xs {
    height: 24px;
    padding: 5px 10px;
    font-size: 11px;
    line-height: 1;
    border-radius: 2px;
}

/* modals */

.modal-body > p:last-child,
.modal-body formgroup:last-child .form-group {
    margin-bottom: 0;
}

/* options */

.options-dropdown {
    display: inline-block;
}

.options-dropdown > a {
    cursor: pointer;
}

/* panels */

.panel-body {
    padding-top: 10px;
    padding-bottom: 10px;
}

/* lists */

ul.list-arrow li {
    margin-left: 20px;
}

ul.list-arrow li.active {
    margin-left: 0;
}

ul.list-arrow li.active a:before {
    float: left;
    width: 20px;
    text-align: right;
    content: '\2192\0000a0'; /* right-arrow followed by a space */
}
