@page {
    margin: 2cm 2cm;
    @bottom-right {
        font-size: 80%;
        content: counter(page) " / " counter(pages);
    }
}

html, body {
    font-size: 10pt;
    -weasy-hyphens: auto
}
body {
    text-align: justify;
    padding: 0 !important;
    background: none !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: DroidSerif, serif !important;
}
ul, p {
    font-family: DroidSans, sans !important;
}

hr.navbar {
    display: none
}
h1 {
    page-break-before: auto !important;
    -weasy-bookmark-level: none;

    margin-top: 0 !important;
    padding-top: 0 !important;

    font-weight: normal;
}
h2 {
    font-size: 10pt;
    margin: 0 !important;
    padding: 0 !important;

    font-weight: normal;
}

ul {
    padding-left: 20px !important;
}
li {
    margin: 0 !important;
    padding: 0 !important;
}

ul li ul li {
    list-style: none;
}
