@import 'core/css/variables';

html, body {
    height: 100%;
    background-color: $background-color;
}

h1, h2, h3, h4 {
    color: $headline-color;
    line-height: 40px;
}
h5, h6 {
    color: $headline-color;
    font-size: medium;
    line-height: 20px;
}
form {
    margin-bottom: 20px;
}

/* navbar */

.navbar.navbar-inverse {
    background-color: $navigation-color;
}
.navbar-inverse {
    border-bottom: none;
}

/* content */

.content {
    padding-top: 50px; /* same height as the navbar */
}
.page, .sidebar {
    height: 100%;
    margin-top: 10px;
    margin-bottom: 60px;
}
.page h3:nth-child(2) {
    margin-top: 0;
}
.sidebar h3:first-child {
    margin-top: 70px;
}

/* questions overview */

.section-panel {

}

.subsection-panel {
    margin-left: 40px;
}

.group-panel {
    margin-left: 80px;
}

.group-panel table th:first-child,
.group-panel table td:first-child {
    padding-left: 15px;
}

.group-panel table th:last-child,
.group-panel table td:last-child {
    padding-right: 15px;
}

/* angular forms */

.input-collection {
    margin-bottom: 15px;
}

/* forms */

.form-label {
    margin-bottom: 5px;
    font-weight: 700;
}

form .yesno label {
    margin-right: 10px;
}


/* modals */

.modal-body > p:last-child {
    margin-bottom: 0;
}
