/* colors */

$text-color: #101F70;
$variant-color: #666;
$headline-color: #101F70;

$background-color: #fefefe;

$navigation-color: #9d9d9d;
$navigation-background-color: #101F70;

$navigation-hover-color: #fff;
$navigation-hover-background-color: rgba(255, 255, 255, 0.1);

$footer-color: #999;
$footer-link-color: #999;
$footer-background-color: #001;
$danger-color: #a94442;
$success-color: #5cb85c;
$modal-border-color: #e5e5e5;

/* transitions */

$image-transition: opacity 2s ease-in-out;

/* responsive thresholds */

$screen-xs-max: 768px;
$screen-sm-max: 992px;
$screen-md-max: 1200px;
