/* colors */

$text-color: #101F70;
$variant-color: #666;
$headline-color: #101F70;
$navigation-color: #101F70;
$background-color: #fefefe;
$footer-color: #999;
$footer-link-color: #999;
$footer-background-color: #001;

/* transitions */

$image-transition: opacity 2s ease-in-out;

/* responsive thresholds */

$screen-xs-max: 768px;
$screen-sm-max: 992px;
$screen-md-max: 1200px;
