{% extends 'core/base.html' %}
{% load static %}

{% block head %}
    <meta name="management" />
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'management/css/management.css' %}" />
    {{ block.super }}
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'management/js/management.js' %}" defer></script>
{% endblock %}

{% block content %}

    <div class="d-flex flex-row management">
        <aside id="sidebar" class="management-sidebar"></aside>
        <main id="main" class="management-main"></main>
    </div>

{% endblock %}
