{% extends 'core/bs53/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'core/css/base-bs53.css' %}" />
    <link rel="stylesheet" href="{% static 'core/css/style-bs53.css' %}" />
    <link rel="stylesheet" href="{% static 'management/css/management.css' %}" />
    {{ block.super }}
{% endblock %}

{% block js %}
    <script src="{% url 'javascript-catalog' %}"></script>
    <script src="{% static 'core/js/base-bs53.js' %}" defer></script>
    <script src="{% static 'management/js/management.js' %}" defer></script>
{% endblock %}

{% block content %}

    <div class="d-flex flex-row management">
        <aside id="sidebar" class="management-sidebar"></aside>
        <main id="main" class="management-main"></main>
    </div>

{% endblock %}
