{% load i18n %}

    <div ng-if="question.widget_type === 'textarea'">

        <div class="form-group" ng-if="!question.is_collection">
            <label for="textarea">{$ question.text $}</label>
            <textarea id="textarea" class="form-control" rows="6"
                      ng-model="service.values[question.attribute.id][0].text">
            </textarea>
        </div>

        <div class="form-group" ng-if="question.is_collection">
            <div class="form-label">{$ question.text $}</div>
            <div ng-repeat="value in service.values[question.attribute.id] track by $index">
                <div class="textarea-collection" ng-hide="value.removed">
                    <textarea class="form-control" ng-model="value.text" rows="6"></textarea>
                    <button type="button" class="btn btn-danger" tabindex="-1"
                            ng-click="service.removeValue(question.attribute.id, $index)">
                        {% trans 'Remove' %}
                    </button>
                </div>
            </div>
        </div>

        <div class="form-group" ng-show="question.is_collection">
            <button type="button" class="btn btn-success"
                    ng-click="service.addValue(question.attribute.id)">
                {% trans 'Add new item' %}
            </button>
        </div>

    </div>
