{% extends 'core/page.html' %}
{% load i18n %}
{% load core_tags %}

{% block sidebar %}

    <h2>{% trans 'Snapshots' %}</h2>

    <ul class="list-unstyled list-arrow">
        {% for snapshot in snapshots %}
        <li class="{% if current_snapshot.id == snapshot.id %}active{% endif %}">
            {% if snapshot.id %}
            <a href="{% url 'project_view' project.pk snapshot.id view.id %}">
                {{ snapshot.title }}
            </a>
            {% else %}
            <a href="{% url 'project_view' project.pk view.id %}">
                {{ snapshot.title }}
            </a>
            {% endif %}
        </li>
        {% endfor %}
    </ul>

    <h2>{% trans 'Options' %}</h2>

    <ul class="list-unstyled">
        <li>{% internal_link _('Back to project overview') 'project' project.pk %}</li>
    </ul>

    <h2>{% trans 'Export' %}</h2>

    <ul class="list-unstyled">
        {% for format, text in export_formats.items %}
        <li >
            {% if current_snapshot %}
            <a href="{% url 'project_view_export' project.id current_snapshot.id view.id format %}" target="_blank">
                {{ text }}
            </a>
            {% else %}
            <a href="{% url 'project_view_export' project.id view.id format %}" target="_blank">
                {{ text }}
            </a>
            {% endif %}
        </li>
        {% endfor %}
    </ul>

{% endblock %}

{% block page %}

{% if rendered_view  %}
    {{ rendered_view }}
{% else %}
    <h1>{% trans 'Error' %}</h1>

    <p>
        {% trans 'There has been a problem creating the view. Please contact support.' %}
    </p>
{% endif %}

{% endblock %}
