{% load i18n %}

    <div ng-if="question.widget_type === 'range'">

        <div class="form-group" ng-if="!question.attribute.is_collection">
            <label for="id_{$ question.attribute.id $}">
                {$ question.text $}
            </label>

            <div class="help-text" ng-bind-html="question.help"></div>

            <div class="input-group">
                <span class="input-group-addon">
                    <span class="range-display">{$ service.values[question.attribute.id][0].text | number:1 $}</span>
                </span>
                <input type="range" percent-range class="form-control range-input"
                    min="0" max="100" step="{$ question.attribute.range.step $}"
                    data-min-value="{$ question.attribute.range.minimum $}"
                    data-max-value="{$ question.attribute.range.maximum $}"
                    ng-attr-id="id_{$ question.attribute.id $}"
                    ng-model="service.values[question.attribute.id][0].text"
                    ng-disabled="service.project.read_only"/>
            </div>
        </div>

        <div class="form-group" ng-if="question.attribute.is_collection">
            <div class="form-label">
                {$ question.text $}
            </div>

            <div class="help-text" ng-bind-html="question.help"></div>

            {% include 'projects/project_questions_add_field_help.html' %}

            <div ng-repeat="value in service.values[question.attribute.id] track by $index">
                <div class="collection" ng-hide="value.removed">

                    {% include 'projects/project_questions_remove_field.html' %}

                    <div class="input-group">
                        <span class="input-group-addon">
                            <span class="range-display">{$ value.text | number:1 $}</span>
                        </span>
                        <input type="range" percent-range class="form-control range-input"
                            min="0" max="100" step="{$ question.attribute.range.step $}"
                            data-min-value="{$ question.attribute.range.minimum $}"
                            data-max-value="{$ question.attribute.range.maximum $}"
                            ng-attr-id="id_{$ question.attribute.id $}_{$ $index $}"
                            ng-model="value.text"
                            ng-disabled="service.project.read_only"/>
                    </div>
                </div>
            </div>

            {% include 'projects/project_questions_add_field_button.html' %}

        </div>

    </div>
