{% load i18n %}

    <div class="modal" id="valuesets-form-modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">
                        {% trans 'Subsection' %}
                    </h4>
                </div>

                <div class="modal-body">
                    <formgroup
                        data-id="title"
                        data-type="text"
                        data-label="{% trans 'Title' %}"
                        data-help="{% trans 'Please give the new set a meaningful name.' %}"
                        data-model="service.modal_values.text"
                        data-errors="service.modal_errors.text">
                    </formgroup>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        {% trans 'Close' %}
                    </button>
                    <button type="button" class="btn btn-primary"
                            ng-click="service.submitFormModal('valuesets')">
                        {% trans 'Save' %}
                    </button>
                </div>
            </div>
        </div>
    </div>
