{% load i18n %}

    <div class="form-group" ng-if="question.widget_type === 'checkbox'">

        <div ng-if="!question.is_collection">
            <div class="form-label">{$ question.text $}</div>
            <div class="checkbox-control">
                <div class="checkbox" ng-repeat="option in question.options">
                    <label>
                        <input type="checkbox" ng-model="service.values[question.attribute.id][0].text"
                               data-value="{$ option.key $}" />
                        <span>{$ option.text $}</span>
                    </label>
                </div>
            </div>
        </div>

        <div ng-if="question.is_collection">
            <div class="form-label">{$ question.text $}</div>
            <div ng-repeat="value in service.values[question.attribute.id] track by $index">
                <div class="collection" ng-hide="value.removed">
                    <a href="" title="Remove value" class="close"
                       ng-click="service.removeValue(question.attribute.id, $index)">&times;</a>
                    <div class="checkbox-control">
                        <div class="checkbox" ng-repeat="option in question.options">
                            <label>
                                <input type="checkbox" ng-model="value.text" data-value="{$ option.key $}" />
                                <span>{$ option.text $}</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group" ng-show="question.is_collection">
            <button type="button" class="btn btn-success"
                    ng-click="service.addValue(question.attribute.id)">
                {% trans 'Add new item' %}
            </button>
        </div>

    </div>
