{% extends 'core/page.html' %}
{% load i18n core_tags %}

{% block sidebar %}

    <h3>{% trans 'Options' %}</h3>

    <ul class="list-unstyled">
        <li>{% internal_link _('Update project information') 'project_update' project.pk %}</li>
        <li>{% internal_link _('Delete project') 'project_delete' project.pk %}</li>
    </ul>

    <ul class="list-unstyled">
        <li>{% internal_link _('Answer questions') 'project_questions' project.pk %}</li>
    </ul>

    <ul class="list-unstyled">
        <li>{% internal_link _('Back to projects overview') 'projects' %}</li>
    </ul>

{% endblock %}

{% block page %}

    <h2>{{ project.title }}</h2>

    <div>{{ project.description|markdown }}</div>

{% endblock %}

