{% for section in answers_tree.sections %}

    <h2>{{ section.title }}</h2>

    {% for subsection in section.subsections %}

        <h3>{{ subsection.title}}</h3>

        {% for entity in subsection.entities %}

        {% if entity.is_set %}

            {% if entity.is_collection %}

                {% for question in entity.questions %}

                    <p><strong>{{ question.text }}</strong></p>

                    {% for set in question.sets %}

                        {% if question.is_collection %}
                            <p><em>{{ set.id }}:</em> {{ set.answers | join:', ' }}</p>
                        {% else %}
                            <p><em>{{ set.id }}:</em> {{ set.answers.0 }}</p>
                        {% endif %}

                    {% endfor %}

                {% endfor %}

            {% else %}

                {% for question in entity.questions %}

                <p><strong>{{ question.text }}</strong></p>

                {% if question.is_collection %}
                    <p>{{ question.answers | join:', ' }}</p>
                {% else %}
                    <p>{{ question.answers.0 }}</p>
                {% endif %}

                {% endfor %}

            {% endif %}

        {% else %}

            <p><strong>{{ entity.text }}</strong></p>

            {% if entity.is_collection %}
                <p>{{ entity.answers | join:', ' }}</p>
            {% else %}
                <p>{{ entity.answers.0 }}</p>
            {% endif %}

        {% endif %}

        {% endfor %}

    {% endfor %}

{% endfor %}
