{% load i18n %}

    <div class="questionset-head">

        <div class="help-block">
            {% blocktrans with name='{$ service.entity.attribute_entity.verbosename.name $}' name_plural='{$ service.entity.attribute_entity.verbosename.name_plural $}' trimmed %}
            Please fill out the form for each {{ name }}. The different {{ name_plural }} might be refererenced in later questions. You can add a new {{ name }} using the green button. Once created, you can edit or delete {{ name_plural }} using the buttons in the top right corner.
            {% endblocktrans %}
        </div>

        <div class="set-buttons" ng-hide="service.values">
            <button type="button" class="btn btn-success"
                ng-click="service.openValueSetModal(true)">
                {% blocktrans with name='{$ service.entity.attribute_entity.verbosename.name $}' %}Add {{ name }}{% endblocktrans %}
            </button>
        </div>

        <ul class="nav nav-tabs" ng-show="service.values">
            <li ng-class="{ active: valueset.values == service.values }"
                ng-repeat="valueset in service.valuesets"
                ng-hide="valueset.removed">
                <a href="" ng-click="service.values = valueset.values">
                    <span ng-hide="valueset.values[service.entity.title_attribute.id][0].text">
                        #{$ $index + 1 $}
                    </span>
                    <span ng-show="valueset.values[service.entity.title_attribute.id][0].text">
                        {$ valueset.values[service.entity.title_attribute.id][0].text $}
                    </span>
                </a>
            </li>
            <li>
                <a href="" class="add-valueset" ng-click="service.openValueSetModal(true)">
                    {% blocktrans with name='{$ service.entity.attribute_entity.verbosename.name $}' %}Add {{ name }}{% endblocktrans %}
                </a>
            </li>
        </ul>

        <div class="pull-right" ng-show="service.values">
            <a href="" class="small glyphicon glyphicon-pencil"
                title="{% blocktrans with name='{$ service.entity.attribute_entity.verbosename.name $}' %}Update {{ name }}{% endblocktrans %}"
                ng-click="service.openValueSetModal(false)">
            </a>
            <a href="" class="small glyphicon glyphicon-trash"
                title="{% blocktrans with name='{$ service.entity.attribute_entity.verbosename.name $}' %}Remove {{ name }}{% endblocktrans %}"
                ng-click="service.removeValueSet()">
            </a>
        </div>

    </div>
