{% load i18n %}
{% load core_tags %}

    <h2>{% trans 'Progress' %}</h2>

    <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
             style="width: {$ service.entity.progress $}%;">
            <span></span>
        </div>
    </div>

    <h2>{% trans 'Navigation' %}</h2>

    <p class="help-block">
        {% trans 'Please note that using the navigation will discard any usaved input.' %}
    </p>

    <ul class="list-unstyled">
        <li>
            <a href="" ng-class="{ disabled: service.entity.prev === null }" ng-click="service.prev()">
                {% trans 'skip to previous page' %}
            </a>
        </li>
        <li>
            <a href="" ng-class="{ disabled: service.entity.next === null }" ng-click="service.next()">
                {% trans 'skip to next page' %}
            </a>
        </li>
    </ul>

    <ul class="list-unstyled">
        <li>
            <a href="{% url 'project' project.id %}">{% trans 'Back to project overview' %}</a>
        </li>
    </ul>

    <h2>{% trans 'Overview' %}</h2>

    <ul class="list-unstyled project-questions-overview">
        <li ng-repeat="section in service.catalog.sections">
            <a href="" ng-click="service.jump(section)">
                {$ section.title $}
            </a>

            <ul class="list-unstyled" ng-show="section.id == service.entity.section.id">
                <li ng-repeat="subsection in section.subsections">
                    <a href="" ng-click="service.jump(section, subsection)">
                        {$ subsection.title $}
                    </a>

                    <ul class="list-unstyled" ng-show="subsection.id == service.entity.subsection.id">
                        <li ng-repeat="entity in subsection.entities"
                            ng-class="{'active': entity.id == service.entity.id}">
                            <a href="" ng-click="service.jump(section, subsection, entity)">
                                <span ng-show="entity.text">{$ entity.text $}</span>
                                <span ng-show="entity.questions">{$ entity.questions[0].text $}</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
