{% load i18n %}

    <div ng-if="question.widget_type === 'yesno'">

        <div class="form-group" ng-if="!question.is_collection">
            <div class="form-label">
                {$ question.text $}
            </div>
            <div class="radio-control">
                <div class="radio">
                    <label>
                        <input type="radio" data-ng-model="service.values[question.attribute.id][0].text" data-ng-value="1" />
                        <span>{% trans 'Yes' %}</span>
                    </label>
                    <label>
                        <input type="radio" data-ng-model="service.values[question.attribute.id][0].text" data-ng-value="0" />
                        <span>{% trans 'No' %}</span>
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group" ng-if="question.is_collection">
            <div class="form-label">
                {$ question.text $}
            </div>
            <div ng-repeat="value in service.values[question.attribute.id] track by $index">
                <div class="collection" ng-hide="value.removed">
                    <div class="radio-control">
                        <a href="" title="{% trans 'Remove item' %}" class="close"
                            ng-click="service.removeValue(question.attribute.id, $index)">&times;</a>
                        <div class="radio">
                            <label>
                                <input type="radio" data-ng-model="value.text" data-ng-value="1" />
                                <span>{% trans 'Yes' %}</span>
                            </label>
                            <label class=>
                                <input type="radio" data-ng-model="value.text" data-ng-value="0" />
                                <span class="">{% trans 'No' %}</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="form-group" ng-show="question.is_collection">
            <button type="button" class="btn btn-success"
                    ng-click="service.addValue(question.attribute.id)">
                {% trans 'Add new item' %}
            </button>
        </div>

    </div>
