{% extends 'core/page.html' %}
{% load i18n core_tags %}

{% block headline %}
    <h2>{% trans 'Hallo' %} {{ user.profile.full_name }}!</h2>
{% endblock %}

{% block page %}

<h3>{% trans 'My Projects' %}</h3>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Owner</th>
            <th>Interviews</th>
            <th>Optionen</th>
        </tr>
    </thead>
    <tbody>
        {% for project in projects %}
        <tr>
            <td>
                {% internal_link project.name 'project' project.pk %}
            </td>
            <td>
                {{project.owner_string}}
            </td>
            <td>
                {% for interview in project.interviews.all %}
                    {{ interview.title }}
                {% endfor %}
            </td>
            <td>
                {% internal_link _('Start new interview') 'interview_create' project.pk %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}

{% block sidebar %}

<h3>{% trans 'My Data' %}</h3>

{{ user.profile.as_dl|safe }}

<h3>{% trans 'My Groups' %}</h3>

<h3>{% trans 'Options' %}</h3>

<p>
    {% internal_link _('Create new project') 'project_create' %}
</p>


{% endblock %}

