{% load i18n %}

    <div ng-if="question.widget_type === 'checkbox'">

        <div class="form-group" ng-if="!question.is_collection">
            <div class="form-label">
                {$ question.text $}
            </div>
            <div class="checkbox-control">
                <div class="checkbox" ng-repeat="option in question.options">
                    <label>
                        <input type="checkbox" combined-checkbox
                            data-key="{$ option.key $}"
                            data-change="changeCheckbox(service.values[question.attribute.id][0], question.options)"
                            ng-model="service.values[question.attribute.id][0].checkbox" />
                        <span ng-hide="option.input_field">
                            {$ option.text $}
                        </span>
                        <input class="form-control input-xs" type="text" placeholder="{$ option.text $}"
                            ng-show="option.input_field"
                            ng-model="service.values[question.attribute.id][0].input[option.key]"
                            ng-change="changeCheckbox(service.values[question.attribute.id][0], question.options)"
                            ng-focus="checkCheckbox($event)" />
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group" ng-if="question.is_collection">
            <div class="form-label">{$ question.text $}</div>
            <div ng-repeat="value in service.values[question.attribute.id] track by $index">
                <div class="collection" ng-hide="value.removed">
                    <a href="" title="{% trans 'Remove item' %}" class="close"
                       ng-click="service.removeValue(question.attribute.id, $index)">&times;</a>
                    <div class="checkbox-control">
                        <div class="checkbox" ng-repeat="option in question.options">
                            <label>
                                <input type="checkbox" combined-checkbox
                                    data-key="{$ option.key $}"
                                    data-change="changeCheckbox(value, question.options)"
                                    ng-model="value.checkbox" />
                                <span ng-hide="option.input_field">
                                    {$ option.text $}
                                </span>
                                <input class="form-control input-xs" type="text" placeholder="{$ option.text $}"
                                    ng-show="option.input_field"
                                    ng-model="value.input[option.key]"
                                    ng-change="changeCheckbox(value, question.options)"
                                    ng-focus="checkCheckbox($event)" />
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group" ng-show="question.is_collection">
            <button type="button" class="btn btn-success"
                    ng-click="service.addValue(question.attribute.id)">
                {% trans 'Add new item' %}
            </button>
        </div>

    </div>
