{% extends 'core/page.html' %}
{% load i18n staticfiles core_tags %}

{% block page %}

<h4>Home url</h4>
<p>The current home url is <code>{% url 'home' %}</code>.</p>

<h4>User</h4>
<p>You are currently logged in as <code>{{ user }}</code>.</p>

<h4>Internal links</h4>
<ul>
    <li>{% internal_link None 'login' %}</li>
    <li>{% internal_link None 'logout' %}</li>
    <li>{% internal_link None 'profile_update' %}</li>
    <li>{% internal_link None 'password_change' %}</li>
    <li>{% internal_link None 'password_reset' %}</li>
    <li>{% internal_link None 'registration_register' %}</li>
    <li>{% internal_link None 'registration_complete' %}</li>
    <li>{% internal_link None 'registration_disallowed' %}</li>
    <li>{% internal_link None 'questions' %}</li>
</ul>

{% endblock %}
