{% extends 'core/pdf.html' %}

{% load i18n %}

{% block pdf_content %}

<h1>{{ title }}</h1>

{% for section in catalog.sections.all %}

    {% for subsection in section.subsections.all %}

        <h2>{{ section.title }} / {{ subsection.title }}</h2>

        {% for entity in subsection.entities.all %}

            {% if entity.is_set %}

                <p><strong>{% trans 'Questionset' %}</strong></p>

                {% if entity.help %}
                <p><em>{{ entity.help }}</em></p>
                {% endif %}

                <ul>
                {% for question in entity.questions.all %}
                    <li>
                        {{ question.text }}

                        <ul>
                            {% for option in question.attribute_entity.attribute.options.all %}
                                <li>
                                    {{ option.text }}{% if option.additional_input %}: __________{% endif %}
                                </li>
                            {% endfor %}
                        </ul>

                        {% if question.help %}
                        <p><em>{{ question.help }}</em></p>
                        {% endif %}
                    </li>
                {% endfor %}
                </ul>

            {% elif entity.question.parent_entity == None %}

                <p><strong>{% trans 'Question' %}</strong></p>

                <ul>
                    <li>
                        {{ entity.question.text }}

                        <ul>
                            {% for option in entity.attribute_entity.attribute.options.all %}
                                <li>
                                    {{ option.text }}{% if option.additional_input %}: __________{% endif %}
                                </li>
                            {% endfor %}
                        </ul>

                        {% if entity.help %}
                        <p><em>{{ entity.help }}</em></p>
                        {% endif %}
                    </li>
                </ul>

            {% endif %}

        {% endfor %}

    {% endfor %}

{% endfor %}

{% endblock %}
