{% load i18n %}

    <div class="modal" id="questions-form-modal" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h2 class="modal-title">
                        {% trans 'Question' %}
                    </h2>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <formgroup
                            class="col-sm-6"
                            data-id="uri_prefix"
                            data-type="text"
                            data-label="{{ meta.Question.uri_prefix.verbose_name }}"
                            data-help="{% trans 'The prefix for the URI of this question.' %}"
                            data-model="service.values.uri_prefix"
                            data-errors="service.errors.uri_prefix">
                        </formgroup>
                        <formgroup
                            class="col-sm-6"
                            data-id="key"
                            data-type="text"
                            data-label="{{ meta.Question.key.verbose_name }}"
                            data-help="{% trans 'The internal identifier of this question.' %}"
                            data-model="service.values.key"
                            data-errors="service.errors.key">
                        </formgroup>
                    </div>
                    <formgroup
                        data-id="comment"
                        data-type="textarea"
                        data-label="{{ meta.Question.comment.verbose_name }}"
                        data-help="{% trans 'Additional internal information about this question.' %}"
                        data-model="service.values.comment"
                        data-errors="service.errors.comment">
                    </formgroup>
                    <div class="row">
                        <formgroup
                            class="col-sm-4"
                            data-id="subsection"
                            data-type="selectnumber"
                            data-label="{{ meta.Question.subsection.verbose_name }}"
                            data-help="{% trans 'The subsection this question belongs to.' %}"
                            data-model="service.values.subsection"
                            data-errors="service.errors.subsection"
                            data-options="service.subsections"
                            data-options-label="path">
                        </formgroup>
                        <formgroup
                            class="col-sm-4"
                            data-id="parent"
                            data-type="selectnumber"
                            data-label="{{ meta.Question.parent.verbose_name }}"
                            data-help="{{ meta.Question.parent.help_text }}"
                            data-model="service.values.parent"
                            data-errors="service.errors.parent"
                            data-options="service.questionsets"
                            data-options-label="path"
                            data-options-null="1">
                        </formgroup>
                        <formgroup
                            class="col-sm-4"
                            data-id="order"
                            data-type="number"
                            data-label="{{ meta.Question.order.verbose_name }}"
                            data-help="{% trans 'The position of this question in lists.' %}"
                            data-model="service.values.order"
                            data-errors="service.errors.order">
                        </formgroup>
                    </div>
                    <div class="row">
                        <formgroup
                            class="col-sm-8"
                            data-id="attribute_entity"
                            data-type="selectnumber"
                            data-label="{% trans 'Attribute' %}"
                            data-help="{% trans 'The attribute this question belongs to.' %}"
                            data-model="service.values.attribute_entity"
                            data-errors="service.errors.attribute_entity"
                            data-options="service.attributes"
                            data-options-label="path"
                            data-options-null="1">
                        </formgroup>
                        <formgroup
                            class="col-sm-4"
                            data-id="widget_type"
                            data-type="select"
                            data-label="{{ meta.Question.widget_type.verbose_name }}"
                            data-help="{{ meta.Question.widget_type.help_text }}"
                            data-model="service.values.widget_type"
                            data-errors="service.errors.widget_type"
                            data-options="service.widgettypes"
                            data-options-label="text">
                        </formgroup>
                    </div>
                    <div class="row">
                        <formgroup
                            class="col-sm-6"
                            data-id="text_en"
                            data-type="textarea"
                            data-label="{{ meta.Question.text_en.verbose_name }}"
                            data-help="{{ meta.Question.text_en.help_text }}"
                            data-model="service.values.text_en"
                            data-errors="service.errors.text_en">
                        </formgroup>
                        <formgroup
                            class="col-sm-6"
                            data-id="text_de"
                            data-type="textarea"
                            data-label="{{ meta.Question.text_de.verbose_name }}"
                            data-help="{{ meta.Question.text_de.help_text }}"
                            data-model="service.values.text_de"
                            data-errors="service.errors.text_de">
                        </formgroup>
                    </div>
                    <div class="row">
                        <formgroup
                            class="col-sm-6"
                            data-id="help_en"
                            data-type="textarea"
                            data-label="{{ meta.Question.help_en.verbose_name }}"
                            data-help="{% trans 'The English help text for this question.' %}"
                            data-model="service.values.help_en"
                            data-errors="service.errors.help_en">
                        </formgroup>
                        <formgroup
                            class="col-sm-6"
                            data-id="help_de"
                            data-type="textarea"
                            data-label="{{ meta.Question.help_de.verbose_name }}"
                            data-help="{% trans 'The German help text for this question.' %}"
                            data-model="service.values.help_de"
                            data-errors="service.errors.help_de">
                        </formgroup>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        {% trans 'Close' %}
                    </button>
                    <button type="button" class="btn btn-primary"
                            ng-click="service.submitFormModal('questions')">
                        <span ng-show="service.copy">{% trans 'Copy' %}</span>
                        <span ng-hide="service.copy">{% trans 'Save' %}</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
