{% load i18n %}

    <a href="" class="fa fa-plus"
        title="{% trans 'Add question' %}"
        ng-click="service.openFormModal('questions', questionset, true)">
    </a>

    <a href="" class="fa fa-pencil"
        title="{% trans 'Update question set' %}"
        ng-click="service.openFormModal('questionsets', questionset)">
    </a>

    <a href="" class="fa fa-copy"
        title="{% trans 'Copy question set' %}"
        ng-click="service.openFormModal('questionsets', questionset, true, true)">
    </a>

    <a href="" class="fa fa-trash"
        title="{% trans 'Delete question set' %}"
        ng-click="service.openDeleteModal('questionsets', questionset)">
    </a>
