{% extends 'core/pdf.html' %}

{% load i18n %}

{% block pdf %}

<h1>{{ title }}</h1>

{% for section in catalog.sections.all %}

    {% for subsection in section.subsections.all %}

        <h2>{{ section.title }} / {{ subsection.title }}</h2>

        {% for entity in subsection.entities.all %}

            {% if entity.is_set %}

                {# <p><strong>{% trans 'Questionset' %}</strong></p> #}

                {# {% if entity.help %} #}
                {# <p><em>{{ entity.help }}</em></p> #}
                {# {% endif %} #}

                <ul>
                {% for question in entity.questions.all %}
                    <li>
                        <p>{{ question.text }}</p>

                        {% if question.attribute_entity.attribute.options.all %}
                        <div>{% trans 'Options' %}:</div>
                        <ul>
                            {% for option in question.attribute_entity.attribute.options.all %}
                                <li>
                                    {{ option.text }}{% if option.additional_input %}: __________{% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                        {% endif %}

                        {% if question.attribute_entity.attribute.range %}
                        <div>{% trans 'Range' %}:</div>
                        <ul>
                            <li>{% trans 'Minimum' %}: {{ question.attribute_entity.attribute.range.minimum }}</li>
                            <li>{% trans 'Maximum' %}: {{ question.attribute_entity.attribute.range.maximum }}</li>
                            <li>{% trans 'Step' %}: {{ question.attribute_entity.attribute.range.step }}</li>
                        </ul>
                        {% endif %}

                        {# {% if question.help %} #}
                        {# <p><em>{{ question.help }}</em></p> #}
                        {# {% endif %} #}
                    </li>
                {% endfor %}
                </ul>

            {% elif entity.question.parent_entity == None %}

                {# <p><strong>{% trans 'Question' %}</strong></p> #}

                <ul>
                    <li>
                        <p>{{ entity.question.text }}</p>

                        {% if entity.attribute_entity.attribute.options.all %}
                        <div>{% trans 'Options' %}:</div>
                        <ul>
                            {% for option in entity.attribute_entity.attribute.options.all %}
                                <li>
                                    {{ option.text }}{% if option.additional_input %}: __________{% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                        {% endif %}

                        {% if entity.attribute_entity.attribute.range %}
                        <div>{% trans 'Range' %}:</div>
                        <ul>
                            <li>{% trans 'Minimum' %}: {{ entity.attribute_entity.attribute.range.minimum }}</li>
                            <li>{% trans 'Maximum' %}: {{ entity.attribute_entity.attribute.range.maximum }}</li>
                            <li>{% trans 'Step' %}: {{ entity.attribute_entity.attribute.range.step }}</li>
                        </ul>
                        {% endif %}

                        {# {% if entity.help %} #}
                        {# <p><em>{{ entity.help }}</em></p> #}
                        {# {% endif %} #}
                    </li>
                </ul>

            {% endif %}

        {% endfor %}

    {% endfor %}

{% endfor %}

{% endblock %}
