{% load i18n %}

    <div class="modal" id="question-form-modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">
                        {% trans 'Question' %}
                    </h4>
                </div>

                <div class="modal-body">
                    <formgroup
                        data-id="attribute"
                        data-type="selectnumber"
                        data-label="{% trans 'Attribute' %}"
                        data-model="service.values.attribute"
                        data-errors="service.errors.attribute"
                        data-options="service.attributes"
                        data-options-label="tag">
                    </formgroup>
                    <formgroup
                        data-id="questionset"
                        data-type="selectnumber"
                        data-label="{% trans 'Question set' %}"
                        data-model="service.values.questionset"
                        data-errors="service.errors.questionset"
                        data-options="service.questionsets"
                        data-options-label="title"
                        data-null="true">
                    </formgroup>
                    <formgroup
                        data-id="title_en"
                        data-type="text"
                        data-label="{% trans 'Title (English)' %}"
                        data-model="service.values.title_en"
                        data-errors="service.errors.title_en">
                    </formgroup>
                    <formgroup
                        data-id="title_de"
                        data-type="text"
                        data-label="{% trans 'Title (German)' %}"
                        data-model="service.values.title_de"
                        data-errors="service.errors.title_de">
                    </formgroup>
                    <formgroup
                        data-id="help_en"
                        data-type="text"
                        data-label="{% trans 'Help text (English)' %}"
                        data-model="service.values.help_en"
                        data-errors="service.errors.help_en">
                    </formgroup>
                    <formgroup
                        data-id="help_de"
                        data-type="text"
                        data-label="{% trans 'Help text (German)' %}"
                        data-model="service.values.help_de"
                        data-errors="service.errors.help_de">
                    </formgroup>
                    <formgroup
                        data-id="text_en"
                        data-type="text"
                        data-label="{% trans 'Question text (English)' %}"
                        data-model="service.values.text_en"
                        data-errors="service.errors.text_en">
                    </formgroup>
                    <formgroup
                        data-id="text_de"
                        data-type="text"
                        data-label="{% trans 'Question text (German)' %}"
                        data-model="service.values.text_de"
                        data-errors="service.errors.text_de">
                    </formgroup>
                    <formgroup
                        data-id="order"
                        data-type="number"
                        data-label="{% trans 'Order' %}"
                        data-model="service.values.order"
                        data-errors="service.errors.order">
                    </formgroup>
                    <formgroup
                        data-id="subsection"
                        data-type="selectnumber"
                        data-label="{% trans 'Subsection' %}"
                        data-model="service.values.subsection"
                        data-errors="service.errors.subsection"
                        data-options="service.subsections"
                        data-options-label="title">
                    </formgroup>
                    <formgroup
                        data-id="widget_type"
                        data-type="select"
                        data-label="{% trans 'Widget type' %}"
                        data-model="service.values.widget_type"
                        data-errors="service.errors.widget_type"
                        data-options="service.widget_types"
                        data-options-label="text">
                    </formgroup>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        {% trans 'Close' %}
                    </button>
                    <button type="button" class="btn btn-primary"
                            ng-click="service.submitFormModal('question')">
                        {% trans 'Save' %}
                    </button>
                </div>
            </div>
        </div>
    </div>
