{% load i18n %}

    <div class="modal" id="questionset-form-modal" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">
                        {% trans 'Question set' %}
                    </h4>
                </div>

                <div class="modal-body">
                    <formgroup
                        data-id="subsection"
                        data-type="selectnumber"
                        data-label="{% trans 'Subsection' %}"
                        data-model="service.values.subsection"
                        data-errors="service.errors.subsection"
                        data-options="service.subsections"
                        data-options-label="title">
                    </formgroup>
                    <formgroup
                        data-id="attributeset"
                        data-type="selectnumber"
                        data-label="{% trans 'Attribute set' %}"
                        data-model="service.values.attributeset"
                        data-errors="service.errors.attributeset"
                        data-options="service.attributesets"
                        data-options-label="text">
                    </formgroup>
                    <formgroup
                        data-id="primary_attribute"
                        data-type="selectnumber"
                        data-label="{% trans 'Primary attribute' %}"
                        data-model="service.values.primary_attribute"
                        data-errors="service.errors.primary_attribute"
                        data-options="service.attributes"
                        data-options-label="text"
                        data-options-filter="{attributeset: service.values.attributeset}">
                    </formgroup>
                    <formgroup
                        data-id="title_en"
                        data-type="text"
                        data-label="{% trans 'Title (English)' %}"
                        data-model="service.values.title_en"
                        data-errors="service.errors.title_en">
                    </formgroup>
                    <formgroup
                        data-id="title_de"
                        data-type="text"
                        data-label="{% trans 'Title (German)' %}"
                        data-model="service.values.title_de"
                        data-errors="service.errors.title_de">
                    </formgroup>
                    <formgroup
                        data-id="help_en"
                        data-type="textarea"
                        data-label="{% trans 'Help text (English)' %}"
                        data-model="service.values.help_en"
                        data-errors="service.errors.help_en">
                    </formgroup>
                    <formgroup
                        data-id="help_de"
                        data-type="textarea"
                        data-label="{% trans 'Help text (German)' %}"
                        data-model="service.values.help_de"
                        data-errors="service.errors.help_de">
                    </formgroup>
                    <formgroup
                        data-id="order"
                        data-type="number"
                        data-label="{% trans 'Order' %}"
                        data-model="service.values.order"
                        data-errors="service.errors.order">
                    </formgroup>

                    <div class="form-group">
                        <div class="form-label">
                            {% trans 'Conditions' %}
                        </div>

                        <table class="table" ng-show="service.values.conditions.length">
                            <thead>
                                <th style="width: 30%;">{% trans 'Attribute' %}</th>
                                <th style="width: 30%;">{% trans 'Relation' %}</th>
                                <th style="width: 30%;">{% trans 'Value' %}</th>
                                <th style="width: 10%;"></th>
                            </thead>
                            <tbody>
                                <tr ng-repeat="condition in service.values.conditions" ng-hide="condition.removed">
                                    <td>
                                        <select class="form-control" ng-model="condition.attribute"
                                            ng-options="attribute.id as attribute.text for attribute in service.attributes">
                                            <option value="">--- {% trans 'Please select' %} ---</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select class="form-control" ng-model="condition.relation"
                                            ng-options="relation.id as relation.text for relation in service.relations">
                                            <option value="">--- {% trans 'Please select' %} ---</option>
                                        </select>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" ng-model="condition.value"/></td>
                                    <td>
                                        <button class="btn btn-danger" ng-click="condition.removed = true;">
                                            {% trans 'Remove' %}
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <button type="button" class="btn btn-success" ng-click="service.values.conditions.push({});">
                            {% trans 'Add new condition' %}
                        </button>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        {% trans 'Close' %}
                    </button>
                    <button type="button" class="btn btn-primary"
                            ng-click="service.submitFormModal('questionset')">
                        {% trans 'Save' %}
                    </button>
                </div>
            </div>
        </div>
    </div>
