{% extends 'core/page.html' %}
{% load staticfiles %}
{% load compress %}
{% load i18n %}
{% load core_tags %}

{% block head %}
    <script type="text/javascript" src="{% static 'angular/angular.min.js' %}" ></script>
    <script type="text/javascript" src="{% static 'core/js/select-by-number.js' %}" ></script>
    <script type="text/javascript" src="{% static 'core/js/form-fields.js' %}" ></script>
    <script type="text/javascript" src="{% static 'questions/js/questions.js' %}" ></script>
{% endblock %}

{% block bodyattr %} ng-app="questions" ng-controller="QuestionsController" {% endblock %}

{% block sidebar %}

    <h3>{% trans 'Catalog' %}</h3>

    <select class="form-control" ng-model="service.catalogId" ng-change="service.changeCatalog()" by-number>
        <option ng-repeat="catalog in service.catalogs" value="{$ catalog.id $}">{$ catalog.title $}</option>
    </select>

    <h3>{% trans 'Filter' %}</h3>

    <div class="input-group">
        <input type="text" class="form-control" ng-model="service.filter"></input>
        <span class="input-group-btn" ng-click="service.filter = ''">
            <button class="btn btn-default">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
        </span>
    </div>

    <h3>{% trans 'Options' %}</h3>

    <ul class="list-unstyled">
        <li>
            <a href="" ng-click="service.openFormModal('catalog', service.catalog)">
                {% trans 'Update catalog details' %}
            </a>
        </li>
        <li>
            <a href="" ng-click="service.openDeleteModal('catalog', service.catalog)">
                {% trans 'Delete catalog' %}
            </a>
        </li>
    </ul>

    <ul class="list-unstyled">
        <li>
            <a href="" ng-click="service.openFormModal('catalog')">
                {% trans 'Create new catalog' %}
            </a>
        </li>
        <li>
            <a href="" ng-click="service.openFormModal('section')">
                {% trans 'Create new section' %}
            </a>
        </li>
        <li>
            <a href="" ng-click="service.openFormModal('subsection')">
                {% trans 'Create new subsection' %}
            </a>
        </li>
        <li>
            <a href="" ng-click="service.openFormModal('questionset')">
                {% trans 'Create new questionset' %}
            </a>
        </li>
        <li>
            <a href="" ng-click="service.openFormModal('question')">
                {% trans 'Create new question' %}
            </a>
        </li>
    </ul>

{% endblock %}

{% block page %}

    <h2>{% trans 'Questions' %}</h2>

    <h3>{$ service.catalog.title $}</h3>

    <div ng-repeat="section in service.catalog.sections">

        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="pull-right">
                    <a href="" class="small glyphicon glyphicon-plus"
                       ng-click="service.openFormModal('subsection', section)"></a>
                    <a href="" class="small glyphicon glyphicon-pencil"
                       ng-click="service.openFormModal('section', section)"></a>
                    <a href="" class="small glyphicon glyphicon-trash"
                       ng-click="service.openDeleteModal('section', section)"></a>
                </div>
                <strong>{% trans 'Section' %}</strong>
                <span>{$ section.title $}</span>
            </div>
        </div>

        <div ng-repeat="subsection in section.subsections">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="pull-right">
                        <a href="" class="small glyphicon glyphicon-plus"
                           ng-click="service.openFormModal('question', subsection)"></a>
                        <a href="" class="small glyphicon glyphicon-plus"
                           ng-click="service.openFormModal('questionset', subsection)"></a>
                        <a href="" class="small glyphicon glyphicon-pencil"
                           ng-click="service.openFormModal('subsection', subsection)"></a>
                        <a href="" class="small glyphicon glyphicon-trash"
                           ng-click="service.openDeleteModal('subsection', subsection)"></a>
                    </div>
                    <strong>{% trans 'Subsection' %}</strong>
                    <span>{$ subsection.title $}</span>
                </div>
            </div>

            <div ng-repeat="entity in subsection.entities">

                <div class="panel panel-default" ng-show="entity.is_set">

                    <div class="panel-heading">
                        <div class="pull-right">
                            <code>{$ entity.tag $}</code>
                            <a href="" class="small glyphicon glyphicon-plus"
                               ng-show="entity.is_set"
                               ng-click="service.openFormModal('question', entity)"></a>
                            <a href="" class="small glyphicon glyphicon-pencil"
                               ng-click="service.openFormModal('questionset', entity)"></a>
                            <a href="" class="small glyphicon glyphicon-trash"
                               ng-click="service.openDeleteModal('questionset', entity)"></a>
                        </div>
                        <strong>{% trans 'Question set' %}</strong>
                        <span>{$ entity.title $}</span>
                        <em ng-show="entity.is_collection">collection</em>
                    </div>

                    <ul class="list-group" ng-show="entity.questions">
                        <li class="list-group-item" ng-repeat="question in entity.questions">
                            <div class="pull-right">
                                <code>{$ question.tag $}</code>
                                <a href="" class="small glyphicon glyphicon-pencil"
                                   ng-click="service.openFormModal('question', question)"></a>
                                <a href="" class="small glyphicon glyphicon-trash"
                                   ng-click="service.openDeleteModal('question', question)"></a>
                            </div>
                            <span>{$ question.text $}</span>
                            <em ng-show="question.is_collection">collection</em>
                        </li>
                    </ul>
                </div>

                <div class="panel panel-default" ng-hide="entity.is_set">

                    <div class="panel-heading">
                        <div class="pull-right">
                            <code>{$ entity.tag $}</code>
                            <a href="" class="small glyphicon glyphicon-pencil"
                               ng-click="service.openFormModal('question', entity)"></a>
                            <a href="" class="small glyphicon glyphicon-trash"
                               ng-click="service.openDeleteModal('question', entity)"></a>
                        </div>
                        <strong>{% trans 'Question' %}</strong>
                        <span>{$ entity.title $}</span>
                        <em ng-show="entity.is_collection">collection</em>
                    </div>

                    <ul class="list-group">
                        <li class="list-group-item">
                            <span>{$ entity.text $}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    {% include 'questions/questions_modal_form_catalog.html' %}
    {% include 'questions/questions_modal_form_section.html' %}
    {% include 'questions/questions_modal_form_subsection.html' %}
    {% include 'questions/questions_modal_form_question.html' %}
    {% include 'questions/questions_modal_form_questionset.html' %}

    {% include 'questions/questions_modal_delete_catalog.html' %}
    {% include 'questions/questions_modal_delete_section.html' %}
    {% include 'questions/questions_modal_delete_subsection.html' %}
    {% include 'questions/questions_modal_delete_question.html' %}
    {% include 'questions/questions_modal_delete_questionset.html' %}

{% endblock %}
