{% load i18n %}

    <a href="" class="small glyphicon glyphicon-pencil"
       ng-click="service.openFormModal('subsections', subsection)"></a>

    <div class="dropdown options-dropdown">
        <a class="dropdown-toggle" type="button" id="users-options"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"
            title="{% trans 'Show options' %}">
            <span class="glyphicon glyphicon-cog"></span>
        </a>
        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="users-options">
            <li>
                <a href="" ng-click="service.openFormModal('questions', subsection, true)">
                    {% trans 'Add question' %}
                </a>
            </li>
            <li>
                <a href="" ng-click="service.openFormModal('questionsets', subsection, true)">
                    {% trans 'Add question set' %}
                </a>
            </li>
            <li>
                <a href="" ng-click="service.openDeleteModal('subsections', subsection)">
                    {% trans 'Delete subsection' %}
                </a>
            </li>
        </ul>
    </div>
