{% load i18n %}

    <a href="" class="small glyphicon glyphicon-pencil"
        title="{% trans 'Update section' %}"
        ng-click="service.openFormModal('sections', section)">
    </a>

    <a href="" class="small glyphicon glyphicon-trash"
        title="{% trans 'Delete section' %}"
        ng-click="service.openDeleteModal('sections', section)">
    </a>

    <div class="dropdown options-dropdown">
        <a class="dropdown-toggle" type="button" id="users-options"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"
            title="{% trans 'Show options' %}">
            <span class="glyphicon glyphicon-cog"></span>
        </a>
        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="users-options">
            <li>
                <a href="" ng-click="service.openFormModal('subsections', section, true)">
                    {% trans 'Add subsection' %}
                </a>
            </li>
        </ul>
    </div>
