{% extends 'core/page.html' %}
{% load staticfiles %}
{% load compress %}
{% load i18n %}

{% block head %}
    {% compress css %}
    <link rel="stylesheet" type="text/x-scss" href="{% static 'questions/css/questions.scss' %}" />
    {% endcompress %}

    <script type="text/javascript" src="{% static 'angular/angular.min.js' %}" ></script>
    <script type="text/javascript" src="{% static 'core/js/select-by-number.js' %}" ></script>
    <script type="text/javascript" src="{% static 'core/js/formgroup.js' %}" ></script>
    <script type="text/javascript" src="{% static 'questions/js/questions.js' %}" ></script>
{% endblock %}

{% block bodyattr %} ng-app="questions" ng-controller="QuestionsController" {% endblock %}

{% block sidebar %}

    <h3>{% trans 'Catalog' %}</h3>

    <select class="form-control" ng-model="service.current_catalog_id" ng-change="service.fetchCatalog()" by-number>
        <option ng-repeat="catalog in service.catalogs" value="{$ catalog.id $}">{$ catalog.title $}</option>
    </select>

    <h3>{% trans 'Filter' %}</h3>

    <div class="input-group">
        <input type="text" class="form-control" ng-model="service.filter"></input>
        <span class="input-group-btn" ng-click="service.filter = ''">
            <button class="btn btn-default">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
        </span>
    </div>

    <h3>{% trans 'Options' %}</h3>

    <ul class="list-unstyled">
        <li>
            <a href="" ng-click="service.openFormModal('catalogs', service.catalog)">
                {% trans 'Update catalog details' %}
            </a>
        </li>
        <li>
            <a href="" ng-click="service.openDeleteModal('catalogs', service.catalog)">
                {% trans 'Delete catalog' %}
            </a>
        </li>
    </ul>

    <ul class="list-unstyled">
        <li>
            <a href="" ng-click="service.openFormModal('catalogs', null, true)">
                {% trans 'Create new catalog' %}
            </a>
        </li>
        <li>
            <a href="" ng-click="service.openFormModal('sections', null, true)">
                {% trans 'Create new section' %}
            </a>
        </li>
        <li>
            <a href="" ng-click="service.openFormModal('subsections', null, true)">
                {% trans 'Create new subsection' %}
            </a>
        </li>
        <li>
            <a href="" ng-click="service.openFormModal('questionsets', null, true)">
                {% trans 'Create new questionset' %}
            </a>
        </li>
        <li>
            <a href="" ng-click="service.openFormModal('questions', null, true)">
                {% trans 'Create new question' %}
            </a>
        </li>
    </ul>

{% endblock %}

{% block page %}

    <h2>{% trans 'Questions' %}</h2>

    <h3>{$ service.catalog.title $}</h3>

    <div ng-repeat="section in service.catalog.sections">

        <div class="panel panel-default panel-section">
            <div class="panel-heading">
                <div class="pull-right">
                    {% include 'questions/questions_options_sections.html' %}
                </div>
                <strong>{% trans 'Section' %}</strong>
                <span>{$ section.title $}</span>
            </div>
        </div>

        <div ng-repeat="subsection in section.subsections">

            <div class="panel panel-default panel-subsection">
                <div class="panel-heading">
                    <div class="pull-right">
                        {% include 'questions/questions_options_subsections.html' %}
                    </div>
                    <strong>{% trans 'Subsection' %}</strong>
                    <span>{$ subsection.title $}</span>
                </div>
            </div>

            <div ng-repeat="entity in subsection.entities | filter: service.filter">

                <div class="panel panel-default panel-entity" ng-show="entity.is_set">

                    <div class="panel-heading">
                        <div class="pull-right">
                            <code>{$ entity.attribute_entity.full_title $}</code>
                            {% include 'questions/questions_options_questionsets.html' %}
                        </div>
                        <strong>{% trans 'Question set' %}</strong>
                        <em ng-show="entity.is_collection">collection</em>
                    </div>

                    <ul class="list-group" ng-show="entity.questions">
                        <li class="list-group-item" ng-repeat="question in entity.questions">
                            <div class="pull-right">
                                <code>{$ question.attribute_entity.full_title $}</code>
                                {% include 'questions/questions_options_questions.html' %}
                            </div>
                            <span>{$ question.text $}</span>
                            <em ng-show="question.is_collection">collection</em>
                        </li>
                    </ul>
                </div>

                <div class="panel panel-default panel-entity" ng-hide="entity.is_set" ng-init="question = entity">

                    <div class="panel-heading">
                        <strong>{% trans 'Question' %}</strong>
                    </div>

                    <ul class="list-group">
                        <li class="list-group-item">
                            <div class="pull-right">
                                <code>{$ question.attribute_entity.full_title $}</code>
                                {% include 'questions/questions_options_questions.html' %}
                            </div>
                            <span>{$ question.text $}</span>
                            <em ng-show="question.is_collection">collection</em>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

    {% include 'questions/questions_modal_form_catalogs.html' %}
    {% include 'questions/questions_modal_form_sections.html' %}
    {% include 'questions/questions_modal_form_subsections.html' %}
    {% include 'questions/questions_modal_form_questions.html' %}
    {% include 'questions/questions_modal_form_questionsets.html' %}

    {% include 'questions/questions_modal_delete_catalogs.html' %}
    {% include 'questions/questions_modal_delete_sections.html' %}
    {% include 'questions/questions_modal_delete_subsections.html' %}
    {% include 'questions/questions_modal_delete_questions.html' %}
    {% include 'questions/questions_modal_delete_questionsets.html' %}

{% endblock %}
