.nested-attribute-entity {
    margin-left: 40px;
}

.nested-attribute-entity {
    margin-left: 40px;
}

.conditions-form-model-block {
    margin-top: 20px;
}
.conditions-form-model-block:first-child {
    margin-top: 0;
}
.conditions-form-model-block h5 {
    line-height: 20px;
    margin: 0;
    padding-top: 7px;
    padding-bottom: 7px;
}
