{% load static %}
{% load core_tags %}
{% load i18n %}

<div class="text-center">
    <img class="rdmo-logo" src="{% static 'core/img/rdmo-logo.svg' %}" alt="{% trans 'RDMO Logo' %}" />

    <h1>Research data management organiser</h1>

    <h4>Versione {% version %}</h4>
</div>

<div class="text-justify">
    <p>
      Con Research Data Management Organiser (RDMO), istituzioni e ricercatori possono pianificare e implementare la gestione dei dati di ricerca dei loro progetti in modo strutturato. Consente di registrare tutte le informazioni rilevanti per la pianificazione nei piani di gestione dei dati e di gestire tutte le attività di gestione dei dati per l'intero ciclo di vita dei dati.
        RDMO è stato sviluppato nell'ambito di una collaborazione tra l'Istituto Leibniz per l'Astrofisica di Potsdam, l'Università di Scienze Applicate di Potsdam e la biblioteca dell'Istituto di Tecnologia di Karlsruhe ed è ora mantenuto, ulteriormente sviluppato e consolidato dal gruppo di lavoro RDMO.
    </p>

    <p>
    	Maggiori informazioni su RDMO sono disponibili su <a href="https://rdmorganiser.github.io">rdmorganiser.github.io</a>.
    </p>
</div>
