{% load static %}
{% load core_tags %}
{% load i18n %}

<div class="text-center">
    <img class="rdmo-logo" src="{% static 'core/img/rdmo-logo.svg' %}" alt="{% trans 'RDMO Logo' %}" />

    <h1>Research data management organiser</h1>

    <h4>Version {% version %}</h4>
</div>

<div class="text-justify">
    <p>
      Le Research Data Management Organiser (RDMO) permet aux institutions et aux chercheurs de planifier et de réaliser la gestion des données de recherche de leurs projets de manière structurée. Il permet de saisir toutes les informations de planification pertinentes dans des plans de gestion des données et de gérer toutes les tâches de gestion des données tout au long du cycle de vie des données.
      RDMO a été développé dans le cadre d'une coopération entre le Leibniz-Institut für Astrophysik Potsdam, la Fachhochschule Potsdam et la bibliothèque du Karlsruher Institut für Technologie et est aujourd'hui entretenu, développé et pérennisé par le groupe de travail RDMO.
    </p>

    <p>
        De plus amples informations sur RDMO sont disponibles sur <a href="https://rdmorganiser.github.io">rdmorganiser.github.io</a>.
    </p>
</div>
