{% load static %}
{% load core_tags %}
{% load i18n %}

<div class="text-center">
    <img class="rdmo-logo" src="{% static 'core/img/rdmo-logo.svg' %}" alt="{% trans 'RDMO Logo' %}" />

    <h1>Research data management organiser</h1>

    <h4>Version {% version %}</h4>
</div>

<div class="text-justify">
    <p>
      With the Research Data Management Organiser (RDMO), institutions and researchers can plan and implement the research data management of their projects in a structured manner. It allows the recording of all relevant planning information in data management plans and the administration of all data management tasks over the entire data life cycle.
      RDMO was developed as part of a co-operation between the Leibniz Institute for Astrophysics Potsdam, the University of Applied Sciences Potsdam and the library of the Karlsruhe Institute of Technology and is now maintained, further developed and consolidated by the RDMO working group.
    </p>

    <p>
        More Information about RDMO is available on <a href="https://rdmorganiser.github.io">rdmorganiser.github.io</a>.
    </p>
</div>
