{% load static %}
{% load core_tags %}
{% load i18n %}

<div class="text-center">
    <img class="rdmo-logo" src="{% static 'core/img/rdmo-logo.svg' %}" alt="{% trans 'RDMO Logo' %}" />

    <h1>Research data management organiser</h1>

    <h4>Version {% version %}</h4>
</div>

<div class="text-justify">
    <p>
        The Research Data Management Organiser (RDMO) enables institutions as well as researchers to plan and carry out their management of research data in a structured manner. RDMO can assemble all relevant planning information and data management tasks across the whole life cycle of the research data.
        RDMO was developed within a cooperation between the Leibniz Institute for Astrophysics Potsdam, the University of Applied Sciences of Potsdam and the library of the Karlsruhe Institute of Technology and is now maintained, further developed and consolidated by the RDMO working group.
    </p>

    <p>
        More Information about RDMO is available on <a href="https://rdmorganiser.github.io">rdmorganiser.github.io</a>.
    </p>
</div>
