{% load static %}
{% load core_tags %}
{% load i18n %}

<div class="text-center">
    <img class="rdmo-logo" src="{% static 'core/img/rdmo-logo.svg' %}" alt="{% trans 'RDMO Logo' %}" />

    <h1>Research data management organiser</h1>

    <h4>Version {% version %}</h4>
</div>

<div class="text-justify">
    <p>
        Mit dem Research Data Management Organiser (RDMO) können Institutionen und Forschende das Forschungsdatenmanagement ihre Projekte strukturiert planen und durchführen. Es erlaubt das Erfassen aller relevanten Planungsinformationen in Datenmanagementplänen und die Verwaltung aller Datenmanagementaufgaben über den gesamten Datenlebenszyklus.
        RDMO wurde im Rahmen einer Kooperation zwischen dem Leibniz-Instituts für Astrophysik Potsdam, der Fachhochschule Potsdam und der Bibliothek des Karlsruher Instituts für Technologie entwickelt und wird heute durch die RDMO Arbeitsgemeinschaft gepflegt, weiterentwickelt und verstetigt.
    </p>

    <p>
        Mehr Informationen über RDMO finden sie auf <a href="https://rdmorganiser.github.io">rdmorganiser.github.io</a>.
    </p>
</div>
