{% load static %}
{% load core_tags %}
{% load i18n %}

<div class="text-center">
    <img class="rdmo-logo" src="{% static 'core/img/rdmo-logo.svg' %}" alt="{% trans 'RDMO Logo' %}" />

    <h1>Research data management organiser</h1>

    <h4>Version {% version %}</h4>
</div>

<div class="text-justify">
    <p>
      Con el Organizador de Gestión de Datos de Investigación (RDMO), las instituciones y los investigadores pueden planificar y llevar a cabo la gestión de datos de investigación de sus proyectos de forma estructurada. RDMO permite la integración de toda la información de planificación relevante en los planes de gestión de datos y la administración de las tareas de gestión de datos a lo largo de todo el ciclo de vida de los datos.
      RDMO se desarrolló en el marco de una cooperación entre el Instituto Leibniz de Astrofísica de Potsdam, la Universidad de Ciencias Aplicadas de Potsdam y la biblioteca del Instituto de Tecnología de Karlsruhe, y en la actualidad es mantenido, desarrollado y consolidado por el grupo de trabajo RDMO.
    </p>

    <p>
        Encontrará más información sobre RDMO en <a href="https://rdmorganiser.github.io">rdmorganiser.github.io</a>.
    </p>
</div>
