{% load static compress core_tags i18n %}{% get_current_language as lang_code %}<!DOCTYPE html>
<html lang="{{ lang_code }}">
<head>
    {% include 'core/base_head.html' %}

    {% block css %}
    <link rel="stylesheet" href="{% static 'core/css/base.css' %}" />

    {% compress css %}
    <link rel="stylesheet" type="text/x-scss" href="{% static 'core/css/base.scss' %}" />
    <link rel="stylesheet" type="text/x-scss" href="{% static 'core/css/fonts.scss' %}" />
    <link rel="stylesheet" type="text/x-scss" href="{% static 'core/css/footer.scss' %}" />
    <link rel="stylesheet" type="text/x-scss" href="{% static 'core/css/style.scss' %}" />
    {% endcompress %}

    {% endblock %}

    {% block js %}
    <script src="{% url 'javascript-catalog' %}"></script>
    <script src="{% static 'core/js/base.js' %}"></script>
    {% endblock %}

    {% block head %}{% endblock %}
</head>

<body>

<!-- navigation -->
{% include 'core/base_navigation.html' %}
<!-- end navigation -->

<!-- content -->
<div class="content">
    {% block content %}{% endblock %}
</div>
<!-- end content -->

<!-- footer -->
{% include 'core/base_footer.html' %}
<!-- end footer -->

{% if not debug %}
<!-- analytics -->
{% include 'core/base_analytics.html' %}
<!-- end analytics -->
{% endif %}

{% block extra_body %}{% endblock %}

</body>
</html>
