{% load static core_tags %}<!DOCTYPE html>
<html>
<head>
    {% include 'core/base_head.html' %}

    {% block css %}
    <link rel="stylesheet" href="{% static 'core/css/bootstrap.css' %}" />
    <link rel="stylesheet" href="{% static 'core/css/base.css' %}" />
    <link rel="stylesheet" href="{% static 'core/css/app.css' %}" />
    {% endblock %}

    {% block js %}
    <script src="{% static 'core/js/app.js' %}"></script>
    <script src="{% url 'javascript-catalog' %}"></script>
    {% endblock %}

    {% block head %}
    {% endblock %}
</head>

<body>

{% include 'core/base_navigation.html' %}

<div class="content">
    {% block content %}{% endblock %}
</div>

{% if not debug %}
    {% include 'core/base_analytics.html' %}
{% endif %}

</body>
</html>
