{% load static compress core_tags %}<!DOCTYPE html>
<html>
<head>
    {% include 'core/base_head.html' %}

    {% block vendor %}
    {% vendor 'jquery' %}
    {% vendor 'bootstrap' %}
    {% vendor 'font-awesome' %}
    {% endblock %}

    {% block css %}
    {% compress css %}
    <link rel="stylesheet" type="text/x-scss" href="{% static 'core/css/base.scss' %}" />
    <link rel="stylesheet" type="text/x-scss" href="{% static 'core/css/fonts.scss' %}" />
    <link rel="stylesheet" type="text/x-scss" href="{% static 'core/css/footer.scss' %}" />
    <link rel="stylesheet" type="text/x-scss" href="{% static 'core/css/utils.scss' %}" />
    <link rel="stylesheet" type="text/x-scss" href="{% static 'core/css/style.scss' %}" />
    {% endcompress %}
    {% endblock %}

    {% block js %}
    {% endblock %}

    {% block head %}{% endblock %}
</head>

<body {% block bodyattr %}{% endblock %}>

<!-- navigation -->
{% include 'core/base_navigation.html' %}
<!-- end navigation -->

<!-- content -->
<div class="content">
    {% block content %}{% endblock %}
</div>
<!-- end content -->

<!-- footer -->
{% include 'core/base_footer.html' %}
<!-- end footer -->

{% if not debug %}
<!-- analytics -->
    {% include 'core/base_analytics.html' %}

<!-- end analytics -->
{% endif %}

{% block extra_body %}{% endblock %}

</body>
</html>
