{% load i18n core_tags %}

<footer>
    <div class="container">
        <div class="row">
            <div class="footer-col col-md-4">
                {% render_lang_template 'core/footer_project' %}
            </div>
            <div class="footer-col col-md-4">
                {% render_lang_template 'core/footer_contact' %}
            </div>
            <div class="footer-col col-md-4">
                {% render_lang_template 'core/footer_impressum' %}
            </div>
        </div>
    </div>
</footer>
