<div class="row">
    <div class="footer-col col-md-4">
        <h4>Sobre RDMO</h4>
        <p>
            El Organizador de Gestión de Datos de Investigación (RDMO) apoya la planificación, organización y ejecución sistemática de la gestión de datos en el curso de un proyecto de investigación.
        </p>
        <p>
            RDMO es un software de código abierto y está disponible en <a href="https://github.com/rdmorganiser/rdmo">https://github.com/rdmorganiser/rdmo</a>.
        </p>
    </div>
    <div class="footer-col col-md-4">
        <h4>Contactos</h4>
        <p>

        </p>
    </div>
    <div class="footer-col col-md-4">
        <h4>Aviso legal y protección de datos</h4>
        <p>

        </p>
    </div>
</div>
