<h2>Bienvenido a RDMO</h2>

<p>
  RDMO es una aplicación web que apoya la planificación estructurada, la realización y la gestión de datos en un proyecto científico.<br />
  La información recopilada puede utilizarse en flujos de trabajo de investigación y también puede ser exportada en forma de texto: como plan de gestión de datos para los financiadores o como parte de un informe de investigación.
</p>

<p>
    Si desea obtener más información sobre el uso de RDMO como usuario final o gestor, visite <a href="https://rdmorganiser.github.io">rdmorganiser.github.io</a>.
</p>
