<h2>Benvenuti a RDMO</h2>

<p>
  RDMO è un'applicazione web che supporta la pianificazione, la realizzazione e la gestione strutturata dei dati in un progetto scientifico.<br />
  Le informazioni raccolte possono essere utilizzate nei flussi di lavoro della ricerca e possono anche essere prodotte in forma testuale - come piano di gestione dei dati per i finanziatori o come parte di una relazione di ricerca.
</p>

<p>
    Maggiori informazioni sul progetto sono disponibili su <a href="https://rdmorganiser.github.io">rdmorganiser.github.io</a>.
</p>
