{% load static %}

<header id="header" class="home">
    {% include 'core/home_images.html' %}

    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-8">
                <h1 class="mb-4">
                    Research Data Management Organiser
                </h1>
                <p>
                    A tool to support the planning, implementation, and organisation of research data management.
                </p>

                {% include 'core/home_login.html' %}
            </div>
        </div>
    </div>
</header>

<main class="home">
    <section>
        <div class="container-md py-5">
            <div class="row justify-content-center">
                <div class="col-10">
                    <h2>Lorem ipsum dolor sit amet</h2>

                    <p>
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                    </p>

                    <p>
                       Lorem ipsum dolor sit amet:
                    <p>

                    <ul>
                        <li>consetetur sadipscing elitr</li>
                        <li>sed diam nonumy eirmod</li>
                        <li>et justo duo dolores et ea rebum</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container py-5">
            <div class="row justify-content-center text-center">
                <div class="col-6">
                    <h2>Lorem ipsum dolor sit amet, consetetur sadipscing elitr?</h2>

                    <p>
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                    </p>

                    <a href="">
                        orem ipsum dolor
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container py-5">
            <div class="row justify-content-center text-center">
                <div class="col-6">
                    <p>
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est. Lorem ipsum dolor sit amet.
                    </p>
                </div>
            </div>
        </div>
    </section>
</main>

<footer class="home">
    <div class="container py-5 text-center">
        <p>
            Lorem ipsum: consetetur 6:30 – 8:30 Uhr
        </p>

        <p>
            <a href="">Lorem</a>
            <a href="">consetetur sadipscing</a>
            <a href="">At vero eos et accusam</a>
        </p>

        <p>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.
        </p>

        <div class="mt-5">
            <a href="">
                <img class="logo" src="{% static 'core/img/rdmo-logo.svg' %}" alt="RDMO logo"/>
            </a>
        </div>
    </div>
</footer>
