<h2>Willkommen bei RDMO</h2>

<p>
    RDMO ist eine Webapplikation, die die strukturierte Planung, Umsetzung und Verwaltung der Daten in einem wissenschaftlichen Projekt unterstützt.<br />
    Die gesammelten Informationen können in Forschungsworkflows weiterverwendet werden und zusätzlich in textueller Form ausgegeben werden -
    als Datenmanagementplan für die Förderer oder als teil eines Forschungsberichts.
</p>

<p>
    Wenn Sie mehr über die Nutzung von RDMO als Endnutzer oder Manager erfahren wollen, besuchen Sie <a href="https://rdmorganiser.github.io">rdmorganiser.github.io</a>.
</p>
