<h2>Bienvenue sur RDMO</h2>

<p>
  RDMO est une application web qui soutient la planification structurée, la mise en œuvre et la gestion des données dans un projet scientifique.<br />
  Les informations collectées peuvent être réutilisées dans des workflows de recherche et peuvent en outre être éditées sous forme de texte -
  comme plan de gestion des données pour les bailleurs de fonds ou comme partie d'un rapport de recherche.
</p>

<p>
    Pour plus d'informations sur le projet, visitez <a href="https://rdmorganiser.github.io">rdmorganiser.github.io</a>.
</p>
