{% load i18n %}

    <div class="modal" id="ranges-form-modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" tabindex="-1">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h2 class="modal-title">
                        {% trans 'Range' %}
                    </h2>
                </div>

                <div class="modal-body">
                    <formgroup
                        data-id="minimum"
                        data-type="text"
                        data-label="{{ meta.Range.minimum.verbose_name }}"
                        data-help="{{ meta.Range.minimum.help_text }}"
                        data-model="service.values.minimum"
                        data-errors="service.errors.minimum">
                    </formgroup>
                    <formgroup
                        data-id="maximum"
                        data-type="text"
                        data-label="{{ meta.Range.maximum.verbose_name }}"
                        data-help="{{ meta.Range.maximum.help_text }}"
                        data-model="service.values.maximum"
                        data-errors="service.errors.maximum">
                    </formgroup>
                    <formgroup
                        data-id="step"
                        data-type="text"
                        data-label="{{ meta.Range.step.verbose_name }}"
                        data-help="{{ meta.Range.step.help_text }}"
                        data-model="service.values.step"
                        data-errors="service.errors.step">
                    </formgroup>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-danger pull-left"
                        ng-click="service.submitDeleteModal('ranges')">
                        {% trans 'Remove' %}
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        {% trans 'Close' %}
                    </button>
                    <button type="button" class="btn btn-primary"
                            ng-click="service.submitFormModal('ranges')">
                        {% trans 'Save' %}
                    </button>
                </div>
            </div>
        </div>
    </div>
