{% load i18n %}

    <div class="modal" id="entities-delete-modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h2 class="modal-title">
                        <span ng-show="service.values.is_set">
                            {% trans 'Delete entity' %}
                        </span>
                        <span ng-hide="service.values.is_set">
                            {% trans 'Delete attribute' %}
                        </span>
                    </h2>
                </div>

                <div class="modal-body">
                    <p>
                        {% blocktrans trimmed with object='{$ service.values.path $}' %}
                        You are about to permanently delete the entity <code>{{ object }}</code>.
                        {% endblocktrans %}
                    </p>

                    <p>
                        {% trans 'This will also delete the following attributes:' %}
                    </p>

                    <ul>
                        <li ng-repeat="entity in service.values.children" ng-include src="'nested_entities_delete.html'">
                    </ul>

                    <script type="text/ng-template" id="nested_entities_delete.html">
                    <code>{$ entity.path $}</code>

                    <ul>
                        <li ng-repeat="entity in entity.children" ng-include src="'nested_entities_delete.html'"></li>
                    </ul>
                    </script>

                    <p class="text-danger">
                        {% trans 'This action cannot be undone!' %}
                    </p>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        {% trans 'Close' %}
                    </button>
                    <button type="button" class="btn btn-danger"
                            ng-click="service.submitDeleteModal('entities')">
                        {% trans 'Delete' %}
                    </button>
                </div>
            </div>
        </div>
    </div>
