{% load i18n %}

    <div class="modal" id="verbosenames-form-modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" tabindex="-1">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h2 class="modal-title">
                        {% trans 'Verbose name' %}
                    </h2>
                </div>

                <div class="modal-body">
                    <formgroup
                        data-id="name_en"
                        data-type="text"
                        data-label="{{ meta.VerboseName.name_en.verbose_name }}"
                        data-help="{{ meta.VerboseName.name_en.help_text }}"
                        data-model="service.values.name_en"
                        data-errors="service.errors.name_en">
                    </formgroup>
                    <formgroup
                        data-id="name_plural_en"
                        data-type="text"
                        data-label="{{ meta.VerboseName.name_plural_en.verbose_name }}"
                        data-help="{{ meta.VerboseName.name_plural_en.help_text }}"
                        data-model="service.values.name_plural_en"
                        data-errors="service.errors.name_plural_en">
                    </formgroup>
                    <formgroup
                        data-id="name_de"
                        data-type="text"
                        data-label="{{ meta.VerboseName.name_de.verbose_name }}"
                        data-help="{{ meta.VerboseName.name_de.help_text }}"
                        data-model="service.values.name_de"
                        data-errors="service.errors.name_de">
                    </formgroup>
                    <formgroup
                        data-id="name_plural_de"
                        data-type="text"
                        data-label="{{ meta.VerboseName.name_plural_de.verbose_name }}"
                        data-help="{{ meta.VerboseName.name_plural_de.help_text }}"
                        data-model="service.values.name_plural_de"
                        data-errors="service.errors.name_plural_de">
                    </formgroup>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-danger pull-left"
                        ng-click="service.submitDeleteModal('verbosenames')">
                        {% trans 'Remove' %}
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        {% trans 'Close' %}
                    </button>
                    <button type="button" class="btn btn-primary"
                            ng-click="service.submitFormModal('verbosenames')">
                        {% trans 'Save' %}
                    </button>
                </div>
            </div>
        </div>
    </div>
