@import 'rdmo/core/assets/scss/variables';

.interview-breadcrumb {
    margin-top: 20px;
    margin-bottom: 12px;

    background-color: transparent;
    border: 1px solid #ccc;
}

.interview-navigation {
    line-height: 24px;

    h4 {
        line-height: 20px;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    a {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    ul {
        margin-left: 0;
    }
    li ul li {
        margin-left: 20px;
    }
    li.active {
        margin-left: 0;
    }
    li.active a:before {
        float: left;
        width: 20px;
        text-align: right;
        content: '\2192\0000a0'; /* right-arrow followed by a space */
    }
}

.interview-progress {
    .progress {
        margin-bottom: 10px;
    }

    .interview-progress-count {
        position: absolute;
        left: 0;
        right: 0;
        text-align: center;
    }
}

.interview-page {
    h2 {
        margin-top: 0;
    }

    .radio,
    .checkbox {
        margin: 0;

        label {
            margin-right: 10px;
            margin-bottom: 5px;
            padding-left: 25px;
            line-height: 30px;
        }
        &:last-child label {
            margin-bottom: 0;
        }
        input[type='checkbox'],
        input[type='radio'] {
            margin-top: 8px;
            margin-left: -25px;
        }
        input[type='text'] {
            display: inline-block;
            width: 200px;
        }
    }
    .radio {
        &.yesno {
            label {
                margin-bottom: 0;
                line-height: 20px;
            }
            input[type='radio'] {
                margin-top: 3px;
            }
        }
        a.remove-link {
            top: 2px;
        }
    }

    .range {
        display: flex;
        align-items: center;

        margin-bottom: 10px;

        .badge {
            margin-right: 10px;
        }

        input {
            margin-bottom: 0;
            accent-color: #777777;  // same as .badge
        }
    }

    .radio-control,
    .checkbox-control,
    .file-control {
        border: 1px solid #ccc;
        border-radius: 4px;

        padding: 6px 12px;
        margin: 0;
    }

    .radio-control,
    .checkbox-control {
        label {
            width: 100%;
        }
        .yesno label {
            width: auto;
        }
    }

    .file-control {
        display: block;
        width: 100%;
        padding: 6px 6px;
        font-weight: normal;

        input[type="file"] {
            display: inline-block;
            outline: 0;
        }

        p:last-child,
        ul:last-child {
            margin-bottom: 0;
        }

        .dropzone {
            border: 2px dashed #ccc;
            border-radius: 4px;
            padding: 6px 12px;
        }
    }

    .date-control {
        width: 100%;
    }

    .react-datepicker {
        font-size: 12px;
        border-radius: 4px;
    }

    .react-datepicker-wrapper {
        display: block;
    }

    .react-datepicker__current-month {
        font-size: 12px;
    }

    .react-datepicker__day-names {
        margin-top: 4px;
    }

    .react-datepicker__day-name,
    .react-datepicker__day {
        margin: 4px !important;
    }

    .interview-input {
        position: relative;
    }

    .interview-input-options {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 5;
        margin-right: 8px;

        .btn-erase-value,
        .btn-remove-value {
            opacity: 0.8;
            line-height: 20px;
            font-size: 14px;
            padding-left: 0;
            padding-right: 0;
            margin-left: 4px;
        }

        // .btn-remove-value {
        //     margin-left: 2px;
        // }

        .btn-erase-value:hover,
        .btn-remove-value:hover {
            opacity: 1;
        }

        .btn-erase-value:focus,
        .btn-remove-value:focus {
            outline: 0;
        }

        .badge-default {
            cursor: help;
            color: #999;
            border: 1px solid #999;
            background-color: white;
            margin: 7px 0 7px 0;
        }
    }

    .default {
        color: #999;

        .badge,
        input[type='radio'],
        input[type='range'] {
            opacity: 0.5;
        }
    }

    .badge-optional {
        float: right;
        margin-top: 1px;
    }
}

.interview-question {
    margin-bottom: 20px;
}

.interview-collection  {
    .interview-input {
        margin-bottom: 10px;
    }
}

.interview-page-tabs {
    margin-bottom: 20px;

    .interview-page-tabs-buttons {
        float: right;

        button {
            padding: 0;
            text-decoration: none;
        }
    }

    .nav > li > a {
        &.add-set,
        &.add-set:hover {
            color: $success-color;
        }
        &.add-set:hover {
            color: white;
            background-color: $success-color !important;
        }
        &.add-set:focus {
            background-color: transparent;
        }
    }
}

.interview-block {
    position: relative;

    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;

    padding: 20px 20px 0 20px;
    margin-bottom: 20px;

    .interview-block-options {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 5;

        .btn-remove-set {
            opacity: 0.8;
            line-height: 20px;
            font-size: 14px;

            position: absolute;
            z-index: 5;
            top: 0;
            right: 0;

            padding-left: 8px;
            padding-right: 8px;

            &:hover {
                opacity: 1;
            }
            &:focus {
                outline: 0;
            }
        }
    }
}

.btn-add-set {
    margin-bottom: 20px;
}
