@import "react-datepicker/dist/react-datepicker.css";

a.disabled,
a[aria-disabled="true"] {
  cursor: not-allowed;
  pointer-events: none;
}

.cursor-pointer {
  cursor: pointer;
}

.flip {
  transform: scaleX(-1);
}

.form-group {
  .react-select__control {
    min-height: 38px;
  }

  .react-select__value-container {
    padding: 0 14px;
  }

  .react-select__input-container {
    margin: 0;
    padding: 0;
  }

  .react-select__indicator {
    padding: 6px;
  }

  .react-select__option {
    padding: 0 14px;
  }
}

.list-group-item {
  .indent {
    padding-left: 20px;
  }
}

.codemirror.form-control {
  height: auto;
  padding: 0;

  .cm-editor {
    border-radius: 4px;
  }

  .cm-gutter {
    background-color: var(--bs-body-bg);
  }

  .cm-focused {
    outline: 0;
    border-color: var(--bs-primary);
    box-shadow: 0 0 0 .25rem rgba(var(--bs-primary-rgb), .25);
  }
}

.select-item-options,
.multi-select-item-options,
.ordered-multi-select-item-options {
  display: flex;
  justify-content: flex-end;
  gap: 4px;
  padding: 10px 0;

  .disabled {
    color: var(--bs-secondary-color);
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.ordered-multi-select-item {
  margin-bottom: 10px;

  .ordered-multi-select-item-select {
    height: 38px;
  }
}

.projects-header-container {
  @media (min-width: 992px) {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    margin-bottom: 10px;
  }

  .projects-header-buttons {
    @media (min-width: 992px) {
      display: flex;
      gap: 20px;
    }

    .btn.btn-link {
      padding: 0;
      margin-bottom: 15px;

      @media (max-width: 992px) {
        display: block;
        margin-bottom: 10px;
      }
    }
  }
}

.icon-container {
  display: flex;
  gap: 5px;
  margin-bottom: 10px;
  justify-content: flex-end;
}

.projects {
  min-height: 600px;
}

.projects-form {
  margin-bottom: 40px;
}

.panel-filters {
  border-color: var(--bs-border-color);

  .react-datepicker-wrapper {
    width: 100%;
  }

  @media (max-width: 1199.98px) {
    .form-label {
      margin-bottom: 10px;
    }

    .react-select,
    .react-datepicker-wrapper {
      margin-bottom: 10px;
    }

    // remove the margin from the last datepicker
    .card-body>.row>div:last-child .row>div:last-child .react-datepicker-wrapper {
      margin-bottom: 0;
    }
  }
}

.projects-search {
  position: relative;

  .projects-search-reset {
    display: block;
    position: absolute;
    top: 7px;
    right: 7px;
    z-index: 1020;

    opacity: 0.8;
    line-height: 20px;
    font-size: 14px;

    margin-left: 2px;
  }
}

.elliptic-button {
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;

  padding: 0.25rem 0.75rem;
  font-size: 0.875rem;

  color: var(--bs-secondary);
  background-color: var(--bs-body-bg);
  border: 1px solid var(--bs-border-color);
  border-radius: 999px;

  transition: color .15s ease-in-out,
    background-color .15s ease-in-out,
    border-color .15s ease-in-out,
    box-shadow .15s ease-in-out;
}

.elliptic-button:hover {
  background-color: var(--bs-secondary-bg);
  text-decoration: none;
}

.elliptic-button:focus-visible {
  outline: 0;
  box-shadow: 0 0 0 .25rem rgba(var(--bs-secondary-rgb), .25);
}

.row-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  color: var(--bs-secondary-color);
  padding-left: 5px;
}

.row-container:not(:last-child):after {
  /* Add line between each container element */
  content: '';
  width: 100%;
  height: 1px;
  background-color: var(--bs-border-color);
  margin-top: 10px;
  margin-bottom: 10px;
}

.search-container {
  width: 100%;

  .search-field {
    width: 100%;
  }
}

.projects-datepicker .react-datepicker__close-icon::after {
  background-color: var(--bs-body-bg);
  color: var(--bs-body-color);
  font-size: 1.5em;
}

.dropzone-container {
  width: 100%;
  padding: 10px;
}

.dropzone {
  border: 2px dashed var(--bs-border-color);
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  transition: border .24s ease-in-out;
}

.dropzone:focus {
  border-color: var(--bs-primary);
}

/* Add additional styling for when files are being dragged over the dropzone */
.dropzone.drag-active {
  border-color: var(--bs-primary);
}

/* Add styles for when the dropzone is disabled */
.dropzone.disabled {
  opacity: 0.6;
}

/* Selected style for muted select options */
.react-select__menu .react-select__option--is-selected .text-muted {
  color: var(--bs-white);
}
