.project-dropdown:focus-within .dropdown-menu {
  display: block;
}

.project-hierarchy {
    ul {
        margin-bottom: 0;
    }
}

.card.card-tile {
    --bs-card-border-radius: 0;

    border: none;
    cursor: pointer;

    img {
        height: 7.5rem;
    }
}
