{% extends 'core/page.html' %}
{% load i18n core_tags %}

{% block headline %}

    <h6>{% trans 'Interview' %}</h6>
    <h2>{{ interview.title }}</h2>

{% endblock %}

{% block sidebar %}

    <h3>{% trans 'Options' %}</h3>

    <ul class="list-unstyled">
        <li>{% internal_link _('Update basic information') 'interview_update' interview.pk %}</li>
        <li>{% internal_link _('Delete interview') 'interview_delete' interview.pk %}</li>
    </ul>

    <ul class="list-unstyled">
        <li>{% internal_link _('Restart interview') 'interview_start' interview.pk %}</li>
{% if not interview.completed %}
        <li>{% internal_link _('Resume interview') 'interview_resume' interview.pk %}</li>
{% endif %}
    </ul>

    <ul class="list-unstyled">
        <li>{% internal_link _('Back to project') 'project' interview.project.pk %}</li>
    </ul>

{% endblock %}

{% block page %}

    <h3>{% trans 'Basic information' %}</h3>

    <dl class="dl-horizontal">
        <dt>{% trans 'Title' %}</dt>
        <dd>{{ interview.title }}</dd>

        <dt>{% trans 'Project' %}</dt>
        <dd>{% internal_link interview.project.name 'project' interview.project.pk %}</dd>

        <dt>{% trans 'Created' %}</dt>
        <dd>{{ interview.created }}</dd>

        <dt>{% trans 'Last updated' %}</dt>
        <dd>{{ interview.updated }}</dd>
    </dl>

    <h3>{% trans 'Answered questions' %}</h3>

    <table class="table">
        <thead>
            <tr>
                <th style="width: 50%">Question</th>
                <th style="width: 30%">Answer</th>
                <th style="width: 20%"></th>
            </tr>
        </thead>
        <tbody>
        {% for answer in interview.answers.all %}
            <tr>
                <td>{{ answer.question.text }}</td>
                <td>{{ answer.value }}</td>
                <td>{% internal_link _('Resume from here') 'interview_group' interview.pk answer.question.group.pk %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% if interview.completed %}
    <p>{% trans 'This interview is completed.' %}</p>
{% endif %}

{% endblock %}
