{% extends 'core/page.html' %}
{% load i18n core_tags %}

{% block headline %}

    <h6>{% trans 'Interview' %}</h6>
    <h2>{{ interview.title }}</h2>

{% endblock %}

{% block sidebar %}

    <h3>{% trans 'Options' %}</h3>

    <ul class="list-unstyled">
        <li>{% internal_link _('Update basic information') 'interview_update' interview.pk %}</li>
        <li>{% internal_link _('Delete interview') 'interview_delete' interview.pk %}</li>
    </ul>

    <ul class="list-unstyled">
        <li>{% internal_link _('Restart interview') 'interview_start' interview.pk %}</li>
{% if not interview.completed %}
        <li>{% internal_link _('Resume interview') 'interview_resume' interview.pk %}</li>
{% endif %}
    </ul>

    <ul class="list-unstyled">
        <li>{% internal_link _('Back to project') 'project' interview.project.pk %}</li>
    </ul>

{% endblock %}

{% block page %}

    <h3>{% trans 'Basic information' %}</h3>

    <dl class="dl-horizontal">
        <dt>{% trans 'Title' %}</dt>
        <dd>{{ interview.title }}</dd>

        <dt>{% trans 'Project' %}</dt>
        <dd>{% internal_link interview.project.title 'project' interview.project.pk %}</dd>

        <dt>{% trans 'Created' %}</dt>
        <dd>{{ interview.created }}</dd>

        <dt>{% trans 'Last updated' %}</dt>
        <dd>{{ interview.updated }}</dd>
    </dl>

{% for section in answer_tree %}

    <h3>{{ section.title }}</h3>

{% for subsection in section.subsections %}

    <h4>{{ subsection.title }}</h4>

{% for group in subsection.groups %}

    <h5>{{ group.title }}</h5>
    <div class="pull-right">
        <a href="{% url 'interview_group' interview.pk group.pk %}" class="small glyphicon glyphicon-pencil"></a>
    </div>

{% for question in group.questions %}

    <strong>{{ question.text }}</strong>
    <p>{{ question.answer }}</p>

{% endfor %}

{% endfor %}

{% endfor %}

{% endfor %}

{% if interview.completed %}
    <p>{% trans 'This interview is completed.' %}</p>
{% endif %}

{% endblock %}
