{% extends 'core/page.html' %}
{% load i18n staticfiles %}

{% block page %}

<h2>{% trans 'Questions' %}</h2>

{% for section in sections %}

<h3>{{ section.title }}</h3>

{% for subsection in section.subsections.all %}

<h4>{{ subsection.title }}</h4>

<table class="table">
    <thead>
        <tr>
            <th style="width: 25%;">Slug</th>
            <th style="width: 65%;">Text</th>
            <th style="width: 10%;">Type</th>
        </tr>
    </thead>
    <tbody>
    {% for question in subsection.questions.all %}
        <tr>
            <td>{{ question.slug }}</td>
            <td>{{ question.text }}</td>
            <td>{{ question.answer_type }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endfor %}

{% endfor %}

{% endblock %}
