{% extends 'core/page.html' %}
{% load i18n staticfiles %}

{% block head %}
<script src="{% static 'requirejs/require.js' %}"></script>
<script>
require.config({
    baseUrl: "{% static 'graphviz-d3-renderer/dist/' %}",
    paths: {
        'd3': "{% static 'd3/d3' %}",
        'dot-checker': "{% static 'graphviz-d3-renderer/dist/dot-checker' %}",
        'layout-worker': "{% static 'graphviz-d3-renderer/dist/layout-worker' %}",
        'worker': "{% static 'requirejs-web-workers/src/worker' %}"
    }
});

require(["renderer"], function (renderer) {
    // initialize svg stage
    renderer.init("#canvas");

    // prepare dot string
    var dot = "digraph G { node [shape=box]";
    {% for question in questions %}
    dot += " {{ question.slug }} [label=\"{{question.identifier}} {{question.text}}\"]";

    {% for next in question.next.all %}
    dot += " {{ question.slug }} -> {{next.slug}}";
    {% endfor %}
    {% endfor %}
    dot += " }";

    // render dot string
    renderer.render(dot);
});
</script>
<style>
    #canvas {
        width: 100%;
        max-height: 600px;
        text-align: center;
        overflow: auto;
        border: 2px solid #ddd;
    }
</style>
{% endblock %}

{% block page %}

<h2>{% trans 'Questions' %}</h2>

<table class="table">
    <thead>
        <tr>
            <th style="width: 10%">Identifier</th>
            <th style="width: 10%">Slug</th>
            <th style="width: 60%">Text</th>
            <th style="width: 20%">Type</th>
        </tr>
    </thead>
    <tbody>
    {% for question in questions %}
        <tr>
            <td>{{ question.identifier }}</td>
            <td>{{ question.slug }}</td>
            <td>{{ question.text }}</td>
            <td>{{ question.answer_type }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<h2>{% trans 'Sequence' %}</h2>

<div id="canvas"></div>

{% endblock %}
