{% extends 'core/page.html' %}
{% load i18n %}

{% block page %}

<h2>{% trans 'Delete subsection' %}</h2>

<p>
    {% trans 'You are about to permanently delete the subsection' %} <code>{{ object }}</code>:
</p>

<blockquote>
    Title: {{ object.title}}
</blockquote>

{% trans 'This will also delete all questions associated with this section.' %}

<p class="text-danger" style="margin-bottom: 20px;">
    {% trans 'Warning: This action cannot be undone!' %}
</p>

{% include 'core/_delete_form.html' with submit_value=_('Delete subsection') %}

{% endblock %}
