{% extends 'core/page.html' %}
{% load i18n %}
{% load core_tags %}
{% load accounts_tags %}

{% block page %}

    <h1>{% trans "Delete membership" %}</h1>

    <p>
        {% full_name object.user as user %}
        {% blocktrans with object.project.title as title trimmed %}
        You can not remove <strong>{{ user }}</strong> from the project <strong>{{ title }}</strong> as he seems to be the only owner.
        {% endblocktrans %}
    </p>

    <p>
        {% trans "You will be redirected shortly." %}
    </p>

    <script type="text/javascript">
        window.setTimeout(function(){
            window.location.replace('{% url 'project' object.project.id %}');
        }, 5000);
    </script>

{% endblock %}
