{% extends 'core/page.html' %}
{% load static %}
{% load i18n %}
{% load core_tags %}

{% block head %}
    <meta name='project' content="{{ project.id }}" />
    <meta name='execute_script_tags' content="{{ settings.TEMPLATES_EXECUTE_SCRIPT_TAGS|lower }}" />
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'projects/css/interview.css' %}" />
    {{ block.super }}
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'projects/js/interview.js' %}" defer></script>
{% endblock %}

{% block sidebar %}

    <div id="sidebar"></div>

{% endblock %}

{% block page %}

    <div id="main" class="interview"></div>

{% endblock %}
