{% load i18n %}

{% if sidebar %}

    <div class="form-group">
        <div class="pull-right">
            <button type="button" ng-click="service.next()" ng-disabled="!service.page.next_page"
                    class="btn btn-default btn-xs">
                {% if settings.PROJECT_QUESTIONS_AUTOSAVE %}
                {% trans 'Proceed' %}
                {% else %}
                {% trans 'Skip' %}
                {% endif %}
            </button>
        </div>
        <div>
            <button type="button" ng-click="service.prev()" ng-disabled="!service.page.prev_page"
                    class="btn btn-default btn-xs">
                {% trans 'Back' %}
            </button>
        </div>
    </div>

{% else %}

    <div class="form-group questions-buttons">
        <div class="pull-right">
            <div ng-hide="service.project.read_only || service.page.elements.length < 1">
                {% if settings.PROJECT_QUESTIONS_AUTOSAVE %}
                <button type="button" ng-click="service.prev()" ng-disabled="!service.page.prev_page"
                        class="btn btn-default">
                    {% trans 'Back' %}
                </button>
                {% else %}
                <button type="button" ng-click="service.save(false)" class="btn btn-default">
                    {% trans 'Save' %}
                </button>
                {% endif %}
                <button type="button" ng-click="service.save(true)" class="btn btn-primary">
                    <span ng-show="service.page.next_page">
                        {% if settings.PROJECT_QUESTIONS_AUTOSAVE %}
                        {% trans 'Proceed' %}
                        {% else %}
                        {% trans 'Save and proceed' %}
                        {% endif %}
                    </span>
                    <span ng-hide="service.page.next_page">
                        {% if settings.PROJECT_QUESTIONS_AUTOSAVE %}
                        {% trans 'Complete questionnaire' %}
                        {% else %}
                        {% trans 'Save and complete questionnaire' %}
                        {% endif %}
                    </span>
                </button>
            </div>
            <div ng-show="service.project.read_only || service.page.elements.length < 1">
                <button type="button" ng-click="service.next()" class="btn btn-primary">
                    {% trans 'Proceed' %}
                </button>
            </div>
        </div>

        {% if not settings.PROJECT_QUESTIONS_AUTOSAVE %}
        <div>
            <button type="button" ng-click="service.prev()" ng-disabled="!service.page.prev_page"
                    class="btn btn-default">
                {% trans 'Back' %}
            </button>
            <button type="button" ng-click="service.next()" ng-disabled="!service.page.next_page"
                    class="btn btn-default">
                {% trans 'Skip' %}
            </button>
        </div>
        {% endif %}
    </div>

{% endif %}
