{% load i18n %}

    <div ng-if="question.widget_type === 'radio'">

        <div class="form-group" ng-if="!question.attribute.is_collection">
            <div class="form-label">
                {$ question.text $}
            </div>

            <div class="help-text" ng-bind-html="question.help"></div>

            <div class="radio-control">
                <div class="radio" ng-repeat="option in question.attribute.options"  ng-hide="option.hidden">
                    <label>
                        <input type="radio" ng-value="option.id"
                            ng-model="service.values[question.attribute.id][0].option"
                            ng-change="service.values[question.attribute.id][0].option = option.id"
                            ng-disabled="service.project.read_only" />

                        <span>{$ option.text $}</span><span ng-show="option.additional_input">:</span>

                        <input class="form-control input-sm" type="text"
                            ng-show="option.additional_input"
                            ng-model="service.values[question.attribute.id][0].input[option.id]"
                            ng-change="changeRadio(service.values[question.attribute.id][0], option.id)"
                            ng-focus="changeRadio(service.values[question.attribute.id][0], option.id)"
                            ng-disabled="service.project.read_only" />
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group" ng-if="question.attribute.is_collection">
            <div class="form-label">
                {$ question.text $}
            </div>

            <div class="help-text" ng-bind-html="question.help"></div>

            {% include 'projects/project_questions_add_field_help.html' %}

            <div ng-repeat="value in service.values[question.attribute.id] track by $index">
                <div class="collection" ng-hide="value.removed">
                    <div class="radio-control">

                        {% include 'projects/project_questions_remove_field.html' %}

                        <div class="radio" ng-repeat="option in question.attribute.options" ng-hide="option.hidden">
                            <label>
                                <input type="radio" ng-value="option.id"
                                    ng-model="value.option"
                                    ng-change="value.option = option.id"
                                    ng-disabled="service.project.read_only" />

                                <span>{$ option.text $}</span><span ng-show="option.additional_input">:</span>

                                <input class="form-control input-sm" type="text"
                                    ng-show="option.additional_input"
                                    ng-model="value.input[option.id]"
                                    ng-change="changeRadio(value, option.id)"
                                    ng-focus="changeRadio(value, option.id)"
                                    ng-disabled="service.project.read_only" />
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            {% include 'projects/project_questions_add_field_button.html' %}

        </div>

    </div>
