{% load i18n %}

{% include 'projects/project_questions_navigation_help.html' %}

<ul class="list-unstyled project-questions-overview">
    <li ng-repeat="section in service.project.catalog.sections">
        <a href="" ng-click="service.jump(section)">
            {$ section.title $}
        </a>

        <ul class="list-unstyled"
            ng-show="section.id == service.page.section.id">
            <li ng-repeat="page in section.pages"
                ng-class="{'active': page.id == service.page.id}">

                <a href="" ng-click="service.jump(section, page)">
                    <span>{$ page.title $}<span>
                    <span ng-show="page.has_conditions" class="small">
                        <i class="fa fa-question-circle-o small" aria-hidden="true"></i>
                    </span>
                </a>
            </li>
        </ul>
    </li>
</ul>
