{% extends 'core/base.html' %}
{% load static %}

{% block head %}
    <meta name='project' content="{{ project.id }}" />
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'projects/css/project.css' %}" />
    {{ block.super }}
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'projects/js/project.js' %}" defer></script>
{% endblock %}

{% block content %}

    <div class="d-flex flex-row project">
        <aside id="sidebar" class="project-sidebar"></aside>
        <main id="main" class="project-main"></main>
    </div>

{% endblock %}
