{% load i18n %}
{% load core_tags %}


{% if error.type == 'no_catalog' %}
    <h2>{% trans "No Questions" %}</h2>
    <p>{% trans "The project does appear not to have a question catalog." %}</p>
{% endif %}

{% if error.redirect_target %}
    <p>{% trans "You will be redirected shortly " %}</p>
    <script type="text/javascript">
        var pause = "{{error.redirect_pause}}";
        window.setTimeout(function(){
            var url = "{{error.redirect_target}}";
            window.location.replace(url);
        }, pause);
    </script>
{% endif %}
