{% load i18n %}

<div class="project-progress-count" ng-show="service.progress.ratio <= 0.25">
{% blocktrans trimmed with count='{$ service.progress.count $}' total='{$ service.progress.total $}' %}
    {{ count }} of {{ total }}
{% endblocktrans %}
</div>
<div class="progress project-progress">
    <div class="progress-bar" role="progressbar" style="width: {$ service.progress.ratio * 100 $}%;">
        <span ng-show="service.progress.ratio > 0.25">
            {% blocktrans trimmed with count='{$ service.progress.count $}' total='{$ service.progress.total $}' %}
                {{ count }} of {{ total }}
            {% endblocktrans %}
        </span>
    </div>
</div>
