{% load i18n %}

    <div ng-if="question.widget_type === 'textarea'">

        <div class="form-group" ng-if="!question.attribute.is_collection">
            <label for="id_{$ question.attribute.id $}">
                {$ question.text $}
            </label>

            <div class="help-text" ng-bind-html="question.help"></div>

            <textarea class="form-control" rows="6"
                id="id_{$ question.attribute.id $}"
                ng-model="service.values[question.attribute.id][0].text"
                ng-disabled="service.project.read_only">
            </textarea>
        </div>

        <div class="form-group" ng-if="question.attribute.is_collection">
            <div class="form-label">
                {$ question.text $}
            </div>

            <div class="help-text" ng-bind-html="question.help"></div>

            {% include 'projects/project_questions_add_field_help.html' %}

            <div ng-repeat="value in service.values[question.attribute.id] track by $index">
                <div class="collection" ng-hide="value.removed">

                    {% include 'projects/project_questions_remove_field.html' %}

                    <textarea class="form-control" ng-model="value.text" rows="6"
                        ng-attr-id="id_{$ question.attribute.id $}_{$ $index $}"
                        ng-disabled="service.project.read_only">
                    </textarea>
                </div>
            </div>

            {% include 'projects/project_questions_add_field_button.html' %}

        </div>

    </div>
