{% load view_tags %}

{% if element.text %}
    {# this is a question #}

    <p><strong>{{ element.text }}</strong></p>

    {% get_set_prefixes element.attribute project=project_wrapper as set_prefixes %}
    {% for set_prefix in set_prefixes %}

        {% get_set_indexes element.attribute set_prefix=set_prefix project=project_wrapper as set_indexes %}
        {% for set_index in set_indexes %}

            {% get_values element.attribute set_prefix=set_prefix set_index=set_index project=project_wrapper as values %}
            {% get_labels element set_prefix=set_prefix set_index=set_index project=project_wrapper as labels %}
            {% check_element element set_prefix=set_prefix set_index=set_index project=project_wrapper as question_result %}

            {% if question_result %}
                {% if values|is_not_empty|length > 1 %}

                    {% if labels %}
                    <p>
                        <em>{{ labels|join:', ' }}:</em>
                    </p>
                    {% endif %}

                    <ul>
                        {% include 'views/tags/value_list.html' %}
                    </ul>

                {% elif values|is_not_empty|length == 1 %}

                    <p>
                        {% if labels %}<em>{{ labels|join:', ' }}:</em>&ensp;{% endif %}
                        {% include 'views/tags/value.html' with value=values.0 %}
                    </p>

                {% endif %}
            {% endif %}

        {% endfor %}
    {% endfor %}

{% else %}
    {# this is a questionset #}

    {% for element in element.elements %}
        {% include 'projects/project_answers_element.html' %}
    {% endfor %}

{% endif %}
