{% extends 'core/page.html' %}
{% load i18n %}
{% load core_tags %}

{% block head %}
<script>
    $(document).ready(function() {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
{% endblock %}

{% block page %}

{% if object %}

    {% if form.fields.catalogs %}

        <h1>{% trans 'Update project catalog' %}</h1>

    {% elif form.fields.tasks %}

        <h1>{% trans 'Update project tasks' %}</h1>

        <p class="help-block">{% trans 'Please note that their status is lost when you remove tasks from the project.' %}</p>

        {% bootstrap_form submit=_('Save tasks') %}

    {% elif form.fields.views %}

        <h1>{% trans 'Update project views' %}</h1>
        {% bootstrap_form submit=_('Save views') %}

    {% elif request.resolver_match.url_name == 'project_update_visibility' %}

        <h1>{% trans 'Update project visibility' %}</h1>

        <p class="mb-20">
            {% blocktrans trimmed %}
            Projects can be made visible to all users, for example to be used as a template.
            When a project is made visible, users can access it as if they were in the guest role.
            {% endblocktrans %}
        </p>

        {% if object.visibility %}
        {% bootstrap_form submit=_('Save visibility') delete=_('Remove visibility') %}
        {% else %}
        {% bootstrap_form submit=_('Make visible') %}
        {% endif %}

    {% else %}

        <h1>{% trans 'Update project information' %}</h1>
        {% bootstrap_form submit=_('Save project') %}

    {% endif %}

{% else %}

    <h1>{% trans 'Create new project' %}</h1>

    {% bootstrap_form submit=_('Create project') %}

{% endif %}

{% endblock %}
