<div class="col-md-12" ng-hide="element.isQuestion" ng-init="questionset = element">
    <h3>
        {$ questionset.title $}
    </h3>

    <div class="help-text" ng-bind-html="questionset.help"></div>

    <div class="row">
        <div ng-repeat="element in questionset.elements" ng-include src="'element.html'"></div>
    </div>
</div>

<div class="question col-md-{$ question.width || 12 $}" ng-show="element.isQuestion" ng-init="question = element">
    {% include 'projects/project_questions_form_group_text.html' %}
    {% include 'projects/project_questions_form_group_textarea.html' %}
    {% include 'projects/project_questions_form_group_yesno.html' %}
    {% include 'projects/project_questions_form_group_radio.html' %}
    {% include 'projects/project_questions_form_group_select.html' %}
    {% include 'projects/project_questions_form_group_autocomplete.html' %}
    {% include 'projects/project_questions_form_group_date.html' %}
    {% include 'projects/project_questions_form_group_range.html' %}
    {% include 'projects/project_questions_form_group_checkbox.html' %}
    {% include 'projects/project_questions_form_group_file.html' %}
</div>
