{% load i18n %}
{% load rules %}
{% load mptt_tags %}
{% load accounts_tags %}
{% load projects_tags %}

{% has_perm 'projects.change_project_object' request.user project as can_change_project %}

<div class="project-header">
    <h1>{{ project.title }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <td style="width: 20%;">
                    <strong>{% trans 'Description' %}</strong>
                </td>
                <td>
                    {% if can_change_project %}
                    <p class="pull-right">
                        <a href="{% url 'project_update_information' project.pk %}" title="{% trans 'Update project information' %}">
                            <i class="fa fa-pencil"></i>
                        </a>
                    </p>
                    {% endif %}
                    {% if project.description %}
                    {{ project.description }}
                    {% else %}
                    {% trans 'No description available.' %}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>
                    <strong>{% trans 'Catalog' %}</strong>
                </td>
                <td>
                    {% if can_change_project %}
                    <p class="pull-right">
                        <a href="{% url 'project_update_catalog' project.pk %}" title="{% trans 'Update project catalog' %}">
                            <i class="fa fa-pencil"></i>
                        </a>
                    </p>
                    {% endif %}
                    <strong>{{ project.catalog.title }}</strong><br/>
                    {{ project.catalog.help }}
                </td>
            </tr>

            {% if project.is_child_node or project.get_descendant_count %}
            {% drilldown_tree_for_node project as project_tree all_descendants %}
            <tr>
                <td>
                    <strong>{% trans 'Project hierarchy' %}</strong>
                </td>
                <td>
                    {% if can_change_project %}
                    <p class="pull-right">
                        <a href="{% url 'project_update_parent' project.pk %}" title="{% trans 'Update parent project' %}">
                            <i class="fa fa-pencil"></i>
                        </a>
                    </p>
                    {% endif %}

                    <ul class="list-unstyled">
                    {% for node in project_tree %}
                        <li>
                            {% projects_indent node.level %}
                            <a href="{% url 'project' node.id %}">
                                {% if node.id == project.id %}
                                <strong>{{ node.title }}</strong>
                                {% else %}
                                {{ node.title }}
                                {% endif %}
                            </a>
                        </li>
                    {% endfor %}
                    </ul>
                </td>
            </tr>
            {% endif %}
        </tbody>
    </table>
</div>
