{% load i18n %}

    <table class="table projects-table">
        <thead>
            <tr>
                <th style="width: 50%;">{% trans 'Name' %}</th>
                <th style="width: 10%;">{% trans 'Role' %}</th>
                <th style="width: 30%;">{% trans 'Created' %}</th>
                <th style="width: 10%;"></th>
            </tr>
        </thead>
        <tbody>
            {% for project in projects %}
            <tr>
                <td>
                    <a href="{% url 'project' project.pk %}">{{ project.title }}</a>
                </td>
                <td>
                    {{ project.role }}
                </td>
                <td>
                    {{ project.created }}
                </td>
                <td class="text-right">
                    <a href="{% url 'project_update' project.pk %}?next={% url 'projects' %}" class="fa fa-pencil"></a>
                    <a href="{% url 'project_delete' project.pk %}?next={% url 'projects' %}" class="fa fa-trash"></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
