{% load i18n %}

{% include 'projects/project_questions_navigation_help.html' %}

<ul class="list-unstyled project-questions-overview">
    <li ng-repeat="section in service.navigation">
        <a href="" ng-click="service.jump(section)">
            {$ section.title $}
        </a>

        <ul class="list-unstyled"
            ng-show="section.pages">
            <li ng-repeat="page in section.pages"
                ng-class="{'active': page.id == service.page.id}">


                <a href="" ng-click="service.jump(section, page)" ng-show="page.show">
                    <span>{$ page.title $}<span>
                    <span ng-show="page.count > 0 && page.count == page.total">
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </span>
                    <span ng-show="page.count > 0 && page.count != page.total">
                        ({$ page.count $} of {$ page.total $})
                    <span>
                </a>
                <span class="text-muted" ng-hide="page.show">{$ page.title $}<span>
            </li>
        </ul>
    </li>
</ul>
