{% extends 'core/projects_page.html' %}
{% load static %}
{% load compress %}
{% load i18n %}
{% load core_tags %}

{% block vendor %}
{% endblock %}

{% block css %}
    {% compress css %}
    <link rel="stylesheet" href="{% static 'overlays/css/overlays.scss' %}" type="text/x-scss" />
    {% endcompress %}

    <link rel="stylesheet" href="{% static 'projects/css/projects.css' %}" />
    {{ block.super }}
{% endblock %}

{% block js %}
    <script src="{% static 'jquery/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

    <script src="{% url 'javascript-catalog' %}"></script>
    <script src="{% static 'projects/js/projects.js' %}" defer></script>

    <script type="text/javascript" src="{% static 'overlays/js/overlays.js' %}" ></script>
    <script>
        $(document).ready(function() {
            setTimeout(function() {initOverlays('projects')}, 500);
        });
    </script>
{% endblock %}

{% block page %}

    <div id="main" class="projects"></div>

    <div id="support-info"></div>

    {% render_lang_template 'projects/overlays/projects_create_project' %}
    {% render_lang_template 'projects/overlays/projects_projects_table' %}
    {% render_lang_template 'projects/overlays/projects_import_project' %}
    {% render_lang_template 'projects/overlays/projects_support_info' %}

{% endblock %}
