{% load i18n %}

    <div class="form-group" ng-if="question.widget_type === 'yesno'">
        <div class="form-label">
            {$ question.text $}
        </div>

        <div class="help-text" ng-bind-html="question.help"></div>

        <div ng-if="question.is_collection">
            {% include 'projects/project_questions_add_field_help.html' %}
        </div>

        <div ng-repeat="value in service.values[question.attribute.id] track by $index">
            <div class="collection" ng-hide="value.removed">
                <div class="radio-control">

                    <div class="options">
                        {% include 'projects/project_questions_erase_field.html' %}
                        {% include 'projects/project_questions_remove_field.html' %}
                    </div>

                    <div class="radio yesno">
                        <label>
                            <input type="radio" value="1"
                                ng-model="value.text"
                                ng-disabled="service.project.read_only" />
                            <span>{% trans 'Yes' %}</span>
                        </label>
                        <label class=>
                            <input type="radio" value="0"
                                ng-model="value.text"
                                ng-disabled="service.project.read_only" />
                            <span class="">{% trans 'No' %}</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div ng-if="question.is_collection">
            {% include 'projects/project_questions_add_field_button.html' %}
        </div>
    </div>
