{% load core_tags %}

{% for section in project_wrapper.catalog.sections %}

    <h2>{{ section.title|markdown }}</h2>

    {% for page in section.pages %}

        <h3>{{ page.title|markdown }}</h3>
        {% if include_help and page.help %}
            <blockquote class="page-help"><p>{{ page.help|markdown }}</p></blockquote>
        {% endif %}

        {% for element in page.elements %}

            {% include 'projects/project_answers_element.html' %}

        {% endfor %}

    {% endfor %}

{% endfor %}
