{% extends 'core/page.html' %}
{% load i18n %}
{% load rules %}
{% load core_tags %}

{% block sidebar %}

    {% include 'projects/project_detail_sidebar.html' %}

{% endblock %}

{% block page %}

    <h1>{{ project.title }}</h1>

    <h2>{% trans 'Description' %}</h2>

    {% if project.description %}

    <div>{{ project.description }}</div>

    {% else %}

    <p>{% trans 'No description available.' %}</p>

    {% endif %}

    {% include 'projects/project_detail_issues.html' %}
    {% include 'projects/project_detail_views.html' %}
    {% include 'projects/project_detail_snapshots.html' %}
    {% include 'projects/project_detail_memberships.html' %}

{% endblock %}
