{% extends 'core/page.html' %}
{% load static %}
{% load i18n %}
{% load core_tags %}

{% block vendor %}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'core/dist/css/base.css' %}" />
    <link rel="stylesheet" href="{% static 'projects/dist/css/interview.css' %}" />
{% endblock %}

{% block js %}
    <script src="{% url 'javascript-catalog' %}"></script>
    <script src="{% static 'core/dist/js/base.js' %}" defer></script>
    <script src="{% static 'projects/dist/js/interview.js' %}" defer></script>
{% endblock %}

{% block sidebar %}

    <div id="sidebar"></div>

{% endblock %}

{% block page %}

    <div id="main" class="interview"></div>

{% endblock %}
