{% extends 'core/page.html' %}
{% load i18n %}
{% load static %}
{% load compress %}
{% load core_tags %}
{% load accounts_tags %}

{% block head %}
    {% compress css %}
    <link rel="stylesheet" href="{% static 'projects/css/projects.scss' %}" type="text/x-scss" />
    {% endcompress %}
{% endblock %}

{% block sidebar %}

    <h2>{% trans 'My Data' %}</h2>

    {% user_data_as_dl user %}

    <h2>{% trans 'Search projects' %}</h2>

    <form method="GET">
        <input type="text" class="form-control" id="search" name="title" placeholder=" {% trans 'Search project title' %}"
               value="{{request.GET.title }}" />
    </form>

    <h2>{% trans 'Options' %}</h2>

    <ul class="list-unstyled">
        <li>
            <a href="{% url 'project_create' %}">{% trans 'Create new project' %}</a>
        </li>
    </ul>

    {% if is_site_manager %}
    <ul class="list-unstyled">
        <li>
            <a href="{% url 'site_projects' %}">
                {% blocktrans trimmed with site=request.site %}View all projects on {{ site }}{% endblocktrans %}
            </a>
        </li>
    </ul>
    {% endif %}

    <h2>{% trans 'Import as new project' %}</h2>

    <ul class="list-unstyled">
        <li>
            {% url 'project_create_upload' as upload_url %}
            {% include 'core/upload_form.html' with upload_url=upload_url %}
        </li>
    </ul>

{% endblock %}

{% block page %}
    <h1>{% trans 'My Projects' %}</h1>

    {% include 'projects/projects_table.html' %}
    {% include 'projects/projects_pagination.html' %}
{% endblock %}
